@{
    Layout = "_LayoutLogin";
    ViewData["Title"] = "ConfirmReset Password";
    string userId = (string)ViewBag.userId;
    string code = (string)ViewBag.code;
}
<div class="form-body">
    <div class="website-logo">
        <a href="#">
            <div class="d-flex justify-content-between align-items-center text-center">
                <div>
                    <button class="btn btn-outline-primary m-3">
                        <a asp-controller="Home" asp-action="Index" class="text-bg-outline-primary text-decoration-none">Go Back Home</a>
                    </button>
                </div>
                <div class="logo">
                    <object data="~/images/logo-light.svg" type="image/svg+xml" class="bg-primary" width="100" height="50">
                        Your browser does not support SVG
                    </object>
                </div>

            </div>
        </a>
    </div>
    <div class="row">
        <div class="img-holder">
            <div class="bg"></div>
            <div class="info-holder">
                <object data="~/images/graphic1.svg" type="image/svg+xml" width="500" height="600">
                    Your browser does not support SVG
                </object>
            </div>
        </div>
        <div class="form-holder">
            <div class="form-content">
                <div class="form-items">
                    <h3>Reset Password</h3>
                    <p>Please enter the new password and confirm password to be able to change the password</p>
                    <div class="page-links">
                        <a asp-controller="User" asp-action="Login">Login</a><a asp-controller="User" asp-action="Register">Register</a>
                        <a asp-controller="User" asp-action="ConfirmAccount">Confirm Account</a>
                    </div>
                    <form method="post" id="passwordForm">
                        <input type="hidden" name="userId" value="@userId"/>
                        <input type="hidden" name="code" value="@code"/>
                        <div class="form-group">
                            <label for="newpassword" class="control-label">New Password</label>
                            <input id="newpassword" type="password" name="newPassword" class="form-control" placeholder="Enter New Password!" />
                        </div>
                        <div class="form-group">
                            <label for="confirmpass" class="control-label">Confirm Pass</label>
                            <input id="confirmpass" type="password" name="confirmPassword" class="form-control" placeholder="Enter Confirm Password!" />
                        </div>
                        <div class="form-button">
                            <button asp-controller="User" asp-action="ConfirmResetPassword" id="submit" type="submit" class="ibtn">ResetPassword</button>
                        </div>
                    </form>
                    <div class="other-links">
                        <span>Or login with</span><a href="#">Facebook</a><a href="#">Google</a><a href="#">Linkedin</a>
                    </div>
                </div>
                <div class="form-sent">
                    <div class="tick-holder">
                        <div class="tick-icon"></div>
                    </div>
                    <h3>Password link sent</h3>
                    <p>Please check your inbox <a href="https://brandio.io/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="99f0f6ffebf4d9f0f6ffebf4edfcf4e9f5f8edfcb7f0f6">[email&#160;protected]</a></p>
                    <div class="info-holder">
                        <span>Unsure if that email address was correct?</span> <a href="#">We can help</a>.
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts{
    @await Html.PartialAsync("_ValidationScriptsPartial");
    @await Html.PartialAsync("_ToastMessage");
    <script>
        $(document).ready(function () {
            $('#passwordForm').on('submit', function (event) {
                var newPassword = $('#newpassword').val();
                var confirmPassword = $('#confirmpass').val();

                if (newPassword !== confirmPassword) {
                    toastr.options = {
                        "closeButton": false,
                        "debug": false,
                        "newestOnTop": true,
                        "progressBar": true,
                        "positionClass": "toast-top-right",
                        "preventDuplicates": true,
                        "onclick": null,
                        "showDuration": "300",
                        "hideDuration": "1000",
                        "timeOut": "5000",
                        "extendedTimeOut": "1000",
                        "showEasing": "swing",
                        "hideEasing": "linear",
                        "showMethod": "fadeIn",
                        "hideMethod": "fadeOut"
                    };
                    toastr["error"]('Hai mật khẩu không khớp nhau')
                    event.preventDefault(); // Ngăn chặn việc submit form
                } 
            });
        });
    </script>
}