
WebNewsAPIs/.vs/WebNewsAPIs/FileContentIndex/9f79dcbe-7af9-48ed-bb90-755740305b24.vsidx
/WebNewsAPIs/.vs
/WebNewsAPIs/bin/Debug
/WebNewsClients/bin/Debug
/WebNewsClients/obj/Debug
/Repositories/bin/Debug
/Repositories/obj/Debug
/BusinessObjects/bin/Debug
/BusinessObjects/obj/Debug
/AccessDatas/obj/Debug
/AccessDatas/bin/Debug