<div id="body-main-wrap" class="left relative">
	<div class="body-main-out relative">
		<div class="body-main-in">
			<div id="body-main-cont" class="left relative">
				<div id="leader-wrap" class="left relative">
					<div style="width: 90%; height: 30px; background: #ddd; text-align: center; display: inline-block; color: #bbb; font-family: 'Open Sans', sans-serif; font-weight: 700; font-size: 1.2rem; white-space: nowrap; padding: 30px 5% 0; overflow: hidden;">RESPONSIVE LEADERBOARD AD AREA</div>
				</div><!--leader-wrap-->
				<div id="home-main-wrap" class="left relative">
					<div class="home-wrap-out1">
						<div class="home-wrap-in1">
							<div id="home-left-wrap" class="left relative">
								<div id="home-left-col" class="relative">
									<div id="home-mid-wrap" class="left relative">
										<div id="archive-list-wrap" class="left relative">
											<h1 class="arch-head">Authors List</h1>
											<div class="archive-list-left left relative">
												<div class="author-page-box left relative">
													<div class="author-page-out">
														<div class="author-page-img left relative">
															<img alt='' src='https://secure.gravatar.com/avatar/ace9a57f1346d0657bcedfa39507830e?s=63&amp;d=mm&amp;r=g' srcset='https://secure.gravatar.com/avatar/ace9a57f1346d0657bcedfa39507830e?s=126&#038;d=mm&#038;r=g 2x' class='avatar avatar-63 photo' height='63' width='63' loading='lazy' decoding='async' />
														</div><!--author-page-img-->
														<div class="author-page-in">
															<div class="author-page-text left relative">
																<h2 class="author-list-head"><a href="../author/fanpress/index.html">Flex Mag Staff</a></h2>
																<ul class="author-social left relative">
																	<li class="fb-item">
																		<a href="http://www.facebook.com/envato" alt="Facebook" class="fb-but" target="_blank"><i class="fa fa-facebook-square fa-2"></i></a>
																	</li>
																	<li class="twitter-item">
																		<a href="http://www.twitter.com/mvpthemes" alt="Twitter" class="twitter-but" target="_blank"><i class="fa fa-twitter-square fa-2"></i></a>
																	</li>
																	<li class="pinterest-item">
																		<a href="http://www.pinterest.com/envato" alt="Pinterest" class="pinterest-but" target="_blank"><i class="fa fa-pinterest-square fa-2"></i></a>
																	</li>
																	<li class="google-item">
																		<a href="https://plus.google.com/u/0/117387558594263929098" alt="Google Plus" class="google-but" target="_blank"><i class="fa fa-google-plus-square fa-2"></i></a>
																	</li>
																	<li class="instagram-item">
																		<a href="http://www.instagram.com/envato" alt="Instagram" class="instagram-but" target="_blank"><i class="fa fa-instagram fa-2"></i></a>
																	</li>
																	<li class="linkedin-item">
																		<a href="http://www.linkedin.com/company/envato" alt="Linkedin" class="linkedin-but" target="_blank"><i class="fa fa-linkedin-square fa-2"></i></a>
																	</li>
																	<li class="email-item">
																		<a href="mailto:mvpthemes.alt@gmail.com"><i class="fa fa-envelope-square fa-2"></i></a>
																	</li>
																</ul>
															</div><!--author-page-text-->
														</div><!--author-page-in-->
													</div><!--author-page-out-->
												</div><!--author-page-box-->
												<div class="author-box-bot left relative">
													<p>Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur. Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae.</p>
												</div><!--author-box-bot-->
												<div class="author-page-box left relative">
													<div class="author-page-out">
														<div class="author-page-img left relative">
															<img alt='' src='https://secure.gravatar.com/avatar/c384934c5206d74fbf3edf07645c90fe?s=63&amp;d=mm&amp;r=g' srcset='https://secure.gravatar.com/avatar/c384934c5206d74fbf3edf07645c90fe?s=126&#038;d=mm&#038;r=g 2x' class='avatar avatar-63 photo' height='63' width='63' loading='lazy' decoding='async' />
														</div><!--author-page-img-->
														<div class="author-page-in">
															<div class="author-page-text left relative">
																<h2 class="author-list-head"><a href="../author/flex-mag-writer/index.html">Flex Mag Writer</a></h2>
																<ul class="author-social left relative">
																	<li class="fb-item">
																		<a href="http://www.facebook.com/envato" alt="Facebook" class="fb-but" target="_blank"><i class="fa fa-facebook-square fa-2"></i></a>
																	</li>
																	<li class="twitter-item">
																		<a href="http://www.twitter.com/mvpthemes" alt="Twitter" class="twitter-but" target="_blank"><i class="fa fa-twitter-square fa-2"></i></a>
																	</li>
																	<li class="pinterest-item">
																		<a href="http://www.pinterest.com/envato" alt="Pinterest" class="pinterest-but" target="_blank"><i class="fa fa-pinterest-square fa-2"></i></a>
																	</li>
																	<li class="google-item">
																		<a href="https://plus.google.com/u/0/117387558594263929098" alt="Google Plus" class="google-but" target="_blank"><i class="fa fa-google-plus-square fa-2"></i></a>
																	</li>
																	<li class="instagram-item">
																		<a href="http://www.instagram.com/envato" alt="Instagram" class="instagram-but" target="_blank"><i class="fa fa-instagram fa-2"></i></a>
																	</li>
																	<li class="linkedin-item">
																		<a href="http://www.linkedin.com/company/envato" alt="Linkedin" class="linkedin-but" target="_blank"><i class="fa fa-linkedin-square fa-2"></i></a>
																	</li>
																	<li class="email-item">
																		<a href="mailto:biv@mvpthemes.com"><i class="fa fa-envelope-square fa-2"></i></a>
																	</li>
																</ul>
															</div><!--author-page-text-->
														</div><!--author-page-in-->
													</div><!--author-page-out-->
												</div><!--author-page-box-->
												<div class="author-box-bot left relative">
													<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
												</div><!--author-box-bot-->
												<div class="author-page-box left relative">
													<div class="author-page-out">
														<div class="author-page-img left relative">
															<img alt='' src='https://secure.gravatar.com/avatar/53b289a8e867ca4b335cc8e732716fab?s=63&amp;d=mm&amp;r=g' srcset='https://secure.gravatar.com/avatar/53b289a8e867ca4b335cc8e732716fab?s=126&#038;d=mm&#038;r=g 2x' class='avatar avatar-63 photo' height='63' width='63' loading='lazy' decoding='async' />
														</div><!--author-page-img-->
														<div class="author-page-in">
															<div class="author-page-text left relative">
																<h2 class="author-list-head"><a href="../author/flex-mag-author/index.html">Flex Mag Author</a></h2>
																<ul class="author-social left relative">
																	<li class="fb-item">
																		<a href="http://www.facebook.com/envato" alt="Facebook" class="fb-but" target="_blank"><i class="fa fa-facebook-square fa-2"></i></a>
																	</li>
																	<li class="twitter-item">
																		<a href="http://www.twitter.com/mvpthemes" alt="Twitter" class="twitter-but" target="_blank"><i class="fa fa-twitter-square fa-2"></i></a>
																	</li>
																	<li class="pinterest-item">
																		<a href="http://www.pinterest.com/envato" alt="Pinterest" class="pinterest-but" target="_blank"><i class="fa fa-pinterest-square fa-2"></i></a>
																	</li>
																	<li class="google-item">
																		<a href="https://plus.google.com/u/0/117387558594263929098" alt="Google Plus" class="google-but" target="_blank"><i class="fa fa-google-plus-square fa-2"></i></a>
																	</li>
																	<li class="instagram-item">
																		<a href="http://www.instagram.com/envato" alt="Instagram" class="instagram-but" target="_blank"><i class="fa fa-instagram fa-2"></i></a>
																	</li>
																	<li class="linkedin-item">
																		<a href="http://www.linkedin.com/company/envato" alt="Linkedin" class="linkedin-but" target="_blank"><i class="fa fa-linkedin-square fa-2"></i></a>
																	</li>
																	<li class="email-item">
																		<a href="mailto:bell@mvpthemes.com"><i class="fa fa-envelope-square fa-2"></i></a>
																	</li>
																</ul>
															</div><!--author-page-text-->
														</div><!--author-page-in-->
													</div><!--author-page-out-->
												</div><!--author-page-box-->
												<div class="author-box-bot left relative">
													<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
												</div><!--author-box-bot-->
											</div><!--archive-list-left-->
										</div><!--archive-list-wrap-->
									</div><!--home-mid-wrap-->
								</div><!--home-left-col-->
							</div><!--home-left-wrap-->
						</div><!--home-wrap-in1-->
						<div id="arch-right-col" class="relative">
							<div id="sidebar-wrap" class="left relative theiaStickySidebar">
								<div class="widget-ad left relative">
									<a href="http://themeforest.net/item/flex-mag-responsive-wordpress-news-theme/12772303?ref=mvpthemes" target="_blank"><img src="../../../www.mvpthemes.com/flexmag/wp-content/uploads/2015/09/flex300x250.jpg" /></a>
								</div><!--widget-ad-->
								<div id="mvp_catlist_widget-5" class="side-widget mvp_catlist_widget">
									<h4 class="post-header"><span class="post-header">Latest News</span></h4>			<div class="blog-widget-wrap left relative">
										<ul class="blog-widget-list left relative">
											<li>

												<a href="../flex-mag-powerfully-simple-wordpress-theme/index.html" rel="bookmark">
													<div class="blog-widget-img left relative">
														<img width="300" height="180" src="../wp-content/uploads/2015/09/woman-beach2-300x180.jpg" class="widget-img-main wp-post-image" alt="" decoding="async" loading="lazy" srcset="https://mvpthemes.com/flexmag/wp-content/uploads/2015/09/woman-beach2-300x180.jpg 300w, https://mvpthemes.com/flexmag/wp-content/uploads/2015/09/woman-beach2-1024x614.jpg 1024w, https://mvpthemes.com/flexmag/wp-content/uploads/2015/09/woman-beach2-1000x600.jpg 1000w, https://mvpthemes.com/flexmag/wp-content/uploads/2015/09/woman-beach2-450x270.jpg 450w, https://mvpthemes.com/flexmag/wp-content/uploads/2015/09/woman-beach2.jpg 1600w" sizes="(max-width: 300px) 100vw, 300px" />									<img width="80" height="80" src="../wp-content/uploads/2015/09/woman-beach2-80x80.jpg" class="widget-img-side wp-post-image" alt="" decoding="async" loading="lazy" srcset="https://mvpthemes.com/flexmag/wp-content/uploads/2015/09/woman-beach2-80x80.jpg 80w, https://mvpthemes.com/flexmag/wp-content/uploads/2015/09/woman-beach2-150x150.jpg 150w, https://mvpthemes.com/flexmag/wp-content/uploads/2015/09/woman-beach2-180x180.jpg 180w, https://mvpthemes.com/flexmag/wp-content/uploads/2015/09/woman-beach2-600x600.jpg 600w" sizes="(max-width: 80px) 100vw, 80px" />																		<div class="feat-info-wrap">
															<div class="feat-info-views">
																<i class="fa fa-eye fa-2"></i> <span class="feat-info-text">45.4K</span>
															</div><!--feat-info-views-->
															<div class="feat-info-comm">
																<i class="fa fa-comment"></i> <span class="feat-info-text">29</span>
															</div><!--feat-info-comm-->
														</div><!--feat-info-wrap-->
													</div><!--blog-widget-img-->
													<div class="blog-widget-text left relative">
														<span class="side-list-cat">Business</span>
														<h2>Flex Mag: Powerfully simple WordPress theme</h2>
														<p>Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et...</p>
													</div><!--blog-widget-text-->
												</a>
											</li>
											<li>

												<a href="../only-three-players-have-a-winning-record-against-rafael-nadal/index.html" rel="bookmark">
													<div class="blog-widget-img left relative">
														<img width="300" height="180" src="../wp-content/uploads/2015/09/tennis1-300x180.jpg" class="widget-img-main wp-post-image" alt="" decoding="async" loading="lazy" srcset="https://mvpthemes.com/flexmag/wp-content/uploads/2015/09/tennis1-300x180.jpg 300w, https://mvpthemes.com/flexmag/wp-content/uploads/2015/09/tennis1-450x270.jpg 450w, https://mvpthemes.com/flexmag/wp-content/uploads/2015/09/tennis1.jpg 1000w" sizes="(max-width: 300px) 100vw, 300px" />									<img width="80" height="80" src="../wp-content/uploads/2015/09/tennis1-80x80.jpg" class="widget-img-side wp-post-image" alt="" decoding="async" loading="lazy" srcset="https://mvpthemes.com/flexmag/wp-content/uploads/2015/09/tennis1-80x80.jpg 80w, https://mvpthemes.com/flexmag/wp-content/uploads/2015/09/tennis1-150x150.jpg 150w, https://mvpthemes.com/flexmag/wp-content/uploads/2015/09/tennis1-180x180.jpg 180w, https://mvpthemes.com/flexmag/wp-content/uploads/2015/09/tennis1-600x600.jpg 600w" sizes="(max-width: 80px) 100vw, 80px" />																		<div class="feat-info-wrap">
															<div class="feat-info-views">
																<i class="fa fa-eye fa-2"></i> <span class="feat-info-text">100.5K</span>
															</div><!--feat-info-views-->
															<div class="feat-info-comm">
																<i class="fa fa-comment"></i> <span class="feat-info-text">19</span>
															</div><!--feat-info-comm-->
														</div><!--feat-info-wrap-->
													</div><!--blog-widget-img-->
													<div class="blog-widget-text left relative">
														<span class="side-list-cat">Sports</span>
														<h2>Only three players have a winning record against Rafael Nadal</h2>
														<p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia...</p>
													</div><!--blog-widget-text-->
												</a>
											</li>
											<li>

												<a href="../terrell-owens-says-he-doesnt-care-about-the-hall-of-fame/index.html" rel="bookmark">
													<div class="blog-widget-img left relative">
														<img width="300" height="180" src="../wp-content/uploads/2015/07/football1-300x180.jpg" class="widget-img-main wp-post-image" alt="" decoding="async" loading="lazy" srcset="https://mvpthemes.com/flexmag/wp-content/uploads/2015/07/football1-300x180.jpg 300w, https://mvpthemes.com/flexmag/wp-content/uploads/2015/07/football1-450x270.jpg 450w, https://mvpthemes.com/flexmag/wp-content/uploads/2015/07/football1.jpg 1000w" sizes="(max-width: 300px) 100vw, 300px" />									<img width="80" height="80" src="../wp-content/uploads/2015/07/football1-80x80.jpg" class="widget-img-side wp-post-image" alt="" decoding="async" loading="lazy" srcset="https://mvpthemes.com/flexmag/wp-content/uploads/2015/07/football1-80x80.jpg 80w, https://mvpthemes.com/flexmag/wp-content/uploads/2015/07/football1-150x150.jpg 150w, https://mvpthemes.com/flexmag/wp-content/uploads/2015/07/football1-180x180.jpg 180w, https://mvpthemes.com/flexmag/wp-content/uploads/2015/07/football1-600x600.jpg 600w" sizes="(max-width: 80px) 100vw, 80px" />																		<div class="feat-info-wrap">
															<div class="feat-info-views">
																<i class="fa fa-eye fa-2"></i> <span class="feat-info-text">118.0K</span>
															</div><!--feat-info-views-->
															<div class="feat-info-comm">
																<i class="fa fa-comment"></i> <span class="feat-info-text">18</span>
															</div><!--feat-info-comm-->
														</div><!--feat-info-wrap-->
														<div class="feat-vid-but">
															<i class="fa fa-play fa-3"></i>
														</div><!--feat-vid-but-->
													</div><!--blog-widget-img-->
													<div class="blog-widget-text left relative">
														<span class="side-list-cat">Sports</span>
														<h2>Terrell Owens says he doesn&#8217;t care about the Hall of Fame</h2>
														<p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia...</p>
													</div><!--blog-widget-text-->
												</a>
											</li>
											<li>

												<a href="../tesla-is-installing-rapid-charging-stations-in-manhattan-garages/index.html" rel="bookmark">
													<div class="blog-widget-img left relative">
														<img width="300" height="180" src="../wp-content/uploads/2015/08/car2-300x180.jpg" class="widget-img-main wp-post-image" alt="" decoding="async" loading="lazy" srcset="https://mvpthemes.com/flexmag/wp-content/uploads/2015/08/car2-300x180.jpg 300w, https://mvpthemes.com/flexmag/wp-content/uploads/2015/08/car2-450x270.jpg 450w, https://mvpthemes.com/flexmag/wp-content/uploads/2015/08/car2.jpg 1000w" sizes="(max-width: 300px) 100vw, 300px" />									<img width="80" height="80" src="../wp-content/uploads/2015/08/car2-80x80.jpg" class="widget-img-side wp-post-image" alt="" decoding="async" loading="lazy" srcset="https://mvpthemes.com/flexmag/wp-content/uploads/2015/08/car2-80x80.jpg 80w, https://mvpthemes.com/flexmag/wp-content/uploads/2015/08/car2-150x150.jpg 150w, https://mvpthemes.com/flexmag/wp-content/uploads/2015/08/car2-180x180.jpg 180w, https://mvpthemes.com/flexmag/wp-content/uploads/2015/08/car2-600x600.jpg 600w" sizes="(max-width: 80px) 100vw, 80px" />																		<div class="feat-info-wrap">
															<div class="feat-info-views">
																<i class="fa fa-eye fa-2"></i> <span class="feat-info-text">124.3K</span>
															</div><!--feat-info-views-->
															<div class="feat-info-comm">
																<i class="fa fa-comment"></i> <span class="feat-info-text">9</span>
															</div><!--feat-info-comm-->
														</div><!--feat-info-wrap-->
													</div><!--blog-widget-img-->
													<div class="blog-widget-text left relative">
														<span class="side-list-cat">Business</span>
														<h2>Tesla is installing rapid charging stations in Manhattan garages</h2>
														<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam...</p>
													</div><!--blog-widget-text-->
												</a>
											</li>
											<li>

												<a href="../15-date-night-outfits-inspired-by-celebs/index.html" rel="bookmark">
													<div class="blog-widget-img left relative">
														<img width="300" height="180" src="../wp-content/uploads/2015/08/couple-fashion-300x180.jpg" class="widget-img-main wp-post-image" alt="" decoding="async" loading="lazy" srcset="https://mvpthemes.com/flexmag/wp-content/uploads/2015/08/couple-fashion-300x180.jpg 300w, https://mvpthemes.com/flexmag/wp-content/uploads/2015/08/couple-fashion-1000x600.jpg 1000w, https://mvpthemes.com/flexmag/wp-content/uploads/2015/08/couple-fashion-450x270.jpg 450w" sizes="(max-width: 300px) 100vw, 300px" />									<img width="80" height="80" src="../wp-content/uploads/2015/08/couple-fashion-80x80.jpg" class="widget-img-side wp-post-image" alt="" decoding="async" loading="lazy" srcset="https://mvpthemes.com/flexmag/wp-content/uploads/2015/08/couple-fashion-80x80.jpg 80w, https://mvpthemes.com/flexmag/wp-content/uploads/2015/08/couple-fashion-150x150.jpg 150w, https://mvpthemes.com/flexmag/wp-content/uploads/2015/08/couple-fashion-180x180.jpg 180w, https://mvpthemes.com/flexmag/wp-content/uploads/2015/08/couple-fashion-600x600.jpg 600w" sizes="(max-width: 80px) 100vw, 80px" />																		<div class="feat-info-wrap">
															<div class="feat-info-views">
																<i class="fa fa-eye fa-2"></i> <span class="feat-info-text">109.7K</span>
															</div><!--feat-info-views-->
															<div class="feat-info-comm">
																<i class="fa fa-comment"></i> <span class="feat-info-text">9</span>
															</div><!--feat-info-comm-->
														</div><!--feat-info-wrap-->
													</div><!--blog-widget-img-->
													<div class="blog-widget-text left relative">
														<span class="side-list-cat">Fashion</span>
														<h2>15 Date Night Outfits Inspired by Celebs</h2>
														<p>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit,...</p>
													</div><!--blog-widget-text-->
												</a>
											</li>
										</ul>
									</div><!--blog-widget-wrap-->
								</div>
							</div><!--sidebar-wrap-->
						</div><!--home-right-col-->
					</div><!--home-wrap-out1-->
				</div><!--home-main-wrap-->
				<div id="foot-ad-wrap" class="left relative">
					<div style="width: 90%; height: 30px; background: #ddd; text-align: center; display: inline-block; color: #bbb; font-family: 'Open Sans', sans-serif; font-weight: 700; font-size: 1.2rem; white-space: nowrap; padding: 30px 5% 0; overflow: hidden;">RESPONSIVE LEADERBOARD AD AREA</div>
				</div><!--foot-ad-wrap-->
			</div><!--body-main-cont-->
		</div><!--body-main-in-->
	</div><!--body-main-out-->
</div><!--body-main-wrap-->