<div id="body-main-wrap" class="left relative" itemscope itemtype="http://schema.org/NewsArticle">
	<meta itemscope itemprop="mainEntityOfPage" itemType="https://schema.org/WebPage" itemid="../amazon-flex-could-be-a-new-way-to-get-your-packages-report-says/index.html" />
	<div id="post-wide-wrap" class="left relative">
		<div id="post-wide-video" class="relative">
			<div id="video-embed" class="left relative sec-feat" itemprop="image" itemscope itemtype="https://schema.org/ImageObject">
				<iframe width="1280" height="720" src="https://www.youtube.com/embed/C6XXIFXxtS8" frameborder="0" allowfullscreen></iframe>																										<meta itemprop="url" content="../wp-content/uploads/2015/07/football1.jpg">
				<meta itemprop="width" content="1000">
				<meta itemprop="height" content="600">
			</div><!--video-embed-->
		</div><!--post-wide-video-->
	</div><!--post-wide-wrap-->
	<div class="body-main-out relative">
		<div class="body-main-in">
			<div id="body-main-cont" class="left relative">
				<div id="leader-wrap" class="left relative">
					<div style="width: 90%; height: 30px; background: #ddd; text-align: center; display: inline-block; color: #bbb; font-family: 'Open Sans', sans-serif; font-weight: 700; font-size: 1.2rem; white-space: nowrap; padding: 30px 5% 0; overflow: hidden;">RESPONSIVE LEADERBOARD AD AREA</div>
				</div><!--leader-wrap-->
				<div id="post-main-wrap" class="left relative">
					<div class="post-wrap-out1">
						<div class="post-wrap-in1">
							<div id="post-left-col" class="relative">
								<article id="post-area" class="post-54 post type-post status-publish format-video has-post-thumbnail hentry category-sports tag-featured tag-football tag-hall-of-fame tag-nfl tag-sports tag-terrell-owens post_format-post-format-video">
									<header id="post-header">
										<a class="post-cat-link" href="../category/sports/index.html"><span class="post-head-cat">Sports</span></a>
										<h1 class="post-title entry-title left" itemprop="headline">Terrell Owens says he doesn&#8217;t care about the Hall of Fame</h1>
										<div id="post-info-wrap" class="left relative">
											<div class="post-info-out">
												<div class="post-info-img left relative">
													<img alt='' src='https://secure.gravatar.com/avatar/ace9a57f1346d0657bcedfa39507830e?s=50&amp;d=mm&amp;r=g' srcset='https://secure.gravatar.com/avatar/ace9a57f1346d0657bcedfa39507830e?s=100&#038;d=mm&#038;r=g 2x' class='avatar avatar-50 photo' height='50' width='50' decoding='async' />
												</div><!--post-info-img-->
												<div class="post-info-in">
													<div class="post-info-right left relative">
														<div class="post-info-name left relative" itemprop="author" itemscope itemtype="https://schema.org/Person">
															<span class="post-info-text">By</span> <span class="author-name vcard fn author" itemprop="name"><a href="../author/fanpress/index.html" title="Posts by Flex Mag Staff" rel="author">Flex Mag Staff</a></span> <span class="author-twitter"><a href="http://www.twitter.com/mvpthemes" class="twitter-but" target="_blank"><i class="fa fa-twitter fa-2"></i></a></span> <span class="author-email"><a href="mailto:mvpthemes.alt@gmail.com"><i class="fa fa-envelope fa-2"></i></a></span>
														</div><!--post-info-name-->
														<div class="post-info-date left relative">
															<span class="post-info-text">Posted on</span> <span class="post-date updated"><time class="post-date updated" itemprop="datePublished" datetime="2015-08-24">August 24, 2015</time></span>
															<meta itemprop="dateModified" content="2015-10-24" />
														</div><!--post-info-date-->
													</div><!--post-info-right-->
												</div><!--post-info-in-->
											</div><!--post-info-out-->
										</div><!--post-info-wrap-->
									</header><!--post-header-->
									<div id="content-area" itemprop="articleBody" class="post-54 post type-post status-publish format-video has-post-thumbnail hentry category-sports tag-featured tag-football tag-hall-of-fame tag-nfl tag-sports tag-terrell-owens post_format-post-format-video">
										<div class="post-cont-out">
											<div class="post-cont-in">
												<div id="content-main" class="left relative">


													<section class="social-sharing-top">
														<a href="#" onclick="window.open('http://www.facebook.com/sharer.php?u=https://mvpthemes.com/flexmag/terrell-owens-says-he-doesnt-care-about-the-hall-of-fame/&amp;t=Terrell%20Owens%20says%20he%20doesn%e2%80%99t%20care%20about%20the%20Hall%20of%20Fame', 'facebookShare', 'width=626,height=436'); return false;" title="Share on Facebook"><div class="facebook-share"><span class="fb-but1"><i class="fa fa-facebook fa-2"></i></span><span class="social-text">Share</span></div></a>
														<a href="#" onclick="window.open('http://twitter.com/share?text=Terrell%20Owens%20says%20he%20doesn%e2%80%99t%20care%20about%20the%20Hall%20of%20Fame%20-&amp;url=https://mvpthemes.com/flexmag/terrell-owens-says-he-doesnt-care-about-the-hall-of-fame/', 'twitterShare', 'width=626,height=436'); return false;" title="Tweet This Post"><div class="twitter-share"><span class="twitter-but1"><i class="fa fa-twitter fa-2"></i></span><span class="social-text">Tweet</span></div></a>
														<a href="whatsapp://send?text=Terrell Owens says he doesn&#8217;t care about the Hall of Fame https://mvpthemes.com/flexmag/terrell-owens-says-he-doesnt-care-about-the-hall-of-fame/"><div class="whatsapp-share"><span class="whatsapp-but1"><i class="fa fa-whatsapp fa-2"></i></span><span class="social-text">Share</span></div></a>
														<a href="#" onclick="window.open('http://pinterest.com/pin/create/button/?url=https://mvpthemes.com/flexmag/terrell-owens-says-he-doesnt-care-about-the-hall-of-fame/&amp;media=https://mvpthemes.com/flexmag/wp-content/uploads/2015/07/football1.jpg&amp;description=Terrell%20Owens%20says%20he%20doesn%e2%80%99t%20care%20about%20the%20Hall%20of%20Fame', 'pinterestShare', 'width=750,height=350'); return false;" title="Pin This Post"><div class="pinterest-share"><span class="pinterest-but1"><i class="fa fa-pinterest-p fa-2"></i></span><span class="social-text">Share</span></div></a>
														<a href="mailto:?subject=Terrell Owens says he doesn&#8217;t care about the Hall of Fame&amp;BODY=I found this article interesting and thought of sharing it with you. Check it out: https://mvpthemes.com/flexmag/terrell-owens-says-he-doesnt-care-about-the-hall-of-fame/"><div class="email-share"><span class="email-but"><i class="fa fa-envelope fa-2"></i></span><span class="social-text">Email</span></div></a>
														<a href="index.html#comments"><div class="social-comments comment-click-54"><i class="fa fa-commenting fa-2"></i><span class="social-text-com">Comments</span></div></a>
													</section><!--social-sharing-top-->
													<p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.</p>
													<p>Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus.</p>
													<p>Nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
													<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
													<p>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur.</p>
													<blockquote><p>&#8220;Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat&#8221;</p></blockquote>
													<p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga.</p>
													<p>Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur.</p>
													<p>Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae. Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus asperiores repellat.</p>
													<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
													<div class="mvp-org-wrap" itemprop="publisher" itemscope itemtype="https://schema.org/Organization">
														<div class="mvp-org-logo" itemprop="logo" itemscope itemtype="https://schema.org/ImageObject">
															<img src="../wp-content/themes/flex-mag/images/logos/logo-large.png" alt="Flex Mag" />
															<meta itemprop="url" content="../wp-content/themes/flex-mag/images/logos/logo-large.png">
														</div><!--mvp-org-logo-->
														<meta itemprop="name" content="Flex Mag">
													</div><!--mvp-org-wrap-->
													<div class="posts-nav-link">
													</div><!--posts-nav-link-->
													<div class="post-tags">
														<span class="post-tags-header">Related Items:</span><span itemprop="keywords"><a href="../tag/featured/index.html" rel="tag">Featured</a>, <a href="../tag/football/index.html" rel="tag">Football</a>, <a href="../tag/hall-of-fame/index.html" rel="tag">Hall of Fame</a>, <a href="../tag/nfl/index.html" rel="tag">NFL</a>, <a href="../tag/sports/index.html" rel="tag">Sports</a>, <a href="../tag/terrell-owens/index.html" rel="tag">Terrell Owens</a></span>
													</div><!--post-tags-->
													<div class="social-sharing-bot">
														<a href="#" onclick="window.open('http://www.facebook.com/sharer.php?u=https://mvpthemes.com/flexmag/terrell-owens-says-he-doesnt-care-about-the-hall-of-fame/&amp;t=Terrell%20Owens%20says%20he%20doesn%e2%80%99t%20care%20about%20the%20Hall%20of%20Fame', 'facebookShare', 'width=626,height=436'); return false;" title="Share on Facebook"><div class="facebook-share"><span class="fb-but1"><i class="fa fa-facebook fa-2"></i></span><span class="social-text">Share</span></div></a>
														<a href="#" onclick="window.open('https://twitter.com/intent/tweet?text=Terrell%20Owens%20says%20he%20doesn%e2%80%99t%20care%20about%20the%20Hall%20of%20Fame%20-&amp;url=https://mvpthemes.com/flexmag/terrell-owens-says-he-doesnt-care-about-the-hall-of-fame/', 'twitterShare', 'width=626,height=436'); return false;" title="Tweet This Post"><div class="twitter-share"><span class="twitter-but1"><i class="fa fa-twitter fa-2"></i></span><span class="social-text">Tweet</span></div></a>
														<a href="whatsapp://send?text=Terrell Owens says he doesn&#8217;t care about the Hall of Fame https://mvpthemes.com/flexmag/terrell-owens-says-he-doesnt-care-about-the-hall-of-fame/"><div class="whatsapp-share"><span class="whatsapp-but1"><i class="fa fa-whatsapp fa-2"></i></span><span class="social-text">Share</span></div></a>
														<a href="#" onclick="window.open('http://pinterest.com/pin/create/button/?url=https://mvpthemes.com/flexmag/terrell-owens-says-he-doesnt-care-about-the-hall-of-fame/&amp;media=https://mvpthemes.com/flexmag/wp-content/uploads/2015/07/football1.jpg&amp;description=Terrell%20Owens%20says%20he%20doesn%e2%80%99t%20care%20about%20the%20Hall%20of%20Fame', 'pinterestShare', 'width=750,height=350'); return false;" title="Pin This Post"><div class="pinterest-share"><span class="pinterest-but1"><i class="fa fa-pinterest-p fa-2"></i></span><span class="social-text">Share</span></div></a>
														<a href="mailto:?subject=Terrell Owens says he doesn&#8217;t care about the Hall of Fame&amp;BODY=I found this article interesting and thought of sharing it with you. Check it out: https://mvpthemes.com/flexmag/terrell-owens-says-he-doesnt-care-about-the-hall-of-fame/"><div class="email-share"><span class="email-but"><i class="fa fa-envelope fa-2"></i></span><span class="social-text">Email</span></div></a>
													</div><!--social-sharing-bot-->
													<div class="mvp-related-posts left relative">
														<h4 class="post-header"><span class="post-header">Recommended for you</span></h4>
														<ul>
															<li>
																<div class="mvp-related-img left relative">
																	<a href="../only-three-players-have-a-winning-record-against-rafael-nadal/index.html" rel="bookmark" title="Only three players have a winning record against Rafael Nadal">
																		<img width="300" height="180" src="../wp-content/uploads/2015/09/tennis1-300x180.jpg" class="reg-img wp-post-image" alt="" decoding="async" fetchpriority="high" srcset="https://mvpthemes.com/flexmag/wp-content/uploads/2015/09/tennis1-300x180.jpg 300w, https://mvpthemes.com/flexmag/wp-content/uploads/2015/09/tennis1-450x270.jpg 450w, https://mvpthemes.com/flexmag/wp-content/uploads/2015/09/tennis1.jpg 1000w" sizes="(max-width: 300px) 100vw, 300px" />						<img width="80" height="80" src="../wp-content/uploads/2015/09/tennis1-80x80.jpg" class="mob-img wp-post-image" alt="" decoding="async" srcset="https://mvpthemes.com/flexmag/wp-content/uploads/2015/09/tennis1-80x80.jpg 80w, https://mvpthemes.com/flexmag/wp-content/uploads/2015/09/tennis1-150x150.jpg 150w, https://mvpthemes.com/flexmag/wp-content/uploads/2015/09/tennis1-180x180.jpg 180w, https://mvpthemes.com/flexmag/wp-content/uploads/2015/09/tennis1-600x600.jpg 600w" sizes="(max-width: 80px) 100vw, 80px" />
																	</a>
																</div><!--related-img-->
																<div class="mvp-related-text left relative">
																	<a href="../only-three-players-have-a-winning-record-against-rafael-nadal/index.html">Only three players have a winning record against Rafael Nadal</a>
																</div><!--related-text-->
															</li>
															<li>
																<div class="mvp-related-img left relative">
																	<a href="../watch-the-60-sickest-crossovers-of-the-nba-season/index.html" rel="bookmark" title="Watch the 60 sickest crossovers of the NBA season">
																		<img width="300" height="180" src="../wp-content/uploads/2015/09/basketball1-300x180.jpg" class="reg-img wp-post-image" alt="" decoding="async" loading="lazy" srcset="https://mvpthemes.com/flexmag/wp-content/uploads/2015/09/basketball1-300x180.jpg 300w, https://mvpthemes.com/flexmag/wp-content/uploads/2015/09/basketball1-450x270.jpg 450w, https://mvpthemes.com/flexmag/wp-content/uploads/2015/09/basketball1.jpg 1000w" sizes="(max-width: 300px) 100vw, 300px" />						<img width="80" height="80" src="../wp-content/uploads/2015/09/basketball1-80x80.jpg" class="mob-img wp-post-image" alt="" decoding="async" loading="lazy" srcset="https://mvpthemes.com/flexmag/wp-content/uploads/2015/09/basketball1-80x80.jpg 80w, https://mvpthemes.com/flexmag/wp-content/uploads/2015/09/basketball1-150x150.jpg 150w, https://mvpthemes.com/flexmag/wp-content/uploads/2015/09/basketball1-180x180.jpg 180w, https://mvpthemes.com/flexmag/wp-content/uploads/2015/09/basketball1-600x600.jpg 600w" sizes="(max-width: 80px) 100vw, 80px" />
																	</a>
																</div><!--related-img-->
																<div class="mvp-related-text left relative">
																	<a href="../watch-the-60-sickest-crossovers-of-the-nba-season/index.html">Watch the 60 sickest crossovers of the NBA season</a>
																</div><!--related-text-->
															</li>
															<li>
																<div class="mvp-related-img left relative">
																	<a href="../real-madrids-sergio-ramos-salutes-iker-casillas-with-video/index.html" rel="bookmark" title="Real Madrid&#8217;s Sergio Ramos salutes Iker Casillas with video">
																		<img width="300" height="180" src="../wp-content/uploads/2015/07/soccer-300x180.jpg" class="reg-img wp-post-image" alt="" decoding="async" loading="lazy" srcset="https://mvpthemes.com/flexmag/wp-content/uploads/2015/07/soccer-300x180.jpg 300w, https://mvpthemes.com/flexmag/wp-content/uploads/2015/07/soccer-450x270.jpg 450w, https://mvpthemes.com/flexmag/wp-content/uploads/2015/07/soccer.jpg 1000w" sizes="(max-width: 300px) 100vw, 300px" />						<img width="80" height="80" src="../wp-content/uploads/2015/07/soccer-80x80.jpg" class="mob-img wp-post-image" alt="" decoding="async" loading="lazy" srcset="https://mvpthemes.com/flexmag/wp-content/uploads/2015/07/soccer-80x80.jpg 80w, https://mvpthemes.com/flexmag/wp-content/uploads/2015/07/soccer-150x150.jpg 150w, https://mvpthemes.com/flexmag/wp-content/uploads/2015/07/soccer-180x180.jpg 180w, https://mvpthemes.com/flexmag/wp-content/uploads/2015/07/soccer-600x600.jpg 600w" sizes="(max-width: 80px) 100vw, 80px" />
																	</a>
																</div><!--related-img-->
																<div class="mvp-related-text left relative">
																	<a href="../real-madrids-sergio-ramos-salutes-iker-casillas-with-video/index.html">Real Madrid&#8217;s Sergio Ramos salutes Iker Casillas with video</a>
																</div><!--related-text-->
															</li>
														</ul>
													</div>																															<div id="article-ad">
														<div style="width: 90%; height: 30px; background: #ddd; text-align: center; display: inline-block; color: #bbb; font-family: 'Open Sans', sans-serif; font-weight: 700; font-size: 1.2rem; white-space: nowrap; padding: 30px 5% 0; overflow: hidden;">RESPONSIVE LEADERBOARD AD AREA</div>
													</div><!--article-ad-->
													<div id="comments-button" class="left relative comment-click-54 com-but-54">
														<span class="comment-but-text">18 Comments</span>
													</div><!--comments-button-->
													<div id="comments" class="com-click-id-54 com-click-main">
														<h4 class="post-header">
															<span class="post-header">
																18 Comments
															</span>
														</h4>
														<ol class="commentlist">
															<li class="comment byuser comment-author-fanpress bypostauthor even thread-even depth-1" id="li-comment-6">
																<div class="comment-wrapper" id="comment-6">
																	<div class="comment-inner">
																		<div class="comment-avatar">
																			<img alt='' src='https://secure.gravatar.com/avatar/ace9a57f1346d0657bcedfa39507830e?s=46&amp;d=mm&amp;r=g' srcset='https://secure.gravatar.com/avatar/ace9a57f1346d0657bcedfa39507830e?s=92&#038;d=mm&#038;r=g 2x' class='avatar avatar-46 photo' height='46' width='46' loading='lazy' decoding='async' />
																		</div>
																		<div class="commentmeta">
																			<p class="comment-meta-1">
																				<cite class="fn">The Mag Staff</cite>
																			</p>
																			<p class="comment-meta-2">
																				August 18, 2015 at 3:42 pm
																			</p>
																		</div>
																		<div class="text">
																			<div class="c">
																				<p>Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur.</p>
																			</div>
																		</div><!-- .text  -->
																		<div class="clear"></div>
																		<div class="comment-reply"><span class="reply"><a rel='nofollow' class='comment-reply-link' href='index267f.html?replytocom=6#respond' data-commentid="6" data-postid="54" data-belowelement="comment-6" data-respondelement="respond" data-replyto="Reply to The Mag Staff" aria-label='Reply to The Mag Staff'>Reply</a></span></div>
																	</div><!-- comment-inner  -->
																</div><!-- comment-wrapper  -->
																<ul class="children">
																	<li class="comment odd alt depth-2" id="li-comment-121">
																		<div class="comment-wrapper" id="comment-121">
																			<div class="comment-inner">
																				<div class="comment-avatar">
																					<img alt='' src='https://secure.gravatar.com/avatar/1e41d5b1acae3cfd542a59af6a5884d7?s=46&amp;d=mm&amp;r=g' srcset='https://secure.gravatar.com/avatar/1e41d5b1acae3cfd542a59af6a5884d7?s=92&#038;d=mm&#038;r=g 2x' class='avatar avatar-46 photo' height='46' width='46' loading='lazy' decoding='async' />
																				</div>
																				<div class="commentmeta">
																					<p class="comment-meta-1">
																						<cite class="fn"><a href="http://www.jojij.com/" class="url" rel="ugc external nofollow">abraah</a></cite>
																					</p>
																					<p class="comment-meta-2">
																						October 11, 2015 at 7:26 pm
																					</p>
																				</div>
																				<div class="text">
																					<div class="c">
																						<p>testestestejtowijoi</p>
																					</div>
																				</div><!-- .text  -->
																				<div class="clear"></div>
																				<div class="comment-reply"><span class="reply"><a rel='nofollow' class='comment-reply-link' href='index786f.html?replytocom=121#respond' data-commentid="121" data-postid="54" data-belowelement="comment-121" data-respondelement="respond" data-replyto="Reply to abraah" aria-label='Reply to abraah'>Reply</a></span></div>
																			</div><!-- comment-inner  -->
																		</div><!-- comment-wrapper  -->
																		<ul class="children">
																			<li class="comment even depth-3" id="li-comment-448">
																				<div class="comment-wrapper" id="comment-448">
																					<div class="comment-inner">
																						<div class="comment-avatar">
																							<img alt='' src='https://secure.gravatar.com/avatar/43540391e65517f6337b39fe2c3d699c?s=46&amp;d=mm&amp;r=g' srcset='https://secure.gravatar.com/avatar/43540391e65517f6337b39fe2c3d699c?s=92&#038;d=mm&#038;r=g 2x' class='avatar avatar-46 photo' height='46' width='46' loading='lazy' decoding='async' />
																						</div>
																						<div class="commentmeta">
																							<p class="comment-meta-1">
																								<cite class="fn">Wee</cite>
																							</p>
																							<p class="comment-meta-2">
																								February 20, 2016 at 6:01 am
																							</p>
																						</div>
																						<div class="text">
																							<div class="c">
																								<p>Qww</p>
																							</div>
																						</div><!-- .text  -->
																						<div class="clear"></div>
																						<div class="comment-reply"><span class="reply"><a rel='nofollow' class='comment-reply-link' href='index60b3.html?replytocom=448#respond' data-commentid="448" data-postid="54" data-belowelement="comment-448" data-respondelement="respond" data-replyto="Reply to Wee" aria-label='Reply to Wee'>Reply</a></span></div>
																					</div><!-- comment-inner  -->
																				</div><!-- comment-wrapper  -->
																				<ul class="children">
																					<li class="comment odd alt depth-4" id="li-comment-837">
																						<div class="comment-wrapper" id="comment-837">
																							<div class="comment-inner">
																								<div class="comment-avatar">
																									<img alt='' src='https://secure.gravatar.com/avatar/9e55524905847b3192611bbf346e9150?s=46&amp;d=mm&amp;r=g' srcset='https://secure.gravatar.com/avatar/9e55524905847b3192611bbf346e9150?s=92&#038;d=mm&#038;r=g 2x' class='avatar avatar-46 photo' height='46' width='46' loading='lazy' decoding='async' />
																								</div>
																								<div class="commentmeta">
																									<p class="comment-meta-1">
																										<cite class="fn">ismet</cite>
																									</p>
																									<p class="comment-meta-2">
																										June 10, 2016 at 5:44 pm
																									</p>
																								</div>
																								<div class="text">
																									<div class="c">
																										<p>thats right &#8211; test comment</p>
																									</div>
																								</div><!-- .text  -->
																								<div class="clear"></div>
																								<div class="comment-reply"><span class="reply"><a rel='nofollow' class='comment-reply-link' href='indexfeb7.html?replytocom=837#respond' data-commentid="837" data-postid="54" data-belowelement="comment-837" data-respondelement="respond" data-replyto="Reply to ismet" aria-label='Reply to ismet'>Reply</a></span></div>
																							</div><!-- comment-inner  -->
																						</div><!-- comment-wrapper  -->
																					</li><!-- #comment-## -->
																				</ul><!-- .children -->
																			</li><!-- #comment-## -->
																		</ul><!-- .children -->
																	</li><!-- #comment-## -->
																</ul><!-- .children -->
															</li><!-- #comment-## -->
															<li class="comment even thread-odd thread-alt depth-1" id="li-comment-455">
																<div class="comment-wrapper" id="comment-455">
																	<div class="comment-inner">
																		<div class="comment-avatar">
																			<img alt='' src='https://secure.gravatar.com/avatar/427e094fadc5ebbb9b0947042b9a4d17?s=46&amp;d=mm&amp;r=g' srcset='https://secure.gravatar.com/avatar/427e094fadc5ebbb9b0947042b9a4d17?s=92&#038;d=mm&#038;r=g 2x' class='avatar avatar-46 photo' height='46' width='46' loading='lazy' decoding='async' />
																		</div>
																		<div class="commentmeta">
																			<p class="comment-meta-1">
																				<cite class="fn">Robert</cite>
																			</p>
																			<p class="comment-meta-2">
																				February 23, 2016 at 9:53 pm
																			</p>
																		</div>
																		<div class="text">
																			<div class="c">
																				<p>Comment</p>
																			</div>
																		</div><!-- .text  -->
																		<div class="clear"></div>
																		<div class="comment-reply"><span class="reply"><a rel='nofollow' class='comment-reply-link' href='indexa343.html?replytocom=455#respond' data-commentid="455" data-postid="54" data-belowelement="comment-455" data-respondelement="respond" data-replyto="Reply to Robert" aria-label='Reply to Robert'>Reply</a></span></div>
																	</div><!-- comment-inner  -->
																</div><!-- comment-wrapper  -->
															</li><!-- #comment-## -->
															<li class="comment odd alt thread-even depth-1" id="li-comment-728">
																<div class="comment-wrapper" id="comment-728">
																	<div class="comment-inner">
																		<div class="comment-avatar">
																			<img alt='' src='https://secure.gravatar.com/avatar/caa08a0a8d59571ec647f9c91cf65332?s=46&amp;d=mm&amp;r=g' srcset='https://secure.gravatar.com/avatar/caa08a0a8d59571ec647f9c91cf65332?s=92&#038;d=mm&#038;r=g 2x' class='avatar avatar-46 photo' height='46' width='46' loading='lazy' decoding='async' />
																		</div>
																		<div class="commentmeta">
																			<p class="comment-meta-1">
																				<cite class="fn"><a href="http://asd/" class="url" rel="ugc external nofollow">fart</a></cite>
																			</p>
																			<p class="comment-meta-2">
																				April 9, 2016 at 7:44 am
																			</p>
																		</div>
																		<div class="text">
																			<div class="c">
																				<p>another test</p>
																			</div>
																		</div><!-- .text  -->
																		<div class="clear"></div>
																		<div class="comment-reply"><span class="reply"><a rel='nofollow' class='comment-reply-link' href='index9483.html?replytocom=728#respond' data-commentid="728" data-postid="54" data-belowelement="comment-728" data-respondelement="respond" data-replyto="Reply to fart" aria-label='Reply to fart'>Reply</a></span></div>
																	</div><!-- comment-inner  -->
																</div><!-- comment-wrapper  -->
															</li><!-- #comment-## -->
															<li class="comment even thread-odd thread-alt depth-1" id="li-comment-831">
																<div class="comment-wrapper" id="comment-831">
																	<div class="comment-inner">
																		<div class="comment-avatar">
																			<img alt='' src='https://secure.gravatar.com/avatar/3e9a8252c7e4cba503f6b03fb06f8369?s=46&amp;d=mm&amp;r=g' srcset='https://secure.gravatar.com/avatar/3e9a8252c7e4cba503f6b03fb06f8369?s=92&#038;d=mm&#038;r=g 2x' class='avatar avatar-46 photo' height='46' width='46' loading='lazy' decoding='async' />
																		</div>
																		<div class="commentmeta">
																			<p class="comment-meta-1">
																				<cite class="fn">larry</cite>
																			</p>
																			<p class="comment-meta-2">
																				June 7, 2016 at 12:27 am
																			</p>
																		</div>
																		<div class="text">
																			<div class="c">
																				<p>hi</p>
																			</div>
																		</div><!-- .text  -->
																		<div class="clear"></div>
																		<div class="comment-reply"><span class="reply"><a rel='nofollow' class='comment-reply-link' href='index367f.html?replytocom=831#respond' data-commentid="831" data-postid="54" data-belowelement="comment-831" data-respondelement="respond" data-replyto="Reply to larry" aria-label='Reply to larry'>Reply</a></span></div>
																	</div><!-- comment-inner  -->
																</div><!-- comment-wrapper  -->
															</li><!-- #comment-## -->
															<li class="comment odd alt thread-even depth-1" id="li-comment-1020">
																<div class="comment-wrapper" id="comment-1020">
																	<div class="comment-inner">
																		<div class="comment-avatar">
																			<img alt='' src='https://secure.gravatar.com/avatar/d73b3dc57d7df6341274be4eefa7e6d1?s=46&amp;d=mm&amp;r=g' srcset='https://secure.gravatar.com/avatar/d73b3dc57d7df6341274be4eefa7e6d1?s=92&#038;d=mm&#038;r=g 2x' class='avatar avatar-46 photo' height='46' width='46' loading='lazy' decoding='async' />
																		</div>
																		<div class="commentmeta">
																			<p class="comment-meta-1">
																				<cite class="fn">jehu marshal</cite>
																			</p>
																			<p class="comment-meta-2">
																				September 9, 2016 at 1:56 pm
																			</p>
																		</div>
																		<div class="text">
																			<div class="c">
																				<p>jkbkuijk</p>
																			</div>
																		</div><!-- .text  -->
																		<div class="clear"></div>
																		<div class="comment-reply"><span class="reply"><a rel='nofollow' class='comment-reply-link' href='index37ad.html?replytocom=1020#respond' data-commentid="1020" data-postid="54" data-belowelement="comment-1020" data-respondelement="respond" data-replyto="Reply to jehu marshal" aria-label='Reply to jehu marshal'>Reply</a></span></div>
																	</div><!-- comment-inner  -->
																</div><!-- comment-wrapper  -->
															</li><!-- #comment-## -->
															<li class="comment even thread-odd thread-alt depth-1" id="li-comment-1084">
																<div class="comment-wrapper" id="comment-1084">
																	<div class="comment-inner">
																		<div class="comment-avatar">
																			<img alt='' src='https://secure.gravatar.com/avatar/da6a10c5b3cd892ea823f298106bfb2e?s=46&amp;d=mm&amp;r=g' srcset='https://secure.gravatar.com/avatar/da6a10c5b3cd892ea823f298106bfb2e?s=92&#038;d=mm&#038;r=g 2x' class='avatar avatar-46 photo' height='46' width='46' loading='lazy' decoding='async' />
																		</div>
																		<div class="commentmeta">
																			<p class="comment-meta-1">
																				<cite class="fn"><a href="http://dd/" class="url" rel="ugc external nofollow">d</a></cite>
																			</p>
																			<p class="comment-meta-2">
																				October 8, 2016 at 11:21 pm
																			</p>
																		</div>
																		<div class="text">
																			<div class="c">
																				<p>dddd</p>
																			</div>
																		</div><!-- .text  -->
																		<div class="clear"></div>
																		<div class="comment-reply"><span class="reply"><a rel='nofollow' class='comment-reply-link' href='index00e8.html?replytocom=1084#respond' data-commentid="1084" data-postid="54" data-belowelement="comment-1084" data-respondelement="respond" data-replyto="Reply to d" aria-label='Reply to d'>Reply</a></span></div>
																	</div><!-- comment-inner  -->
																</div><!-- comment-wrapper  -->
															</li><!-- #comment-## -->
															<li class="comment odd alt thread-even depth-1" id="li-comment-1286">
																<div class="comment-wrapper" id="comment-1286">
																	<div class="comment-inner">
																		<div class="comment-avatar">
																			<img alt='' src='https://secure.gravatar.com/avatar/fd6ef400af9d0f2f876d08c5a4ca0c70?s=46&amp;d=mm&amp;r=g' srcset='https://secure.gravatar.com/avatar/fd6ef400af9d0f2f876d08c5a4ca0c70?s=92&#038;d=mm&#038;r=g 2x' class='avatar avatar-46 photo' height='46' width='46' loading='lazy' decoding='async' />
																		</div>
																		<div class="commentmeta">
																			<p class="comment-meta-1">
																				<cite class="fn"><a href="http://sports.com/" class="url" rel="ugc external nofollow">mariano</a></cite>
																			</p>
																			<p class="comment-meta-2">
																				February 4, 2017 at 1:13 pm
																			</p>
																		</div>
																		<div class="text">
																			<div class="c">
																				<p>sdafasdf</p>
																			</div>
																		</div><!-- .text  -->
																		<div class="clear"></div>
																		<div class="comment-reply"><span class="reply"><a rel='nofollow' class='comment-reply-link' href='indexb813.html?replytocom=1286#respond' data-commentid="1286" data-postid="54" data-belowelement="comment-1286" data-respondelement="respond" data-replyto="Reply to mariano" aria-label='Reply to mariano'>Reply</a></span></div>
																	</div><!-- comment-inner  -->
																</div><!-- comment-wrapper  -->
															</li><!-- #comment-## -->
															<li class="comment even thread-odd thread-alt depth-1" id="li-comment-1398">
																<div class="comment-wrapper" id="comment-1398">
																	<div class="comment-inner">
																		<div class="comment-avatar">
																			<img alt='' src='https://secure.gravatar.com/avatar/1e90bc26f22d393f8f1b69bb3a6ea26d?s=46&amp;d=mm&amp;r=g' srcset='https://secure.gravatar.com/avatar/1e90bc26f22d393f8f1b69bb3a6ea26d?s=92&#038;d=mm&#038;r=g 2x' class='avatar avatar-46 photo' height='46' width='46' loading='lazy' decoding='async' />
																		</div>
																		<div class="commentmeta">
																			<p class="comment-meta-1">
																				<cite class="fn"><a href="http://kkk. com/" class="url" rel="ugc external nofollow">Cu de cachorro</a></cite>
																			</p>
																			<p class="comment-meta-2">
																				April 25, 2017 at 7:05 am
																			</p>
																		</div>
																		<div class="text">
																			<div class="c">
																				<p>Tgfyy</p>
																			</div>
																		</div><!-- .text  -->
																		<div class="clear"></div>
																		<div class="comment-reply"><span class="reply"><a rel='nofollow' class='comment-reply-link' href='indexe77c.html?replytocom=1398#respond' data-commentid="1398" data-postid="54" data-belowelement="comment-1398" data-respondelement="respond" data-replyto="Reply to Cu de cachorro" aria-label='Reply to Cu de cachorro'>Reply</a></span></div>
																	</div><!-- comment-inner  -->
																</div><!-- comment-wrapper  -->
															</li><!-- #comment-## -->
															<li class="comment odd alt thread-even depth-1" id="li-comment-1399">
																<div class="comment-wrapper" id="comment-1399">
																	<div class="comment-inner">
																		<div class="comment-avatar">
																			<img alt='' src='https://secure.gravatar.com/avatar/1e90bc26f22d393f8f1b69bb3a6ea26d?s=46&amp;d=mm&amp;r=g' srcset='https://secure.gravatar.com/avatar/1e90bc26f22d393f8f1b69bb3a6ea26d?s=92&#038;d=mm&#038;r=g 2x' class='avatar avatar-46 photo' height='46' width='46' loading='lazy' decoding='async' />
																		</div>
																		<div class="commentmeta">
																			<p class="comment-meta-1">
																				<cite class="fn"><a href="http://kkk. com/" class="url" rel="ugc external nofollow">Cu de cachorro</a></cite>
																			</p>
																			<p class="comment-meta-2">
																				April 25, 2017 at 7:05 am
																			</p>
																		</div>
																		<div class="text">
																			<div class="c">
																				<p>Tgfyy</p>
																			</div>
																		</div><!-- .text  -->
																		<div class="clear"></div>
																		<div class="comment-reply"><span class="reply"><a rel='nofollow' class='comment-reply-link' href='index1bd3.html?replytocom=1399#respond' data-commentid="1399" data-postid="54" data-belowelement="comment-1399" data-respondelement="respond" data-replyto="Reply to Cu de cachorro" aria-label='Reply to Cu de cachorro'>Reply</a></span></div>
																	</div><!-- comment-inner  -->
																</div><!-- comment-wrapper  -->
															</li><!-- #comment-## -->
															<li class="comment even thread-odd thread-alt depth-1" id="li-comment-1597">
																<div class="comment-wrapper" id="comment-1597">
																	<div class="comment-inner">
																		<div class="comment-avatar">
																			<img alt='' src='https://secure.gravatar.com/avatar/77dd00db93265cc480eeb02d3429821a?s=46&amp;d=mm&amp;r=g' srcset='https://secure.gravatar.com/avatar/77dd00db93265cc480eeb02d3429821a?s=92&#038;d=mm&#038;r=g 2x' class='avatar avatar-46 photo' height='46' width='46' loading='lazy' decoding='async' />
																		</div>
																		<div class="commentmeta">
																			<p class="comment-meta-1">
																				<cite class="fn">jk</cite>
																			</p>
																			<p class="comment-meta-2">
																				January 20, 2018 at 8:19 pm
																			</p>
																		</div>
																		<div class="text">
																			<div class="c">
																				<p>kl</p>
																			</div>
																		</div><!-- .text  -->
																		<div class="clear"></div>
																		<div class="comment-reply"><span class="reply"><a rel='nofollow' class='comment-reply-link' href='indexd5e9.html?replytocom=1597#respond' data-commentid="1597" data-postid="54" data-belowelement="comment-1597" data-respondelement="respond" data-replyto="Reply to jk" aria-label='Reply to jk'>Reply</a></span></div>
																	</div><!-- comment-inner  -->
																</div><!-- comment-wrapper  -->
															</li><!-- #comment-## -->
															<li class="comment odd alt thread-even depth-1" id="li-comment-1602">
																<div class="comment-wrapper" id="comment-1602">
																	<div class="comment-inner">
																		<div class="comment-avatar">
																			<img alt='' src='https://secure.gravatar.com/avatar/44d5a90408022d8e1fd3aaddab4bed75?s=46&amp;d=mm&amp;r=g' srcset='https://secure.gravatar.com/avatar/44d5a90408022d8e1fd3aaddab4bed75?s=92&#038;d=mm&#038;r=g 2x' class='avatar avatar-46 photo' height='46' width='46' loading='lazy' decoding='async' />
																		</div>
																		<div class="commentmeta">
																			<p class="comment-meta-1">
																				<cite class="fn">sdsdfdf</cite>
																			</p>
																			<p class="comment-meta-2">
																				January 24, 2018 at 11:16 pm
																			</p>
																		</div>
																		<div class="text">
																			<div class="c">
																				<p>Kaķis vakar apēda viču, ko darīt?</p>
																			</div>
																		</div><!-- .text  -->
																		<div class="clear"></div>
																		<div class="comment-reply"><span class="reply"><a rel='nofollow' class='comment-reply-link' href='index7d70.html?replytocom=1602#respond' data-commentid="1602" data-postid="54" data-belowelement="comment-1602" data-respondelement="respond" data-replyto="Reply to sdsdfdf" aria-label='Reply to sdsdfdf'>Reply</a></span></div>
																	</div><!-- comment-inner  -->
																</div><!-- comment-wrapper  -->
															</li><!-- #comment-## -->
															<li class="comment even thread-odd thread-alt depth-1" id="li-comment-1603">
																<div class="comment-wrapper" id="comment-1603">
																	<div class="comment-inner">
																		<div class="comment-avatar">
																			<img alt='' src='https://secure.gravatar.com/avatar/44d5a90408022d8e1fd3aaddab4bed75?s=46&amp;d=mm&amp;r=g' srcset='https://secure.gravatar.com/avatar/44d5a90408022d8e1fd3aaddab4bed75?s=92&#038;d=mm&#038;r=g 2x' class='avatar avatar-46 photo' height='46' width='46' loading='lazy' decoding='async' />
																		</div>
																		<div class="commentmeta">
																			<p class="comment-meta-1">
																				<cite class="fn">sdsdfdf</cite>
																			</p>
																			<p class="comment-meta-2">
																				January 24, 2018 at 11:17 pm
																			</p>
																		</div>
																		<div class="text">
																			<div class="c">
																				<p>Laikam šis plugins man nederēs, jo izskatās, ka latviešu valoda te nav!</p>
																			</div>
																		</div><!-- .text  -->
																		<div class="clear"></div>
																		<div class="comment-reply"><span class="reply"><a rel='nofollow' class='comment-reply-link' href='index40fd.html?replytocom=1603#respond' data-commentid="1603" data-postid="54" data-belowelement="comment-1603" data-respondelement="respond" data-replyto="Reply to sdsdfdf" aria-label='Reply to sdsdfdf'>Reply</a></span></div>
																	</div><!-- comment-inner  -->
																</div><!-- comment-wrapper  -->
															</li><!-- #comment-## -->
															<li class="comment odd alt thread-even depth-1" id="li-comment-1752">
																<div class="comment-wrapper" id="comment-1752">
																	<div class="comment-inner">
																		<div class="comment-avatar">
																			<img alt='' src='https://secure.gravatar.com/avatar/e96492336c2082c21e0aaf62d47ff8fc?s=46&amp;d=mm&amp;r=g' srcset='https://secure.gravatar.com/avatar/e96492336c2082c21e0aaf62d47ff8fc?s=92&#038;d=mm&#038;r=g 2x' class='avatar avatar-46 photo' height='46' width='46' loading='lazy' decoding='async' />
																		</div>
																		<div class="commentmeta">
																			<p class="comment-meta-1">
																				<cite class="fn"><a href="http://a/" class="url" rel="ugc external nofollow">a</a></cite>
																			</p>
																			<p class="comment-meta-2">
																				July 11, 2018 at 5:14 pm
																			</p>
																		</div>
																		<div class="text">
																			<div class="c">
																				<p>holo</p>
																			</div>
																		</div><!-- .text  -->
																		<div class="clear"></div>
																		<div class="comment-reply"><span class="reply"><a rel='nofollow' class='comment-reply-link' href='index2b9e.html?replytocom=1752#respond' data-commentid="1752" data-postid="54" data-belowelement="comment-1752" data-respondelement="respond" data-replyto="Reply to a" aria-label='Reply to a'>Reply</a></span></div>
																	</div><!-- comment-inner  -->
																</div><!-- comment-wrapper  -->
															</li><!-- #comment-## -->
															<li class="comment even thread-odd thread-alt depth-1" id="li-comment-2124">
																<div class="comment-wrapper" id="comment-2124">
																	<div class="comment-inner">
																		<div class="comment-avatar">
																			<img alt='' src='https://secure.gravatar.com/avatar/3a73179fcf325fc2f999d5d102af35b6?s=46&amp;d=mm&amp;r=g' srcset='https://secure.gravatar.com/avatar/3a73179fcf325fc2f999d5d102af35b6?s=92&#038;d=mm&#038;r=g 2x' class='avatar avatar-46 photo' height='46' width='46' loading='lazy' decoding='async' />
																		</div>
																		<div class="commentmeta">
																			<p class="comment-meta-1">
																				<cite class="fn"><a href="http://test.com/" class="url" rel="ugc external nofollow">test</a></cite>
																			</p>
																			<p class="comment-meta-2">
																				January 19, 2020 at 12:14 pm
																			</p>
																		</div>
																		<div class="text">
																			<div class="c">
																				<p>test</p>
																			</div>
																		</div><!-- .text  -->
																		<div class="clear"></div>
																		<div class="comment-reply"><span class="reply"><a rel='nofollow' class='comment-reply-link' href='index2e75.html?replytocom=2124#respond' data-commentid="2124" data-postid="54" data-belowelement="comment-2124" data-respondelement="respond" data-replyto="Reply to test" aria-label='Reply to test'>Reply</a></span></div>
																	</div><!-- comment-inner  -->
																</div><!-- comment-wrapper  -->
															</li><!-- #comment-## -->
															<li class="comment odd alt thread-even depth-1" id="li-comment-2476">
																<div class="comment-wrapper" id="comment-2476">
																	<div class="comment-inner">
																		<div class="comment-avatar">
																			<img alt='' src='https://secure.gravatar.com/avatar/887c0e9ef2502e8bc7aa5a33e9264aad?s=46&amp;d=mm&amp;r=g' srcset='https://secure.gravatar.com/avatar/887c0e9ef2502e8bc7aa5a33e9264aad?s=92&#038;d=mm&#038;r=g 2x' class='avatar avatar-46 photo' height='46' width='46' loading='lazy' decoding='async' />
																		</div>
																		<div class="commentmeta">
																			<p class="comment-meta-1">
																				<cite class="fn"><a href="http://him.com/" class="url" rel="ugc external nofollow">himanshu</a></cite>
																			</p>
																			<p class="comment-meta-2">
																				May 11, 2020 at 6:40 am
																			</p>
																		</div>
																		<div class="text">
																			<div class="c">
																				<p>testing</p>
																			</div>
																		</div><!-- .text  -->
																		<div class="clear"></div>
																		<div class="comment-reply"><span class="reply"><a rel='nofollow' class='comment-reply-link' href='index772f.html?replytocom=2476#respond' data-commentid="2476" data-postid="54" data-belowelement="comment-2476" data-respondelement="respond" data-replyto="Reply to himanshu" aria-label='Reply to himanshu'>Reply</a></span></div>
																	</div><!-- comment-inner  -->
																</div><!-- comment-wrapper  -->
															</li><!-- #comment-## -->
														</ol>


														<div id="respond" class="comment-respond">
															<h3 id="reply-title" class="comment-reply-title"><div><h4 class="post-header"><span class="post-header">Leave a Reply</span></h4></div> <small><a rel="nofollow" id="cancel-comment-reply-link" href="index.html#respond" style="display:none;">Cancel reply</a></small></h3><form action="https://mvpthemes.com/flexmag/wp-comments-post.php" method="post" id="commentform" class="comment-form">
																<p class="comment-notes"><span id="email-notes">Your email address will not be published.</span> <span class="required-field-message">Required fields are marked <span class="required">*</span></span></p><p class="comment-form-comment"><label for="comment">Comment <span class="required">*</span></label> <textarea id="comment" name="comment" cols="45" rows="8" maxlength="65525" required="required"></textarea></p><p class="comment-form-author"><label for="author">Name <span class="required">*</span></label> <input id="author" name="author" type="text" value="" size="30" maxlength="245" autocomplete="name" required="required" /></p>
																<p class="comment-form-email"><label for="email">Email <span class="required">*</span></label> <input id="email" name="email" type="text" value="" size="30" maxlength="100" aria-describedby="email-notes" autocomplete="email" required="required" /></p>
																<p class="comment-form-url"><label for="url">Website</label> <input id="url" name="url" type="text" value="" size="30" maxlength="200" autocomplete="url" /></p>
																<p class="comment-form-cookies-consent"><input id="wp-comment-cookies-consent" name="wp-comment-cookies-consent" type="checkbox" value="yes" /> <label for="wp-comment-cookies-consent">Save my name, email, and website in this browser for the next time I comment.</label></p>
																<p class="form-submit">
																	<input name="submit" type="submit" id="submit" class="submit" value="Post Comment" /> <input type='hidden' name='comment_post_ID' value='54' id='comment_post_ID' />
																	<input type='hidden' name='comment_parent' id='comment_parent' value='0' />
																</p><!-- Anti-spam plugin wordpress.org/plugins/anti-spam/ --><div class="wantispam-required-fields">
																	<input type="hidden" name="wantispam_t" class="wantispam-control wantispam-control-t" value="1716311232" /><div class="wantispam-group wantispam-group-q" style="clear: both;">
																		<label>Current ye@r <span class="required">*</span></label>
																		<input type="hidden" name="wantispam_a" class="wantispam-control wantispam-control-a" value="2024" />
																		<input type="text" name="wantispam_q" class="wantispam-control wantispam-control-q" value="7.3.5" autocomplete="off" />
																	</div>
																	<div class="wantispam-group wantispam-group-e" style="display: none;">
																		<label>Leave this field empty</label>
																		<input type="text" name="wantispam_e_email_url_website" class="wantispam-control wantispam-control-e" value="" autocomplete="off" />
																	</div>
																</div><!--\End Anti-spam plugin -->
															</form>
														</div><!-- #respond -->

													</div><!--comments-->
												</div><!--content-main-->
											</div><!--post-cont-in-->
											<div id="post-sidebar-wrap">
												<img src="../../../www.mvpthemes.com/flexmag/wp-content/uploads/2015/09/flex300x600.jpg" />
											</div><!--post-sidebar-wrap-->
										</div><!--post-cont-out-->
									</div><!--content-area-->
								</article>


								<nav class="navigation post-navigation" aria-label="Posts">
									<h2 class="screen-reader-text">Post navigation</h2>
									<div class="nav-links"><div class="nav-previous"><a href="../tesla-is-installing-rapid-charging-stations-in-manhattan-garages/index.html" rel="prev">Tesla is installing rapid charging stations in Manhattan garages</a></div><div class="nav-next"><a href="../only-three-players-have-a-winning-record-against-rafael-nadal/index.html" rel="next">Only three players have a winning record against Rafael Nadal</a></div></div>
								</nav>
							</div><!--post-left-col-->
						</div><!--post-wrap-in1-->
						<div id="post-right-col" class="relative">
							<div class="side-title-wrap left relative">
								<h3 class="side-list-title">Most Popular</h3>
							</div><!--side-title-wrap-->
							<div class="side-pop-wrap left relative">
								<div class="feat-widget-cont left relative">
									<div class="feat-widget-wrap left relative">
										<a href="../kylie-jenner-was-paid-six-figures-to-attend-her-own-18th-birthday-party/index.html">
											<div class="feat-widget-img left relative">
												<img width="300" height="180" src="../wp-content/uploads/2015/08/celebrity1-300x180.jpg" class="reg-img wp-post-image" alt="" decoding="async" loading="lazy" srcset="https://mvpthemes.com/flexmag/wp-content/uploads/2015/08/celebrity1-300x180.jpg 300w, https://mvpthemes.com/flexmag/wp-content/uploads/2015/08/celebrity1-450x270.jpg 450w, https://mvpthemes.com/flexmag/wp-content/uploads/2015/08/celebrity1.jpg 1000w" sizes="(max-width: 300px) 100vw, 300px" />						<img width="80" height="80" src="../wp-content/uploads/2015/08/celebrity1-80x80.jpg" class="mob-img wp-post-image" alt="" decoding="async" loading="lazy" srcset="https://mvpthemes.com/flexmag/wp-content/uploads/2015/08/celebrity1-80x80.jpg 80w, https://mvpthemes.com/flexmag/wp-content/uploads/2015/08/celebrity1-150x150.jpg 150w, https://mvpthemes.com/flexmag/wp-content/uploads/2015/08/celebrity1-180x180.jpg 180w, https://mvpthemes.com/flexmag/wp-content/uploads/2015/08/celebrity1-600x600.jpg 600w" sizes="(max-width: 80px) 100vw, 80px" />													<div class="feat-info-wrap">
													<div class="feat-info-views">
														<i class="fa fa-eye fa-2"></i> <span class="feat-info-text">174.0K</span>
													</div><!--feat-info-views-->
													<div class="feat-info-comm">
														<i class="fa fa-comment"></i> <span class="feat-info-text">10</span>
													</div><!--feat-info-comm-->
												</div><!--feat-info-wrap-->
											</div><!--feat-widget-img-->
											<div class="feat-widget-text">
												<span class="side-list-cat">Fashion</span>
												<h2>Kylie Jenner was paid six figures to attend her own 18th birthday party</h2>
											</div><!--feat-widget-text-->
										</a>
									</div><!--feat-widget-wrap-->
									<div class="widget-ad left relative pop-ad">
										<a href="http://themeforest.net/item/flex-mag-responsive-wordpress-news-theme/12772303?ref=mvpthemes" target="_blank"><img src="../../../www.mvpthemes.com/flexmag/wp-content/uploads/2015/09/flex300x250.jpg" /></a>
									</div><!--widget-ad-->
									<div class="feat-widget-wrap left relative">
										<a href="../tesla-is-installing-rapid-charging-stations-in-manhattan-garages/index.html">
											<div class="feat-widget-img left relative">
												<img width="300" height="180" src="../wp-content/uploads/2015/08/car2-300x180.jpg" class="reg-img wp-post-image" alt="" decoding="async" loading="lazy" srcset="https://mvpthemes.com/flexmag/wp-content/uploads/2015/08/car2-300x180.jpg 300w, https://mvpthemes.com/flexmag/wp-content/uploads/2015/08/car2-450x270.jpg 450w, https://mvpthemes.com/flexmag/wp-content/uploads/2015/08/car2.jpg 1000w" sizes="(max-width: 300px) 100vw, 300px" />						<img width="80" height="80" src="../wp-content/uploads/2015/08/car2-80x80.jpg" class="mob-img wp-post-image" alt="" decoding="async" loading="lazy" srcset="https://mvpthemes.com/flexmag/wp-content/uploads/2015/08/car2-80x80.jpg 80w, https://mvpthemes.com/flexmag/wp-content/uploads/2015/08/car2-150x150.jpg 150w, https://mvpthemes.com/flexmag/wp-content/uploads/2015/08/car2-180x180.jpg 180w, https://mvpthemes.com/flexmag/wp-content/uploads/2015/08/car2-600x600.jpg 600w" sizes="(max-width: 80px) 100vw, 80px" />													<div class="feat-info-wrap">
													<div class="feat-info-views">
														<i class="fa fa-eye fa-2"></i> <span class="feat-info-text">124.3K</span>
													</div><!--feat-info-views-->
													<div class="feat-info-comm">
														<i class="fa fa-comment"></i> <span class="feat-info-text">9</span>
													</div><!--feat-info-comm-->
												</div><!--feat-info-wrap-->
											</div><!--feat-widget-img-->
											<div class="feat-widget-text">
												<span class="side-list-cat">Business</span>
												<h2>Tesla is installing rapid charging stations in Manhattan garages</h2>
											</div><!--feat-widget-text-->
										</a>
									</div><!--feat-widget-wrap-->
									<div class="feat-widget-wrap left relative">
										<a href="../samsung-flags-australian-pricing-and-dates-for-its-new-galaxy-phones/index.html">
											<div class="feat-widget-img left relative">
												<img width="300" height="180" src="../wp-content/uploads/2015/08/phones-300x180.jpg" class="reg-img wp-post-image" alt="" decoding="async" loading="lazy" srcset="https://mvpthemes.com/flexmag/wp-content/uploads/2015/08/phones-300x180.jpg 300w, https://mvpthemes.com/flexmag/wp-content/uploads/2015/08/phones-450x270.jpg 450w, https://mvpthemes.com/flexmag/wp-content/uploads/2015/08/phones.jpg 1000w" sizes="(max-width: 300px) 100vw, 300px" />						<img width="80" height="80" src="../wp-content/uploads/2015/08/phones-80x80.jpg" class="mob-img wp-post-image" alt="" decoding="async" loading="lazy" srcset="https://mvpthemes.com/flexmag/wp-content/uploads/2015/08/phones-80x80.jpg 80w, https://mvpthemes.com/flexmag/wp-content/uploads/2015/08/phones-150x150.jpg 150w, https://mvpthemes.com/flexmag/wp-content/uploads/2015/08/phones-180x180.jpg 180w, https://mvpthemes.com/flexmag/wp-content/uploads/2015/08/phones-600x600.jpg 600w" sizes="(max-width: 80px) 100vw, 80px" />													<div class="feat-info-wrap">
													<div class="feat-info-views">
														<i class="fa fa-eye fa-2"></i> <span class="feat-info-text">119.9K</span>
													</div><!--feat-info-views-->
													<div class="feat-info-comm">
														<i class="fa fa-comment"></i> <span class="feat-info-text">2</span>
													</div><!--feat-info-comm-->
												</div><!--feat-info-wrap-->
											</div><!--feat-widget-img-->
											<div class="feat-widget-text">
												<span class="side-list-cat">Tech</span>
												<h2>Samsung flags Australian pricing and dates for its new Galaxy phones</h2>
											</div><!--feat-widget-text-->
										</a>
									</div><!--feat-widget-wrap-->
									<div class="feat-widget-wrap left relative">
										<a href="../15-date-night-outfits-inspired-by-celebs/index.html">
											<div class="feat-widget-img left relative">
												<img width="300" height="180" src="../wp-content/uploads/2015/08/couple-fashion-300x180.jpg" class="reg-img wp-post-image" alt="" decoding="async" loading="lazy" srcset="https://mvpthemes.com/flexmag/wp-content/uploads/2015/08/couple-fashion-300x180.jpg 300w, https://mvpthemes.com/flexmag/wp-content/uploads/2015/08/couple-fashion-1000x600.jpg 1000w, https://mvpthemes.com/flexmag/wp-content/uploads/2015/08/couple-fashion-450x270.jpg 450w" sizes="(max-width: 300px) 100vw, 300px" />						<img width="80" height="80" src="../wp-content/uploads/2015/08/couple-fashion-80x80.jpg" class="mob-img wp-post-image" alt="" decoding="async" loading="lazy" srcset="https://mvpthemes.com/flexmag/wp-content/uploads/2015/08/couple-fashion-80x80.jpg 80w, https://mvpthemes.com/flexmag/wp-content/uploads/2015/08/couple-fashion-150x150.jpg 150w, https://mvpthemes.com/flexmag/wp-content/uploads/2015/08/couple-fashion-180x180.jpg 180w, https://mvpthemes.com/flexmag/wp-content/uploads/2015/08/couple-fashion-600x600.jpg 600w" sizes="(max-width: 80px) 100vw, 80px" />													<div class="feat-info-wrap">
													<div class="feat-info-views">
														<i class="fa fa-eye fa-2"></i> <span class="feat-info-text">109.7K</span>
													</div><!--feat-info-views-->
													<div class="feat-info-comm">
														<i class="fa fa-comment"></i> <span class="feat-info-text">9</span>
													</div><!--feat-info-comm-->
												</div><!--feat-info-wrap-->
											</div><!--feat-widget-img-->
											<div class="feat-widget-text">
												<span class="side-list-cat">Fashion</span>
												<h2>15 Date Night Outfits Inspired by Celebs</h2>
											</div><!--feat-widget-text-->
										</a>
									</div><!--feat-widget-wrap-->
									<div class="feat-widget-wrap left relative">
										<a href="../sound-isolating-headphones-let-you-really-hear-your-own-voice/index.html">
											<div class="feat-widget-img left relative">
												<img width="300" height="180" src="../wp-content/uploads/2015/08/man-headphones-300x180.jpg" class="reg-img wp-post-image" alt="" decoding="async" loading="lazy" srcset="https://mvpthemes.com/flexmag/wp-content/uploads/2015/08/man-headphones-300x180.jpg 300w, https://mvpthemes.com/flexmag/wp-content/uploads/2015/08/man-headphones-450x270.jpg 450w, https://mvpthemes.com/flexmag/wp-content/uploads/2015/08/man-headphones.jpg 1000w" sizes="(max-width: 300px) 100vw, 300px" />						<img width="80" height="80" src="../wp-content/uploads/2015/08/man-headphones-80x80.jpg" class="mob-img wp-post-image" alt="" decoding="async" loading="lazy" srcset="https://mvpthemes.com/flexmag/wp-content/uploads/2015/08/man-headphones-80x80.jpg 80w, https://mvpthemes.com/flexmag/wp-content/uploads/2015/08/man-headphones-150x150.jpg 150w, https://mvpthemes.com/flexmag/wp-content/uploads/2015/08/man-headphones-180x180.jpg 180w, https://mvpthemes.com/flexmag/wp-content/uploads/2015/08/man-headphones-600x600.jpg 600w" sizes="(max-width: 80px) 100vw, 80px" />													<div class="feat-info-wrap">
													<div class="feat-info-views">
														<i class="fa fa-eye fa-2"></i> <span class="feat-info-text">105.9K</span>
													</div><!--feat-info-views-->
													<div class="feat-info-comm">
														<i class="fa fa-comment"></i> <span class="feat-info-text">5</span>
													</div><!--feat-info-comm-->
												</div><!--feat-info-wrap-->
											</div><!--feat-widget-img-->
											<div class="feat-widget-text">
												<span class="side-list-cat">Tech</span>
												<h2>Sound-isolating headphones let you really hear your own voice</h2>
											</div><!--feat-widget-text-->
										</a>
									</div><!--feat-widget-wrap-->
									<div class="feat-widget-wrap left relative">
										<a href="../6-mlb-teams-that-could-use-upgrades-at-the-trade-deadline/index.html">
											<div class="feat-widget-img left relative">
												<img width="300" height="180" src="../wp-content/uploads/2015/07/scoreboard-300x180.jpg" class="reg-img wp-post-image" alt="" decoding="async" loading="lazy" srcset="https://mvpthemes.com/flexmag/wp-content/uploads/2015/07/scoreboard-300x180.jpg 300w, https://mvpthemes.com/flexmag/wp-content/uploads/2015/07/scoreboard-450x270.jpg 450w, https://mvpthemes.com/flexmag/wp-content/uploads/2015/07/scoreboard.jpg 1000w" sizes="(max-width: 300px) 100vw, 300px" />						<img width="80" height="80" src="../wp-content/uploads/2015/07/scoreboard-80x80.jpg" class="mob-img wp-post-image" alt="" decoding="async" loading="lazy" srcset="https://mvpthemes.com/flexmag/wp-content/uploads/2015/07/scoreboard-80x80.jpg 80w, https://mvpthemes.com/flexmag/wp-content/uploads/2015/07/scoreboard-150x150.jpg 150w, https://mvpthemes.com/flexmag/wp-content/uploads/2015/07/scoreboard-180x180.jpg 180w, https://mvpthemes.com/flexmag/wp-content/uploads/2015/07/scoreboard-600x600.jpg 600w" sizes="(max-width: 80px) 100vw, 80px" />													<div class="feat-info-wrap">
													<div class="feat-info-views">
														<i class="fa fa-eye fa-2"></i> <span class="feat-info-text">105.5K</span>
													</div><!--feat-info-views-->
													<div class="feat-info-comm">
														<i class="fa fa-comment"></i> <span class="feat-info-text">2</span>
													</div><!--feat-info-comm-->
												</div><!--feat-info-wrap-->
											</div><!--feat-widget-img-->
											<div class="feat-widget-text">
												<span class="side-list-cat">Sports</span>
												<h2>6 MLB teams that could use upgrades at the trade deadline</h2>
											</div><!--feat-widget-text-->
										</a>
									</div><!--feat-widget-wrap-->
									<div class="feat-widget-wrap left relative">
										<a href="../only-three-players-have-a-winning-record-against-rafael-nadal/index.html">
											<div class="feat-widget-img left relative">
												<img width="300" height="180" src="../wp-content/uploads/2015/09/tennis1-300x180.jpg" class="reg-img wp-post-image" alt="" decoding="async" loading="lazy" srcset="https://mvpthemes.com/flexmag/wp-content/uploads/2015/09/tennis1-300x180.jpg 300w, https://mvpthemes.com/flexmag/wp-content/uploads/2015/09/tennis1-450x270.jpg 450w, https://mvpthemes.com/flexmag/wp-content/uploads/2015/09/tennis1.jpg 1000w" sizes="(max-width: 300px) 100vw, 300px" />						<img width="80" height="80" src="../wp-content/uploads/2015/09/tennis1-80x80.jpg" class="mob-img wp-post-image" alt="" decoding="async" loading="lazy" srcset="https://mvpthemes.com/flexmag/wp-content/uploads/2015/09/tennis1-80x80.jpg 80w, https://mvpthemes.com/flexmag/wp-content/uploads/2015/09/tennis1-150x150.jpg 150w, https://mvpthemes.com/flexmag/wp-content/uploads/2015/09/tennis1-180x180.jpg 180w, https://mvpthemes.com/flexmag/wp-content/uploads/2015/09/tennis1-600x600.jpg 600w" sizes="(max-width: 80px) 100vw, 80px" />													<div class="feat-info-wrap">
													<div class="feat-info-views">
														<i class="fa fa-eye fa-2"></i> <span class="feat-info-text">100.5K</span>
													</div><!--feat-info-views-->
													<div class="feat-info-comm">
														<i class="fa fa-comment"></i> <span class="feat-info-text">19</span>
													</div><!--feat-info-comm-->
												</div><!--feat-info-wrap-->
											</div><!--feat-widget-img-->
											<div class="feat-widget-text">
												<span class="side-list-cat">Sports</span>
												<h2>Only three players have a winning record against Rafael Nadal</h2>
											</div><!--feat-widget-text-->
										</a>
									</div><!--feat-widget-wrap-->
									<div class="feat-widget-wrap left relative">
										<a href="../star-wars-rogue-one-cast-episode-ix-director-confirmed-at-d23/index.html">
											<div class="feat-widget-img left relative">
												<img width="300" height="180" src="../wp-content/uploads/2015/08/star-wars-300x180.jpg" class="reg-img wp-post-image" alt="" decoding="async" loading="lazy" srcset="https://mvpthemes.com/flexmag/wp-content/uploads/2015/08/star-wars-300x180.jpg 300w, https://mvpthemes.com/flexmag/wp-content/uploads/2015/08/star-wars-450x270.jpg 450w, https://mvpthemes.com/flexmag/wp-content/uploads/2015/08/star-wars.jpg 1000w" sizes="(max-width: 300px) 100vw, 300px" />						<img width="80" height="80" src="../wp-content/uploads/2015/08/star-wars-80x80.jpg" class="mob-img wp-post-image" alt="" decoding="async" loading="lazy" srcset="https://mvpthemes.com/flexmag/wp-content/uploads/2015/08/star-wars-80x80.jpg 80w, https://mvpthemes.com/flexmag/wp-content/uploads/2015/08/star-wars-150x150.jpg 150w, https://mvpthemes.com/flexmag/wp-content/uploads/2015/08/star-wars-180x180.jpg 180w, https://mvpthemes.com/flexmag/wp-content/uploads/2015/08/star-wars-600x600.jpg 600w" sizes="(max-width: 80px) 100vw, 80px" />													<div class="feat-info-wrap">
													<div class="feat-info-views">
														<i class="fa fa-eye fa-2"></i> <span class="feat-info-text">97.4K</span>
													</div><!--feat-info-views-->
													<div class="feat-info-comm">
														<i class="fa fa-comment"></i> <span class="feat-info-text">2</span>
													</div><!--feat-info-comm-->
												</div><!--feat-info-wrap-->
											</div><!--feat-widget-img-->
											<div class="feat-widget-text">
												<span class="side-list-cat">Entertainment</span>
												<h2>Star Wars &#8216;Rogue One&#8217; cast, &#8216;Episode IX&#8217; director confirmed at D23</h2>
											</div><!--feat-widget-text-->
										</a>
									</div><!--feat-widget-wrap-->
								</div><!--feat-widget-cont-->
							</div><!--side-pop-wrap-->
						</div><!--post-right-col-->
					</div><!--post-wrap-out1-->
				</div><!--post-main-wrap-->
				<div id="foot-ad-wrap" class="left relative">
					<div style="width: 90%; height: 30px; background: #ddd; text-align: center; display: inline-block; color: #bbb; font-family: 'Open Sans', sans-serif; font-weight: 700; font-size: 1.2rem; white-space: nowrap; padding: 30px 5% 0; overflow: hidden;">RESPONSIVE LEADERBOARD AD AREA</div>
				</div><!--foot-ad-wrap-->
			</div><!--body-main-cont-->
		</div><!--body-main-in-->
	</div><!--body-main-out-->
</div><!--body-main-wrap-->