<div id="body-main-wrap" class="left relative">
	<div class="body-main-out relative">
		<div class="body-main-in">
			<div id="body-main-cont" class="left relative">
				<div id="leader-wrap" class="left relative">
					<div style="width: 90%; height: 30px; background: #ddd; text-align: center; display: inline-block; color: #bbb; font-family: 'Open Sans', sans-serif; font-weight: 700; font-size: 1.2rem; white-space: nowrap; padding: 30px 5% 0; overflow: hidden;">RESPONSIVE LEADERBOARD AD AREA</div>
				</div><!--leader-wrap-->
				<div id="home-main-wrap" class="left relative">
					<div class="home-wrap-out1">
						<div class="home-wrap-in1">
							<div id="home-left-wrap" class="left relative">
								<div id="home-left-col" class="relative">
									<h1 class="cat-head">Latest News</h1>
									<div id="home-mid-wrap" class="left relative">
										<div id="archive-list-wrap" class="left relative">
											<ul class="archive-col-list left relative infinite-content">
												<li class="infinite-post">
													<a href="../flex-mag-powerfully-simple-wordpress-theme/index.html" rel="bookmark" title="Flex Mag: Powerfully simple WordPress theme">
														<div class="archive-list-out">
															<div class="archive-list-img left relative">
																<img width="450" height="270" src="../wp-content/uploads/2015/09/woman-beach2-450x270.jpg" class="reg-img wp-post-image" alt="" decoding="async" loading="lazy" srcset="https://mvpthemes.com/flexmag/wp-content/uploads/2015/09/woman-beach2-450x270.jpg 450w, https://mvpthemes.com/flexmag/wp-content/uploads/2015/09/woman-beach2-300x180.jpg 300w, https://mvpthemes.com/flexmag/wp-content/uploads/2015/09/woman-beach2-1024x614.jpg 1024w, https://mvpthemes.com/flexmag/wp-content/uploads/2015/09/woman-beach2-1000x600.jpg 1000w, https://mvpthemes.com/flexmag/wp-content/uploads/2015/09/woman-beach2.jpg 1600w" sizes="(max-width: 450px) 100vw, 450px" />												<img width="80" height="80" src="../wp-content/uploads/2015/09/woman-beach2-80x80.jpg" class="mob-img wp-post-image" alt="" decoding="async" loading="lazy" srcset="https://mvpthemes.com/flexmag/wp-content/uploads/2015/09/woman-beach2-80x80.jpg 80w, https://mvpthemes.com/flexmag/wp-content/uploads/2015/09/woman-beach2-150x150.jpg 150w, https://mvpthemes.com/flexmag/wp-content/uploads/2015/09/woman-beach2-180x180.jpg 180w, https://mvpthemes.com/flexmag/wp-content/uploads/2015/09/woman-beach2-600x600.jpg 600w" sizes="(max-width: 80px) 100vw, 80px" />																									<div class="feat-info-wrap">
																	<div class="feat-info-views">
																		<i class="fa fa-eye fa-2"></i> <span class="feat-info-text">45.4K</span>
																	</div><!--feat-info-views-->
																	<div class="feat-info-comm">
																		<i class="fa fa-comment"></i> <span class="feat-info-text">29</span>
																	</div><!--feat-info-comm-->
																</div><!--feat-info-wrap-->
															</div><!--archive-list-img-->
															<div class="archive-list-in">
																<div class="archive-list-text left relative">
																	<span class="side-list-cat">Business</span>
																	<h2>Flex Mag: Powerfully simple WordPress theme</h2>
																	<p>Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae.</p>
																</div><!--archive-list-text-->
															</div><!--archive-list-in-->
														</div><!--archive-list-out-->
													</a>
												</li>
												<li class="infinite-post">
													<a href="../only-three-players-have-a-winning-record-against-rafael-nadal/index.html" rel="bookmark" title="Only three players have a winning record against Rafael Nadal">
														<div class="archive-list-out">
															<div class="archive-list-img left relative">
																<img width="450" height="270" src="../wp-content/uploads/2015/09/tennis1-450x270.jpg" class="reg-img wp-post-image" alt="" decoding="async" loading="lazy" srcset="https://mvpthemes.com/flexmag/wp-content/uploads/2015/09/tennis1-450x270.jpg 450w, https://mvpthemes.com/flexmag/wp-content/uploads/2015/09/tennis1-300x180.jpg 300w, https://mvpthemes.com/flexmag/wp-content/uploads/2015/09/tennis1.jpg 1000w" sizes="(max-width: 450px) 100vw, 450px" />												<img width="80" height="80" src="../wp-content/uploads/2015/09/tennis1-80x80.jpg" class="mob-img wp-post-image" alt="" decoding="async" loading="lazy" srcset="https://mvpthemes.com/flexmag/wp-content/uploads/2015/09/tennis1-80x80.jpg 80w, https://mvpthemes.com/flexmag/wp-content/uploads/2015/09/tennis1-150x150.jpg 150w, https://mvpthemes.com/flexmag/wp-content/uploads/2015/09/tennis1-180x180.jpg 180w, https://mvpthemes.com/flexmag/wp-content/uploads/2015/09/tennis1-600x600.jpg 600w" sizes="(max-width: 80px) 100vw, 80px" />																									<div class="feat-info-wrap">
																	<div class="feat-info-views">
																		<i class="fa fa-eye fa-2"></i> <span class="feat-info-text">100.5K</span>
																	</div><!--feat-info-views-->
																	<div class="feat-info-comm">
																		<i class="fa fa-comment"></i> <span class="feat-info-text">19</span>
																	</div><!--feat-info-comm-->
																</div><!--feat-info-wrap-->
															</div><!--archive-list-img-->
															<div class="archive-list-in">
																<div class="archive-list-text left relative">
																	<span class="side-list-cat">Sports</span>
																	<h2>Only three players have a winning record against Rafael Nadal</h2>
																	<p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione.</p>
																</div><!--archive-list-text-->
															</div><!--archive-list-in-->
														</div><!--archive-list-out-->
													</a>
												</li>
												<li class="infinite-post">
													<a href="../terrell-owens-says-he-doesnt-care-about-the-hall-of-fame/index.html" rel="bookmark" title="Terrell Owens says he doesn&#8217;t care about the Hall of Fame">
														<div class="archive-list-out">
															<div class="archive-list-img left relative">
																<img width="450" height="270" src="../wp-content/uploads/2015/07/football1-450x270.jpg" class="reg-img wp-post-image" alt="" decoding="async" loading="lazy" srcset="https://mvpthemes.com/flexmag/wp-content/uploads/2015/07/football1-450x270.jpg 450w, https://mvpthemes.com/flexmag/wp-content/uploads/2015/07/football1-300x180.jpg 300w, https://mvpthemes.com/flexmag/wp-content/uploads/2015/07/football1.jpg 1000w" sizes="(max-width: 450px) 100vw, 450px" />												<img width="80" height="80" src="../wp-content/uploads/2015/07/football1-80x80.jpg" class="mob-img wp-post-image" alt="" decoding="async" loading="lazy" srcset="https://mvpthemes.com/flexmag/wp-content/uploads/2015/07/football1-80x80.jpg 80w, https://mvpthemes.com/flexmag/wp-content/uploads/2015/07/football1-150x150.jpg 150w, https://mvpthemes.com/flexmag/wp-content/uploads/2015/07/football1-180x180.jpg 180w, https://mvpthemes.com/flexmag/wp-content/uploads/2015/07/football1-600x600.jpg 600w" sizes="(max-width: 80px) 100vw, 80px" />																									<div class="feat-info-wrap">
																	<div class="feat-info-views">
																		<i class="fa fa-eye fa-2"></i> <span class="feat-info-text">118.0K</span>
																	</div><!--feat-info-views-->
																	<div class="feat-info-comm">
																		<i class="fa fa-comment"></i> <span class="feat-info-text">18</span>
																	</div><!--feat-info-comm-->
																</div><!--feat-info-wrap-->
																<div class="feat-vid-but">
																	<i class="fa fa-play fa-3"></i>
																</div><!--feat-vid-but-->
															</div><!--archive-list-img-->
															<div class="archive-list-in">
																<div class="archive-list-text left relative">
																	<span class="side-list-cat">Sports</span>
																	<h2>Terrell Owens says he doesn&#8217;t care about the Hall of Fame</h2>
																	<p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni.</p>
																</div><!--archive-list-text-->
															</div><!--archive-list-in-->
														</div><!--archive-list-out-->
													</a>
												</li>
												<li class="infinite-post">
													<a href="../tesla-is-installing-rapid-charging-stations-in-manhattan-garages/index.html" rel="bookmark" title="Tesla is installing rapid charging stations in Manhattan garages">
														<div class="archive-list-out">
															<div class="archive-list-img left relative">
																<img width="450" height="270" src="../wp-content/uploads/2015/08/car2-450x270.jpg" class="reg-img wp-post-image" alt="" decoding="async" loading="lazy" srcset="https://mvpthemes.com/flexmag/wp-content/uploads/2015/08/car2-450x270.jpg 450w, https://mvpthemes.com/flexmag/wp-content/uploads/2015/08/car2-300x180.jpg 300w, https://mvpthemes.com/flexmag/wp-content/uploads/2015/08/car2.jpg 1000w" sizes="(max-width: 450px) 100vw, 450px" />												<img width="80" height="80" src="../wp-content/uploads/2015/08/car2-80x80.jpg" class="mob-img wp-post-image" alt="" decoding="async" loading="lazy" srcset="https://mvpthemes.com/flexmag/wp-content/uploads/2015/08/car2-80x80.jpg 80w, https://mvpthemes.com/flexmag/wp-content/uploads/2015/08/car2-150x150.jpg 150w, https://mvpthemes.com/flexmag/wp-content/uploads/2015/08/car2-180x180.jpg 180w, https://mvpthemes.com/flexmag/wp-content/uploads/2015/08/car2-600x600.jpg 600w" sizes="(max-width: 80px) 100vw, 80px" />																									<div class="feat-info-wrap">
																	<div class="feat-info-views">
																		<i class="fa fa-eye fa-2"></i> <span class="feat-info-text">124.3K</span>
																	</div><!--feat-info-views-->
																	<div class="feat-info-comm">
																		<i class="fa fa-comment"></i> <span class="feat-info-text">9</span>
																	</div><!--feat-info-comm-->
																</div><!--feat-info-wrap-->
															</div><!--archive-list-img-->
															<div class="archive-list-in">
																<div class="archive-list-text left relative">
																	<span class="side-list-cat">Business</span>
																	<h2>Tesla is installing rapid charging stations in Manhattan garages</h2>
																	<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
																</div><!--archive-list-text-->
															</div><!--archive-list-in-->
														</div><!--archive-list-out-->
													</a>
												</li>
												<li class="infinite-post">
													<a href="../15-date-night-outfits-inspired-by-celebs/index.html" rel="bookmark" title="15 Date Night Outfits Inspired by Celebs">
														<div class="archive-list-out">
															<div class="archive-list-img left relative">
																<img width="450" height="270" src="../wp-content/uploads/2015/08/couple-fashion-450x270.jpg" class="reg-img wp-post-image" alt="" decoding="async" loading="lazy" srcset="https://mvpthemes.com/flexmag/wp-content/uploads/2015/08/couple-fashion-450x270.jpg 450w, https://mvpthemes.com/flexmag/wp-content/uploads/2015/08/couple-fashion-1000x600.jpg 1000w, https://mvpthemes.com/flexmag/wp-content/uploads/2015/08/couple-fashion-300x180.jpg 300w" sizes="(max-width: 450px) 100vw, 450px" />												<img width="80" height="80" src="../wp-content/uploads/2015/08/couple-fashion-80x80.jpg" class="mob-img wp-post-image" alt="" decoding="async" loading="lazy" srcset="https://mvpthemes.com/flexmag/wp-content/uploads/2015/08/couple-fashion-80x80.jpg 80w, https://mvpthemes.com/flexmag/wp-content/uploads/2015/08/couple-fashion-150x150.jpg 150w, https://mvpthemes.com/flexmag/wp-content/uploads/2015/08/couple-fashion-180x180.jpg 180w, https://mvpthemes.com/flexmag/wp-content/uploads/2015/08/couple-fashion-600x600.jpg 600w" sizes="(max-width: 80px) 100vw, 80px" />																									<div class="feat-info-wrap">
																	<div class="feat-info-views">
																		<i class="fa fa-eye fa-2"></i> <span class="feat-info-text">109.7K</span>
																	</div><!--feat-info-views-->
																	<div class="feat-info-comm">
																		<i class="fa fa-comment"></i> <span class="feat-info-text">9</span>
																	</div><!--feat-info-comm-->
																</div><!--feat-info-wrap-->
															</div><!--archive-list-img-->
															<div class="archive-list-in">
																<div class="archive-list-text left relative">
																	<span class="side-list-cat">Fashion</span>
																	<h2>15 Date Night Outfits Inspired by Celebs</h2>
																	<p>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora.</p>
																</div><!--archive-list-text-->
															</div><!--archive-list-in-->
														</div><!--archive-list-out-->
													</a>
												</li>
												<li class="infinite-post">
													<a href="../sound-isolating-headphones-let-you-really-hear-your-own-voice/index.html" rel="bookmark" title="Sound-isolating headphones let you really hear your own voice">
														<div class="archive-list-out">
															<div class="archive-list-img left relative">
																<img width="450" height="270" src="../wp-content/uploads/2015/08/man-headphones-450x270.jpg" class="reg-img wp-post-image" alt="" decoding="async" loading="lazy" srcset="https://mvpthemes.com/flexmag/wp-content/uploads/2015/08/man-headphones-450x270.jpg 450w, https://mvpthemes.com/flexmag/wp-content/uploads/2015/08/man-headphones-300x180.jpg 300w, https://mvpthemes.com/flexmag/wp-content/uploads/2015/08/man-headphones.jpg 1000w" sizes="(max-width: 450px) 100vw, 450px" />												<img width="80" height="80" src="../wp-content/uploads/2015/08/man-headphones-80x80.jpg" class="mob-img wp-post-image" alt="" decoding="async" loading="lazy" srcset="https://mvpthemes.com/flexmag/wp-content/uploads/2015/08/man-headphones-80x80.jpg 80w, https://mvpthemes.com/flexmag/wp-content/uploads/2015/08/man-headphones-150x150.jpg 150w, https://mvpthemes.com/flexmag/wp-content/uploads/2015/08/man-headphones-180x180.jpg 180w, https://mvpthemes.com/flexmag/wp-content/uploads/2015/08/man-headphones-600x600.jpg 600w" sizes="(max-width: 80px) 100vw, 80px" />																									<div class="feat-info-wrap">
																	<div class="feat-info-views">
																		<i class="fa fa-eye fa-2"></i> <span class="feat-info-text">105.9K</span>
																	</div><!--feat-info-views-->
																	<div class="feat-info-comm">
																		<i class="fa fa-comment"></i> <span class="feat-info-text">5</span>
																	</div><!--feat-info-comm-->
																</div><!--feat-info-wrap-->
															</div><!--archive-list-img-->
															<div class="archive-list-in">
																<div class="archive-list-text left relative">
																	<span class="side-list-cat">Tech</span>
																	<h2>Sound-isolating headphones let you really hear your own voice</h2>
																	<p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui.</p>
																</div><!--archive-list-text-->
															</div><!--archive-list-in-->
														</div><!--archive-list-out-->
													</a>
												</li>
												<li class="infinite-post">
													<a href="../the-selfie-stick-has-taken-over-ces-2015/index.html" rel="bookmark" title="The selfie stick has taken over CES 2015">
														<div class="archive-list-out">
															<div class="archive-list-img left relative">
																<img width="450" height="270" src="../wp-content/uploads/2015/08/selfie-stick-450x270.jpg" class="reg-img wp-post-image" alt="" decoding="async" loading="lazy" srcset="https://mvpthemes.com/flexmag/wp-content/uploads/2015/08/selfie-stick-450x270.jpg 450w, https://mvpthemes.com/flexmag/wp-content/uploads/2015/08/selfie-stick-300x180.jpg 300w, https://mvpthemes.com/flexmag/wp-content/uploads/2015/08/selfie-stick.jpg 1000w" sizes="(max-width: 450px) 100vw, 450px" />												<img width="80" height="80" src="../wp-content/uploads/2015/08/selfie-stick-80x80.jpg" class="mob-img wp-post-image" alt="" decoding="async" loading="lazy" srcset="https://mvpthemes.com/flexmag/wp-content/uploads/2015/08/selfie-stick-80x80.jpg 80w, https://mvpthemes.com/flexmag/wp-content/uploads/2015/08/selfie-stick-150x150.jpg 150w, https://mvpthemes.com/flexmag/wp-content/uploads/2015/08/selfie-stick-180x180.jpg 180w, https://mvpthemes.com/flexmag/wp-content/uploads/2015/08/selfie-stick-600x600.jpg 600w" sizes="(max-width: 80px) 100vw, 80px" />																									<div class="feat-info-wrap">
																	<div class="feat-info-views">
																		<i class="fa fa-eye fa-2"></i> <span class="feat-info-text">86.9K</span>
																	</div><!--feat-info-views-->
																	<div class="feat-info-comm">
																		<i class="fa fa-comment"></i> <span class="feat-info-text">9</span>
																	</div><!--feat-info-comm-->
																</div><!--feat-info-wrap-->
															</div><!--archive-list-img-->
															<div class="archive-list-in">
																<div class="archive-list-text left relative">
																	<span class="side-list-cat">Tech</span>
																	<h2>The selfie stick has taken over CES 2015</h2>
																	<p>Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit.</p>
																</div><!--archive-list-text-->
															</div><!--archive-list-in-->
														</div><!--archive-list-out-->
													</a>
												</li>
												<li class="infinite-post">
													<a href="../how-to-gracefully-handle-multiple-job-offers-and-come-out-on-top/index.html" rel="bookmark" title="How to gracefully handle multiple job offers and come out on top">
														<div class="archive-list-out">
															<div class="archive-list-img left relative">
																<img width="450" height="270" src="../wp-content/uploads/2015/08/business-happy-450x270.jpg" class="reg-img wp-post-image" alt="" decoding="async" loading="lazy" srcset="https://mvpthemes.com/flexmag/wp-content/uploads/2015/08/business-happy-450x270.jpg 450w, https://mvpthemes.com/flexmag/wp-content/uploads/2015/08/business-happy-300x180.jpg 300w, https://mvpthemes.com/flexmag/wp-content/uploads/2015/08/business-happy.jpg 1000w" sizes="(max-width: 450px) 100vw, 450px" />												<img width="80" height="80" src="../wp-content/uploads/2015/08/business-happy-80x80.jpg" class="mob-img wp-post-image" alt="" decoding="async" loading="lazy" srcset="https://mvpthemes.com/flexmag/wp-content/uploads/2015/08/business-happy-80x80.jpg 80w, https://mvpthemes.com/flexmag/wp-content/uploads/2015/08/business-happy-150x150.jpg 150w, https://mvpthemes.com/flexmag/wp-content/uploads/2015/08/business-happy-180x180.jpg 180w, https://mvpthemes.com/flexmag/wp-content/uploads/2015/08/business-happy-600x600.jpg 600w" sizes="(max-width: 80px) 100vw, 80px" />																									<div class="feat-info-wrap">
																	<div class="feat-info-views">
																		<i class="fa fa-eye fa-2"></i> <span class="feat-info-text">69.2K</span>
																	</div><!--feat-info-views-->
																	<div class="feat-info-comm">
																		<i class="fa fa-comment"></i> <span class="feat-info-text">6</span>
																	</div><!--feat-info-comm-->
																</div><!--feat-info-wrap-->
															</div><!--archive-list-img-->
															<div class="archive-list-in">
																<div class="archive-list-text left relative">
																	<span class="side-list-cat">Business</span>
																	<h2>How to gracefully handle multiple job offers and come out on top</h2>
																	<p>Nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
																</div><!--archive-list-text-->
															</div><!--archive-list-in-->
														</div><!--archive-list-out-->
													</a>
												</li>
												<li class="infinite-post">
													<a href="../the-most-iconic-royal-wedding-gowns-of-all-time/index.html" rel="bookmark" title="The most iconic Royal wedding gowns of all time">
														<div class="archive-list-out">
															<div class="archive-list-img left relative">
																<img width="450" height="270" src="../wp-content/uploads/2015/08/wedding-dress-450x270.jpg" class="reg-img wp-post-image" alt="" decoding="async" loading="lazy" srcset="https://mvpthemes.com/flexmag/wp-content/uploads/2015/08/wedding-dress-450x270.jpg 450w, https://mvpthemes.com/flexmag/wp-content/uploads/2015/08/wedding-dress-300x180.jpg 300w, https://mvpthemes.com/flexmag/wp-content/uploads/2015/08/wedding-dress.jpg 1000w" sizes="(max-width: 450px) 100vw, 450px" />												<img width="80" height="80" src="../wp-content/uploads/2015/08/wedding-dress-80x80.jpg" class="mob-img wp-post-image" alt="" decoding="async" loading="lazy" srcset="https://mvpthemes.com/flexmag/wp-content/uploads/2015/08/wedding-dress-80x80.jpg 80w, https://mvpthemes.com/flexmag/wp-content/uploads/2015/08/wedding-dress-150x150.jpg 150w, https://mvpthemes.com/flexmag/wp-content/uploads/2015/08/wedding-dress-180x180.jpg 180w, https://mvpthemes.com/flexmag/wp-content/uploads/2015/08/wedding-dress-600x600.jpg 600w" sizes="(max-width: 80px) 100vw, 80px" />																									<div class="feat-info-wrap">
																	<div class="feat-info-views">
																		<i class="fa fa-eye fa-2"></i> <span class="feat-info-text">66.0K</span>
																	</div><!--feat-info-views-->
																	<div class="feat-info-comm">
																		<i class="fa fa-comment"></i> <span class="feat-info-text">3</span>
																	</div><!--feat-info-comm-->
																</div><!--feat-info-wrap-->
																<div class="feat-vid-but">
																	<i class="fa fa-play fa-3"></i>
																</div><!--feat-vid-but-->
															</div><!--archive-list-img-->
															<div class="archive-list-in">
																<div class="archive-list-text left relative">
																	<span class="side-list-cat">Fashion</span>
																	<h2>The most iconic Royal wedding gowns of all time</h2>
																	<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae.</p>
																</div><!--archive-list-text-->
															</div><!--archive-list-in-->
														</div><!--archive-list-out-->
													</a>
												</li>
												<li class="infinite-post">
													<a href="../watch-the-60-sickest-crossovers-of-the-nba-season/index.html" rel="bookmark" title="Watch the 60 sickest crossovers of the NBA season">
														<div class="archive-list-out">
															<div class="archive-list-img left relative">
																<img width="450" height="270" src="../wp-content/uploads/2015/09/basketball1-450x270.jpg" class="reg-img wp-post-image" alt="" decoding="async" loading="lazy" srcset="https://mvpthemes.com/flexmag/wp-content/uploads/2015/09/basketball1-450x270.jpg 450w, https://mvpthemes.com/flexmag/wp-content/uploads/2015/09/basketball1-300x180.jpg 300w, https://mvpthemes.com/flexmag/wp-content/uploads/2015/09/basketball1.jpg 1000w" sizes="(max-width: 450px) 100vw, 450px" />												<img width="80" height="80" src="../wp-content/uploads/2015/09/basketball1-80x80.jpg" class="mob-img wp-post-image" alt="" decoding="async" loading="lazy" srcset="https://mvpthemes.com/flexmag/wp-content/uploads/2015/09/basketball1-80x80.jpg 80w, https://mvpthemes.com/flexmag/wp-content/uploads/2015/09/basketball1-150x150.jpg 150w, https://mvpthemes.com/flexmag/wp-content/uploads/2015/09/basketball1-180x180.jpg 180w, https://mvpthemes.com/flexmag/wp-content/uploads/2015/09/basketball1-600x600.jpg 600w" sizes="(max-width: 80px) 100vw, 80px" />																									<div class="feat-info-wrap">
																	<div class="feat-info-views">
																		<i class="fa fa-eye fa-2"></i> <span class="feat-info-text">81.7K</span>
																	</div><!--feat-info-views-->
																	<div class="feat-info-comm">
																		<i class="fa fa-comment"></i> <span class="feat-info-text">3</span>
																	</div><!--feat-info-comm-->
																</div><!--feat-info-wrap-->
															</div><!--archive-list-img-->
															<div class="archive-list-in">
																<div class="archive-list-text left relative">
																	<span class="side-list-cat">Sports</span>
																	<h2>Watch the 60 sickest crossovers of the NBA season</h2>
																	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
																</div><!--archive-list-text-->
															</div><!--archive-list-in-->
														</div><!--archive-list-out-->
													</a>
												</li>
												<li class="infinite-post">
													<a href="../beyonce-bought-311000-diamond-stilettos/index.html" rel="bookmark" title="Beyonce bought $311,000 diamond Stilettos">
														<div class="archive-list-out">
															<div class="archive-list-img left relative">
																<img width="450" height="270" src="../wp-content/uploads/2015/08/woman-model1-450x270.jpg" class="reg-img wp-post-image" alt="" decoding="async" loading="lazy" srcset="https://mvpthemes.com/flexmag/wp-content/uploads/2015/08/woman-model1-450x270.jpg 450w, https://mvpthemes.com/flexmag/wp-content/uploads/2015/08/woman-model1-300x180.jpg 300w, https://mvpthemes.com/flexmag/wp-content/uploads/2015/08/woman-model1.jpg 1000w" sizes="(max-width: 450px) 100vw, 450px" />												<img width="80" height="80" src="../wp-content/uploads/2015/08/woman-model1-80x80.jpg" class="mob-img wp-post-image" alt="" decoding="async" loading="lazy" srcset="https://mvpthemes.com/flexmag/wp-content/uploads/2015/08/woman-model1-80x80.jpg 80w, https://mvpthemes.com/flexmag/wp-content/uploads/2015/08/woman-model1-150x150.jpg 150w, https://mvpthemes.com/flexmag/wp-content/uploads/2015/08/woman-model1-180x180.jpg 180w, https://mvpthemes.com/flexmag/wp-content/uploads/2015/08/woman-model1-600x600.jpg 600w" sizes="(max-width: 80px) 100vw, 80px" />																									<div class="feat-info-wrap">
																	<div class="feat-info-views">
																		<i class="fa fa-eye fa-2"></i> <span class="feat-info-text">64.1K</span>
																	</div><!--feat-info-views-->
																	<div class="feat-info-comm">
																		<i class="fa fa-comment"></i> <span class="feat-info-text">2</span>
																	</div><!--feat-info-comm-->
																</div><!--feat-info-wrap-->
															</div><!--archive-list-img-->
															<div class="archive-list-in">
																<div class="archive-list-text left relative">
																	<span class="side-list-cat">Fashion</span>
																	<h2>Beyonce bought $311,000 diamond Stilettos</h2>
																	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
																</div><!--archive-list-text-->
															</div><!--archive-list-in-->
														</div><!--archive-list-out-->
													</a>
												</li>
												<li class="infinite-post">
													<a href="../starbucks-just-made-a-major-change-to-its-pumpkin-spice-latte/index.html" rel="bookmark" title="Starbucks just made a major change to its Pumpkin Spice Latte">
														<div class="archive-list-out">
															<div class="archive-list-img left relative">
																<img width="450" height="270" src="../wp-content/uploads/2015/08/latte-450x270.jpg" class="reg-img wp-post-image" alt="" decoding="async" loading="lazy" srcset="https://mvpthemes.com/flexmag/wp-content/uploads/2015/08/latte-450x270.jpg 450w, https://mvpthemes.com/flexmag/wp-content/uploads/2015/08/latte-300x180.jpg 300w, https://mvpthemes.com/flexmag/wp-content/uploads/2015/08/latte.jpg 1000w" sizes="(max-width: 450px) 100vw, 450px" />												<img width="80" height="80" src="../wp-content/uploads/2015/08/latte-80x80.jpg" class="mob-img wp-post-image" alt="" decoding="async" loading="lazy" srcset="https://mvpthemes.com/flexmag/wp-content/uploads/2015/08/latte-80x80.jpg 80w, https://mvpthemes.com/flexmag/wp-content/uploads/2015/08/latte-150x150.jpg 150w, https://mvpthemes.com/flexmag/wp-content/uploads/2015/08/latte-180x180.jpg 180w, https://mvpthemes.com/flexmag/wp-content/uploads/2015/08/latte-600x600.jpg 600w" sizes="(max-width: 80px) 100vw, 80px" />																									<div class="feat-info-wrap">
																	<div class="feat-info-views">
																		<i class="fa fa-eye fa-2"></i> <span class="feat-info-text">53.5K</span>
																	</div><!--feat-info-views-->
																	<div class="feat-info-comm">
																		<i class="fa fa-comment"></i> <span class="feat-info-text">4</span>
																	</div><!--feat-info-comm-->
																</div><!--feat-info-wrap-->
															</div><!--archive-list-img-->
															<div class="archive-list-in">
																<div class="archive-list-text left relative">
																	<span class="side-list-cat">Business</span>
																	<h2>Starbucks just made a major change to its Pumpkin Spice Latte</h2>
																	<p>Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo.</p>
																</div><!--archive-list-text-->
															</div><!--archive-list-in-->
														</div><!--archive-list-out-->
													</a>
												</li>
											</ul>
											<a href="#" class="inf-more-but">More Posts</a>
											<div class="nav-links">
												<div class="pagination"><span>Page 1 of 4</span><span class="current">1</span><a href='page/2/index.html' class="inactive">2</a><a href='page/3/index.html' class="inactive">3</a><a href='page/4/index.html' class="inactive">4</a></div>
											</div><!--nav-links-->
										</div><!--archive-list-wrap-->
									</div><!--home-mid-wrap-->
								</div><!--home-left-col-->
							</div><!--home-left-wrap-->
						</div><!--home-wrap-in1-->
						<div id="arch-right-col" class="relative">
							<div id="sidebar-wrap" class="left relative theiaStickySidebar">
								<div class="widget-ad left relative">
									<a href="http://themeforest.net/item/flex-mag-responsive-wordpress-news-theme/12772303?ref=mvpthemes" target="_blank"><img src="../../../www.mvpthemes.com/flexmag/wp-content/uploads/2015/09/flex300x250.jpg" /></a>
								</div><!--widget-ad-->
								<div id="mvp_facebook_widget-3" class="side-widget mvp_facebook_widget">
									<h4 class="post-header"><span class="post-header">Facebook</span></h4>			<div class="fb-page" data-href="http://www.facebook.com/envato" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true" data-show-posts="false"><div class="fb-xfbml-parse-ignore"></div></div>
									<div id="fb-root"></div>
									<script>
										(function (d, s, id) {
											var js, fjs = d.getElementsByTagName(s)[0];
											if (d.getElementById(id)) return;
											js = d.createElement(s); js.id = id;
											js.src = "../../../connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.4";
											fjs.parentNode.insertBefore(js, fjs);
										}(document, 'script', 'facebook-jssdk'));</script>
								</div><div id="mvp_catlist_widget-7" class="side-widget mvp_catlist_widget">
									<h4 class="post-header"><span class="post-header">Latest News</span></h4>			<div class="blog-widget-wrap left relative">
										<ul class="blog-widget-list left relative">
											<li>

												<a href="../flex-mag-powerfully-simple-wordpress-theme/index.html" rel="bookmark">
													<div class="blog-widget-img left relative">
														<img width="300" height="180" src="../wp-content/uploads/2015/09/woman-beach2-300x180.jpg" class="widget-img-main wp-post-image" alt="" decoding="async" loading="lazy" srcset="https://mvpthemes.com/flexmag/wp-content/uploads/2015/09/woman-beach2-300x180.jpg 300w, https://mvpthemes.com/flexmag/wp-content/uploads/2015/09/woman-beach2-1024x614.jpg 1024w, https://mvpthemes.com/flexmag/wp-content/uploads/2015/09/woman-beach2-1000x600.jpg 1000w, https://mvpthemes.com/flexmag/wp-content/uploads/2015/09/woman-beach2-450x270.jpg 450w, https://mvpthemes.com/flexmag/wp-content/uploads/2015/09/woman-beach2.jpg 1600w" sizes="(max-width: 300px) 100vw, 300px" />									<img width="80" height="80" src="../wp-content/uploads/2015/09/woman-beach2-80x80.jpg" class="widget-img-side wp-post-image" alt="" decoding="async" loading="lazy" srcset="https://mvpthemes.com/flexmag/wp-content/uploads/2015/09/woman-beach2-80x80.jpg 80w, https://mvpthemes.com/flexmag/wp-content/uploads/2015/09/woman-beach2-150x150.jpg 150w, https://mvpthemes.com/flexmag/wp-content/uploads/2015/09/woman-beach2-180x180.jpg 180w, https://mvpthemes.com/flexmag/wp-content/uploads/2015/09/woman-beach2-600x600.jpg 600w" sizes="(max-width: 80px) 100vw, 80px" />																		<div class="feat-info-wrap">
															<div class="feat-info-views">
																<i class="fa fa-eye fa-2"></i> <span class="feat-info-text">45.4K</span>
															</div><!--feat-info-views-->
															<div class="feat-info-comm">
																<i class="fa fa-comment"></i> <span class="feat-info-text">29</span>
															</div><!--feat-info-comm-->
														</div><!--feat-info-wrap-->
													</div><!--blog-widget-img-->
													<div class="blog-widget-text left relative">
														<span class="side-list-cat">Business</span>
														<h2>Flex Mag: Powerfully simple WordPress theme</h2>
														<p>Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et...</p>
													</div><!--blog-widget-text-->
												</a>
											</li>
											<li>

												<a href="../only-three-players-have-a-winning-record-against-rafael-nadal/index.html" rel="bookmark">
													<div class="blog-widget-img left relative">
														<img width="300" height="180" src="../wp-content/uploads/2015/09/tennis1-300x180.jpg" class="widget-img-main wp-post-image" alt="" decoding="async" loading="lazy" srcset="https://mvpthemes.com/flexmag/wp-content/uploads/2015/09/tennis1-300x180.jpg 300w, https://mvpthemes.com/flexmag/wp-content/uploads/2015/09/tennis1-450x270.jpg 450w, https://mvpthemes.com/flexmag/wp-content/uploads/2015/09/tennis1.jpg 1000w" sizes="(max-width: 300px) 100vw, 300px" />									<img width="80" height="80" src="../wp-content/uploads/2015/09/tennis1-80x80.jpg" class="widget-img-side wp-post-image" alt="" decoding="async" loading="lazy" srcset="https://mvpthemes.com/flexmag/wp-content/uploads/2015/09/tennis1-80x80.jpg 80w, https://mvpthemes.com/flexmag/wp-content/uploads/2015/09/tennis1-150x150.jpg 150w, https://mvpthemes.com/flexmag/wp-content/uploads/2015/09/tennis1-180x180.jpg 180w, https://mvpthemes.com/flexmag/wp-content/uploads/2015/09/tennis1-600x600.jpg 600w" sizes="(max-width: 80px) 100vw, 80px" />																		<div class="feat-info-wrap">
															<div class="feat-info-views">
																<i class="fa fa-eye fa-2"></i> <span class="feat-info-text">100.5K</span>
															</div><!--feat-info-views-->
															<div class="feat-info-comm">
																<i class="fa fa-comment"></i> <span class="feat-info-text">19</span>
															</div><!--feat-info-comm-->
														</div><!--feat-info-wrap-->
													</div><!--blog-widget-img-->
													<div class="blog-widget-text left relative">
														<span class="side-list-cat">Sports</span>
														<h2>Only three players have a winning record against Rafael Nadal</h2>
														<p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia...</p>
													</div><!--blog-widget-text-->
												</a>
											</li>
											<li>

												<a href="../terrell-owens-says-he-doesnt-care-about-the-hall-of-fame/index.html" rel="bookmark">
													<div class="blog-widget-img left relative">
														<img width="300" height="180" src="../wp-content/uploads/2015/07/football1-300x180.jpg" class="widget-img-main wp-post-image" alt="" decoding="async" loading="lazy" srcset="https://mvpthemes.com/flexmag/wp-content/uploads/2015/07/football1-300x180.jpg 300w, https://mvpthemes.com/flexmag/wp-content/uploads/2015/07/football1-450x270.jpg 450w, https://mvpthemes.com/flexmag/wp-content/uploads/2015/07/football1.jpg 1000w" sizes="(max-width: 300px) 100vw, 300px" />									<img width="80" height="80" src="../wp-content/uploads/2015/07/football1-80x80.jpg" class="widget-img-side wp-post-image" alt="" decoding="async" loading="lazy" srcset="https://mvpthemes.com/flexmag/wp-content/uploads/2015/07/football1-80x80.jpg 80w, https://mvpthemes.com/flexmag/wp-content/uploads/2015/07/football1-150x150.jpg 150w, https://mvpthemes.com/flexmag/wp-content/uploads/2015/07/football1-180x180.jpg 180w, https://mvpthemes.com/flexmag/wp-content/uploads/2015/07/football1-600x600.jpg 600w" sizes="(max-width: 80px) 100vw, 80px" />																		<div class="feat-info-wrap">
															<div class="feat-info-views">
																<i class="fa fa-eye fa-2"></i> <span class="feat-info-text">118.0K</span>
															</div><!--feat-info-views-->
															<div class="feat-info-comm">
																<i class="fa fa-comment"></i> <span class="feat-info-text">18</span>
															</div><!--feat-info-comm-->
														</div><!--feat-info-wrap-->
														<div class="feat-vid-but">
															<i class="fa fa-play fa-3"></i>
														</div><!--feat-vid-but-->
													</div><!--blog-widget-img-->
													<div class="blog-widget-text left relative">
														<span class="side-list-cat">Sports</span>
														<h2>Terrell Owens says he doesn&#8217;t care about the Hall of Fame</h2>
														<p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia...</p>
													</div><!--blog-widget-text-->
												</a>
											</li>
											<li>

												<a href="../tesla-is-installing-rapid-charging-stations-in-manhattan-garages/index.html" rel="bookmark">
													<div class="blog-widget-img left relative">
														<img width="300" height="180" src="../wp-content/uploads/2015/08/car2-300x180.jpg" class="widget-img-main wp-post-image" alt="" decoding="async" loading="lazy" srcset="https://mvpthemes.com/flexmag/wp-content/uploads/2015/08/car2-300x180.jpg 300w, https://mvpthemes.com/flexmag/wp-content/uploads/2015/08/car2-450x270.jpg 450w, https://mvpthemes.com/flexmag/wp-content/uploads/2015/08/car2.jpg 1000w" sizes="(max-width: 300px) 100vw, 300px" />									<img width="80" height="80" src="../wp-content/uploads/2015/08/car2-80x80.jpg" class="widget-img-side wp-post-image" alt="" decoding="async" loading="lazy" srcset="https://mvpthemes.com/flexmag/wp-content/uploads/2015/08/car2-80x80.jpg 80w, https://mvpthemes.com/flexmag/wp-content/uploads/2015/08/car2-150x150.jpg 150w, https://mvpthemes.com/flexmag/wp-content/uploads/2015/08/car2-180x180.jpg 180w, https://mvpthemes.com/flexmag/wp-content/uploads/2015/08/car2-600x600.jpg 600w" sizes="(max-width: 80px) 100vw, 80px" />																		<div class="feat-info-wrap">
															<div class="feat-info-views">
																<i class="fa fa-eye fa-2"></i> <span class="feat-info-text">124.3K</span>
															</div><!--feat-info-views-->
															<div class="feat-info-comm">
																<i class="fa fa-comment"></i> <span class="feat-info-text">9</span>
															</div><!--feat-info-comm-->
														</div><!--feat-info-wrap-->
													</div><!--blog-widget-img-->
													<div class="blog-widget-text left relative">
														<span class="side-list-cat">Business</span>
														<h2>Tesla is installing rapid charging stations in Manhattan garages</h2>
														<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam...</p>
													</div><!--blog-widget-text-->
												</a>
											</li>
											<li>

												<a href="../15-date-night-outfits-inspired-by-celebs/index.html" rel="bookmark">
													<div class="blog-widget-img left relative">
														<img width="300" height="180" src="../wp-content/uploads/2015/08/couple-fashion-300x180.jpg" class="widget-img-main wp-post-image" alt="" decoding="async" loading="lazy" srcset="https://mvpthemes.com/flexmag/wp-content/uploads/2015/08/couple-fashion-300x180.jpg 300w, https://mvpthemes.com/flexmag/wp-content/uploads/2015/08/couple-fashion-1000x600.jpg 1000w, https://mvpthemes.com/flexmag/wp-content/uploads/2015/08/couple-fashion-450x270.jpg 450w" sizes="(max-width: 300px) 100vw, 300px" />									<img width="80" height="80" src="../wp-content/uploads/2015/08/couple-fashion-80x80.jpg" class="widget-img-side wp-post-image" alt="" decoding="async" loading="lazy" srcset="https://mvpthemes.com/flexmag/wp-content/uploads/2015/08/couple-fashion-80x80.jpg 80w, https://mvpthemes.com/flexmag/wp-content/uploads/2015/08/couple-fashion-150x150.jpg 150w, https://mvpthemes.com/flexmag/wp-content/uploads/2015/08/couple-fashion-180x180.jpg 180w, https://mvpthemes.com/flexmag/wp-content/uploads/2015/08/couple-fashion-600x600.jpg 600w" sizes="(max-width: 80px) 100vw, 80px" />																		<div class="feat-info-wrap">
															<div class="feat-info-views">
																<i class="fa fa-eye fa-2"></i> <span class="feat-info-text">109.7K</span>
															</div><!--feat-info-views-->
															<div class="feat-info-comm">
																<i class="fa fa-comment"></i> <span class="feat-info-text">9</span>
															</div><!--feat-info-comm-->
														</div><!--feat-info-wrap-->
													</div><!--blog-widget-img-->
													<div class="blog-widget-text left relative">
														<span class="side-list-cat">Fashion</span>
														<h2>15 Date Night Outfits Inspired by Celebs</h2>
														<p>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit,...</p>
													</div><!--blog-widget-text-->
												</a>
											</li>
										</ul>
									</div><!--blog-widget-wrap-->
								</div>
							</div><!--sidebar-wrap-->
						</div><!--home-right-col-->
					</div><!--home-wrap-out1-->
				</div><!--home-main-wrap-->
				<div id="foot-ad-wrap" class="left relative">
					<div style="width: 90%; height: 30px; background: #ddd; text-align: center; display: inline-block; color: #bbb; font-family: 'Open Sans', sans-serif; font-weight: 700; font-size: 1.2rem; white-space: nowrap; padding: 30px 5% 0; overflow: hidden;">RESPONSIVE LEADERBOARD AD AREA</div>
				</div><!--foot-ad-wrap-->
			</div><!--body-main-cont-->
		</div><!--body-main-in-->
	</div><!--body-main-out-->
</div><!--body-main-wrap-->