@{
    Layout = "_LayoutMainAdmin";
}
@using BusinessObjects.Models;
@using System.Text;
@using WebNewsAPIs.Dtos;
@{
    var adminList = ((IEnumerable<User>)ViewBag.ListAdmin).ToList();
}
<div class="main_content_iner overly_inner ">
    <div class="container-fluid p-0 ">

        <div class="row">
            <div class="col-12">
                <div class="page_title_box d-flex flex-wrap align-items-center justify-content-between">
                    <div class="page_title_left d-flex align-items-center">
                        <h3 class="f_s_25 f_w_700 dark_text mr_30">Danh sách quản lý</h3>
                        <ol class="breadcrumb page_bradcam mb-0">
                            <li class="breadcrumb-item"><a href="javascript:void(0);">Trang chủ</a></li>
                            <li class="breadcrumb-item active">Quản lý</li>
                            <li class="breadcrumb-item active">Danh sách quản lý</li>
                        </ol>
                    </div>
                    <div class="page_title_right">
                        <div class="page_date_button d-flex align-items-center">
                            <img src="img/icon/calender_icon.svg" alt>
                            Chỗ để thời gian - dòng 260
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="white_card card_height_100 mb_30 pt-4">
                    <div class="white_card_body">
                        <div class="QA_section">
                            <div class="white_box_tittle list_header">
                                <h4>Danh sách quản lý</h4>
                                <div class="box_right d-flex lms_block">
                                    <div class="serach_field_2">
                                        <div class="search_inner">
                                            <form Active="#">
                                                <div class="search_field">
                                                    <input type="text" placeholder="Nhập nội dung tìm kiếm...">
                                                </div>
                                                <button type="submit"> <i class="ti-search"></i> </button>
                                            </form>
                                        </div>
                                    </div>
                                    <div class="add_button ms-2">
                                        <a href="#" data-toggle="modal" data-target="#addcategory" class="btn_1">Tìm kiếm</a>
                                    </div>
                                </div>
                            </div>
                            <div class="QA_table mb_30">

                                <table class="table lms_table_active ">
                                    <thead>
                                        <tr>
                                            <th scope="col">Tên người dùng</th>
                                            <th scope="col">Tài khoản</th>
                                            <th scope="col">Số điện thoại</th>
                                            <th scope="col">Quyền</th>
                                            <th scope="col">Giới tính</th>
                                            <th scope="col">Hành động</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @if(adminList.Count == 0)
                                        {
                                            <div class="card border-primary mb-3" style="max-width: 100%;">
                                                <div class="card-header">Không nhận được danh sách người dùng, lỗi</div>
                                            </div>
                                        }
                                        @if(adminList.Count != 0)
                                        {
                                            @foreach(var a in adminList)
                                            {
                                                <tr>
                                                    <td>@a.DisplayName</td>
                                                    <td>@a.Username</td>
                                                    <td><p>@a.PhoneNumber</p></td>
                                                    <td><p>@a.Role.Rolename</p></td>
                                                    @switch (a.Gender)
                                                    {
                                                        case "Nam":
                                                            <td><h3 class="badge bg-success">Nam</h3></td>
                                                            break;
                                                        case "Nữ":
                                                            <td><h3 class="badge bg-danger">Nữ</h3></td>
                                                            break;
                                                        case "Khác":
                                                            <td><h3 class="badge bg-danger">Nữ</h3></td>
                                                            break;
                                                        case null:
                                                            <td><h3 class="badge bg-danger">Khác</h3></td>
                                                            break;
                                                    }
                                                    <td>
                                                        <div class="action_btns d-flex">
                                                            <a href="#" class="action_btn mr_10"> <i class="far fa-edit"></i> </a>
                                                            <a href="#" class="action_btn"> <i class="fas fa-trash"></i> </a>
                                                        </div>
                                                    </td>
                                                </tr>
                                            }
                                        }

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>