/* _content/WebNewsClients/Views/Shared/_Layout.cshtml.rz.scp.css */
/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-lohn74csj8] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-lohn74csj8] {
  color: #0077cc;
}

.btn-primary[b-lohn74csj8] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-lohn74csj8], .nav-pills .show > .nav-link[b-lohn74csj8] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-lohn74csj8] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-lohn74csj8] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-lohn74csj8] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-lohn74csj8] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-lohn74csj8] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
/* _content/WebNewsClients/Views/Shared/_LayoutHomeMain.cshtml.rz.scp.css */
/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-9h8tbherka] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-9h8tbherka] {
  color: #0077cc;
}

.btn-primary[b-9h8tbherka] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-9h8tbherka], .nav-pills .show > .nav-link[b-9h8tbherka] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-9h8tbherka] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-9h8tbherka] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-9h8tbherka] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-9h8tbherka] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-9h8tbherka] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
/* _content/WebNewsClients/Views/Shared/_LayoutLogin.cshtml.rz.scp.css */
/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-cg7nyhydud] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-cg7nyhydud] {
  color: #0077cc;
}

.btn-primary[b-cg7nyhydud] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-cg7nyhydud], .nav-pills .show > .nav-link[b-cg7nyhydud] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-cg7nyhydud] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-cg7nyhydud] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-cg7nyhydud] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-cg7nyhydud] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-cg7nyhydud] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
/* _content/WebNewsClients/Views/Shared/_LayoutMainAdmin.cshtml.rz.scp.css */
/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-00mx6itt82] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-00mx6itt82] {
  color: #0077cc;
}

.btn-primary[b-00mx6itt82] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-00mx6itt82], .nav-pills .show > .nav-link[b-00mx6itt82] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-00mx6itt82] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-00mx6itt82] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-00mx6itt82] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-00mx6itt82] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-00mx6itt82] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
/* _content/WebNewsClients/Views/Shared/_LayoutPersonalInformation.cshtml.rz.scp.css */
/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-4t02l97brc] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-4t02l97brc] {
  color: #0077cc;
}

.btn-primary[b-4t02l97brc] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-4t02l97brc], .nav-pills .show > .nav-link[b-4t02l97brc] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-4t02l97brc] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-4t02l97brc] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-4t02l97brc] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-4t02l97brc] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-4t02l97brc] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
