/*html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}*/
.nav-links {
    display: none;
}

@media screen and (max-width: 767px) {
    .leader-ad-demo,
    .article-ad-demo {
        height: 50px !important;
    }
}

#truethemes_container #main {
    float: left;
}
.divContainImg{
    width: 80px;
  
}
    .divContainImg img {
        width: 100%; /* Chiều rộng của ảnh sẽ bằng chiều rộng của container */
        height: 60px; /* Chiều cao sẽ tự động điều chỉnh để giữ nguyên tỷ lệ */
    }
.containIamgeW300 {
    width: 300px;
    height: 180px;
}
    .containIamgeW300 img {
        width: 100%; /* Chiều rộng của ảnh sẽ bằng chiều rộng của container */
        height: 100%; /* Chiều cao sẽ tự động điều chỉnh để giữ nguyên tỷ lệ */
    }