/*html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}*/
.nav-links {
    display: none;
}

@media screen and (max-width: 767px) {
    .leader-ad-demo,
    .article-ad-demo {
        height: 50px !important;
    }
}

#truethemes_container #main {
    float: left;
}