<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WebNewsClients</title>

    @*Import template*@


    <link rel="icon" href="img/mini_logo.png" type="image/png">

    <link rel="stylesheet" href="~/user-management-html/css/bootstrap1.min.css" />

    <link rel="stylesheet" href="~/user-management-html/vendors/themefy_icon/themify-icons.css" />

    <link rel="stylesheet" href="~/user-management-html/vendors/niceselect/css/nice-select.css" />

    <link rel="stylesheet" href="~/user-management-html/vendors/owl_carousel/css/owl.carousel.css" />

    <link rel="stylesheet" href="~/user-management-html/vendors/gijgo/gijgo.min.css" />

    <link rel="stylesheet" href="~/user-management-html/vendors/font_awesome/css/all.min.css" />
    <link rel="stylesheet" href="~/user-management-html/vendors/tagsinput/tagsinput.css" />

    <link rel="stylesheet" href="~/user-management-html/vendors/datepicker/date-picker.css" />

    <link rel="stylesheet" href="~/user-management-html/vendors/scroll/scrollable.css" />

    <link rel="stylesheet" href="~/user-management-html/vendors/datatable/css/jquery.dataTables.min.css" />
    <link rel="stylesheet" href="~/user-management-html/vendors/datatable/css/responsive.dataTables.min.css" />
    <link rel="stylesheet" href="~/user-management-html/vendors/datatable/css/buttons.dataTables.min.css" />

    <link rel="stylesheet" href="~/user-management-html/vendors/text_editor/summernote-bs4.css" />

    <link rel="stylesheet" href="~/user-management-html/vendors/morris/morris.css">

    <link rel="stylesheet" href="~/user-management-html/vendors/material_icon/material-icons.css" />

    <link rel="stylesheet" href="~/user-management-html/css/metisMenu.css">

    <link rel="stylesheet" href="~/user-management-html/css/style1.css" />
    <link rel="stylesheet" href="~/user-management-html/css/colors/default.css" id="colorSkinCSS">

   @* <link rel="stylesheet" href="css/style1.css" />
    <link rel="stylesheet" href="css/colors/default.css" id="colorSkinCSS">*@
    @*Import template*@

  @*
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/WebNewsClients.styles.css" asp-append-version="true" />*@
</head>
<body>
    
   
    <body class="crm_body_bg">
        <nav class="sidebar">
            <div class="logo d-flex justify-content-between">
                <a class="large_logo" asp-action="Index" asp-controller="Admin">
                    <h2>Trang chủ</h2>
                </a>
                <a class="small_logo" asp-action="Index" asp-controller="Admin">
                    <h2>Trang chủ</h2>
                </a>
                <div class="sidebar_close_icon d-lg-none">
                    <i class="ti-close"></i>
                </div>
            </div>
            <ul id="sidebar_menu">
                <li class>
                    <a class="has-arrow" href="#" aria-expanded="false">
                        <div class="nav_icon_small">
                            <img src="~/user-management-html/img/menu-icon/4.svg" alt>
                        </div>
                        <div class="nav_title">
                            <span>Quản lý</span>
                        </div>
                    </a>
                    <ul>
                        <li><a asp-action="AdminList" asp-controller="Admin">Danh sách quản lý</a></li>
                        <li><a asp-action="AdminAdd" asp-controller="Admin">Thêm quản lý mới</a></li>
                    </ul>
                </li>
                <li class>
                    <a class="has-arrow" href="#" aria-expanded="false">
                        <div class="nav_icon_small">
                            <img src="~/user-management-html/img/menu-icon/5.svg" alt>
                        </div>
                        <div class="nav_title">
                            <span>Người dùng</span>
                        </div>
                    </a>
                    <ul>
                        <li><a asp-action="UserList" asp-controller="Admin">Danh sách người dùng</a></li>
                        <li><a asp-action="UserAdd" asp-controller="Admin">Thêm người dùng mới</a></li>
                    </ul>
                </li>
                <li class>
                    <a class="has-arrow" href="#" aria-expanded="false">
                        <div class="nav_icon_small">
                            <img src="~/user-management-html/img/menu-icon/11.svg" alt>
                        </div>
                        <div class="nav_title">
                            <span>Bài báo</span>
                        </div>
                    </a>
                    <ul>
                        <li><a asp-action="ArticleList" asp-controller="Admin">Danh sách bài báo</a></li>
                        <li><a asp-action="ArticleAdd" asp-controller="Admin">Thêm bài báo mới</a></li>
                    </ul>
                </li>
                <li class>
                    <a class="has-arrow" href="#" aria-expanded="false">
                        <div class="nav_icon_small">
                            <img src="~/user-management-html/img/menu-icon/11.svg" alt>
                        </div>
                        <div class="nav_title">
                            <span>Phân loại bài báo</span>
                        </div>
                    </a>
                    <ul>
                        <li><a asp-action="ArticleCategoryList" asp-controller="Admin">Danh sách phân loại</a></li>
                        <li><a asp-action="ArticleCategoryAdd" asp-controller="Admin">Thêm phân loại mới</a></li>
                    </ul>
                </li>
                <li class>
                    <a class="has-arrow" href="#" aria-expanded="false">
                        <div class="nav_icon_small">
                            <img src="~/user-management-html/img/menu-icon/16.svg" alt>
                        </div>
                        <div class="nav_title">
                            <span>Tương tác</span>
                        </div>
                    </a>
                    <ul>
                        <li><a asp-action="EmotionList" asp-controller="Admin">Danh sách cảm xúc</a></li>
                        <li><a asp-action="EmotionAdd" asp-controller="Admin">Thêm cảm xúc mới</a></li>
                    </ul>
                </li>
            </ul>
        </nav>

        <section class="main_content dashboard_part large_header_bg">
            <div class="container-fluid g-0">
                <div class="row">
                    <div class="col-lg-12 p-0">
                        <div class="header_iner d-flex justify-content-between align-items-center">
                            <div class="sidebar_icon d-lg-none">
                                <i class="ti-menu"></i>
                            </div>
                            <div class="line_icon open_miniSide d-none d-lg-block">
                                <img src="~/user-management-html/img/line_img.png" alt />
                            </div>
                            <div class="serach_field-area d-flex align-items-center">
                                <div class="search_inner">
                                    <form action="#">
                                        <div class="search_field">
                                            <input type="text" placeholder="Tìm kiếm" />
                                        </div>
                                        <button type="submit">
                                            <img src="~/user-management-html/img/icon/icon_search.svg" alt />
                                        </button>
                                    </form>
                                </div>
                            </div>
                            <div class="header_right d-flex justify-content-between align-items-center">
                                <div class="header_notification_warp d-flex align-items-center">
                                    <li>
                                        <a class="bell_notification_clicker" href="#">
                                            <img src="~/user-management-html/img/icon/bell.svg" alt />
                                            <span>2</span>
                                        </a>

                                        <div class="Menu_NOtification_Wrap">
                                            <div class="notification_Header">
                                                <h4>Notifications</h4>
                                            </div>
                                            <div class="Notification_body">
                                                <div class="single_notify d-flex align-items-center">
                                                    <div class="notify_thumb">
                                                        <a href="#"><img src="~/user-management-html/img/staf/2.png" alt /></a>
                                                    </div>
                                                    <div class="notify_content">
                                                        <a href="#"><h5>Cool Marketing</h5></a>
                                                        <p>Lorem ipsum dolor sit amet</p>
                                                    </div>
                                                </div>

                                                <div class="single_notify d-flex align-items-center">
                                                    <div class="notify_thumb">
                                                        <a href="#"><img src="~/user-management-html/img/staf/4.png" alt /></a>
                                                    </div>
                                                    <div class="notify_content">
                                                        <a href="#"><h5>Awesome packages</h5></a>
                                                        <p>Lorem ipsum dolor sit amet</p>
                                                    </div>
                                                </div>

                                                <div class="single_notify d-flex align-items-center">
                                                    <div class="notify_thumb">
                                                        <a href="#"><img src="~/user-management-html/img/staf/3.png" alt /></a>
                                                    </div>
                                                    <div class="notify_content">
                                                        <a href="#"><h5>what a packages</h5></a>
                                                        <p>Lorem ipsum dolor sit amet</p>
                                                    </div>
                                                </div>

                                                <div class="single_notify d-flex align-items-center">
                                                    <div class="notify_thumb">
                                                        <a href="#"><img src="~/user-management-html/img/staf/2.png" alt /></a>
                                                    </div>
                                                    <div class="notify_content">
                                                        <a href="#"><h5>Cool Marketing</h5></a>
                                                        <p>Lorem ipsum dolor sit amet</p>
                                                    </div>
                                                </div>

                                                <div class="single_notify d-flex align-items-center">
                                                    <div class="notify_thumb">
                                                        <a href="#"><img src="~/user-management-html//staf/4.png" alt /></a>
                                                    </div>
                                                    <div class="notify_content">
                                                        <a href="#"><h5>Awesome packages</h5></a>
                                                        <p>Lorem ipsum dolor sit amet</p>
                                                    </div>
                                                </div>

                                                <div class="single_notify d-flex align-items-center">
                                                    <div class="notify_thumb">
                                                        <a href="#"><img src="~/user-management-html/img/staf/3.png" alt /></a>
                                                    </div>
                                                    <div class="notify_content">
                                                        <a href="#"><h5>what a packages</h5></a>
                                                        <p>Lorem ipsum dolor sit amet</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="nofity_footer">
                                                <div class="submit_button text-center pt_20">
                                                    <a href="#" class="btn_1">See More</a>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </div>
                                <div class="profile_info">
                                    <img src="~/user-management-html/img/client_img.png" alt="#" />
                                    <div class="profile_info_iner">
                                        <div class="profile_author_name">
                                            <p>Neurologist</p>
                                            <h5>Dr. Robar Smith</h5>
                                        </div>
                                        <div class="profile_info_details">
                                            <a href="#">My Profile </a>
                                            <a href="#">Log Out </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- RenderBody O day -->
            @RenderBody()
            <div class="footer_part">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="footer_iner text-center">
                                <p>
                                    2020 © Influence - Designed by
                                    <a href="#"> <i class="ti-heart"></i> </a><a href="#"> Dashboard</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <div id="back-top" style="display: none">
            <a title="Go to Top" href="#">
                <i class="ti-angle-up"></i>
            </a>
        </div>
    </body>

    

    @*Import Link Addmn Main Template*@

    <script src="~/user-management-html/js/jquery1-3.4.1.min.js"></script>

    <script src="~/user-management-html/js/popper1.min.js"></script>

    <script src="~/user-management-html/js/bootstrap1.min.js"></script>

    <script src="~/user-management-html/js/metisMenu.js"></script>

    <script src="~/user-management-html/vendors/count_up/jquery.waypoints.min.js"></script>

    <script src="~/user-management-html/vendors/chartlist/Chart.min.js"></script>

    <script src="~/user-management-html/vendors/count_up/jquery.counterup.min.js"></script>

    <script src="~/user-management-html/vendors/niceselect/js/jquery.nice-select.min.js"></script>

    <script src="~/user-management-html/vendors/owl_carousel/js/owl.carousel.min.js"></script>

    <script src="~/user-management-html/vendors/datatable/js/jquery.dataTables.min.js"></script>
    <script src="~/user-management-html/vendors/datatable/js/dataTables.responsive.min.js"></script>
    <script src="~/user-management-html/vendors/datatable/js/dataTables.buttons.min.js"></script>
    <script src="~/user-management-html/vendors/datatable/js/buttons.flash.min.js"></script>
    <script src="~/user-management-html/vendors/datatable/js/jszip.min.js"></script>
    <script src="~/user-management-html/vendors/datatable/js/pdfmake.min.js"></script>
    <script src="~/user-management-html/vendors/datatable/js/vfs_fonts.js"></script>
    <script src="~/user-management-html/vendors/datatable/js/buttons.html5.min.js"></script>
    <script src="~/user-management-html/vendors/datatable/js/buttons.print.min.js"></script>
    <script src="~/user-management-html/js/chart.min.js"></script>

    <script src="~/user-management-html/vendors/progressbar/jquery.barfiller.js"></script>

    <script src="~/user-management-html/vendors/tagsinput/tagsinput.js"></script>

    <script src="~/user-management-html/vendors/text_editor/summernote-bs4.js"></script>
    <script src="~/user-management-html/vendors/am_chart/amcharts.js"></script>
    <script src="~/user-management-html/vendors/animation/wow/wow.min.js"></script>
    <script src="~/user-management-html/vendors/animation/wow/wow-init.js"></script>

    <script src="~/user-management-html/vendors/scroll/perfect-scrollbar.min.js"></script>
    <script src="~/user-management-html/vendors/scroll/scrollable-custom.js"></script>
    <script src="~/user-management-html/vendors/chart_am/core.js"></script>
    <script src="~/user-management-html/vendors/chart_am/charts.js"></script>
    <script src="~/user-management-html/vendors/chart_am/animated.js"></script>
    <script src="~/user-management-html/vendors/chart_am/kelly.js"></script>
    <script src="~/user-management-html/vendors/chart_am/chart-custom.js"></script>

    <script src="~/user-management-html/js/custom.js"></script>
    <script src="~/user-management-html/js/ckeditor-classic.js"></script>
    <script src="~/user-management-html/js/editorForAdd.js"></script>
    @*Import Link Addmn Main Template*@
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
