<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WebNewsClients</title>
    <!-- basic -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- mobile metas -->
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <!-- site metas -->
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- site icon -->
    <link rel="icon" href="~/pluto/images/fevicon.html" type="image/png" />
    <!-- bootstrap css -->
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <!-- site css -->
    <link rel="stylesheet" href="~/pluto/style.css" />
    <!-- responsive css -->
    <link rel="stylesheet" href="~/pluto/css/responsive.css" />
    <!-- color css -->
    <link rel="stylesheet" href="~/pluto/css/color_2.css" />
    <!-- select bootstrap -->
    <link rel="stylesheet" href="~/pluto/css/bootstrap-select.css" />
    <!-- scrollbar css -->
    <link rel="stylesheet" href="~/pluto/css/perfect-scrollbar.css" />
    <!-- custom css -->
    <link rel="stylesheet" href="~/pluto/css/custom.css" />
    @*Import template*@

    <link href="~/fontawesome/css/fontawesome.css" rel="stylesheet" />
    <link href="~/fontawesome/css/brands.css" rel="stylesheet" />
    <link href="~/fontawesome/css/solid.css" rel="stylesheet" />
    @*Import template*@

    
   @* <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/WebNewsClients.styles.css" asp-append-version="true" />*@
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">WebNewsClients</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <body class="" dashboard dashboard_2">
        @RenderBody()
    </body>
   

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - WebNewsClients - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>


    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/popper.min.js"></script>
   
    <script src="~/js/bootstrap.min.js"></script>
    <!-- wow animation -->
    <script src="~/pluto/js/animate.js"></script>
    <!-- select country -->
    <script src="~/pluto/js/bootstrap-select.js"></script>
    <!-- owl carousel -->
    <script src="~/pluto/js/owl.carousel.js"></script>
    <!-- chart js -->
    <script src="~/pluto/js/Chart.min.js"></script>
    <script src="~/pluto/js/Chart.bundle.min.js"></script>
    <script src="~/pluto/js/utils.js"></script>
    <script src="~/pluto/js/analyser.js"></script>
    <!-- nice scrollbar -->
    <script src="~/pluto/js/perfect-scrollbar.min.js"></script>
    <script>
        var ps = new PerfectScrollbar('#sidebar');
    </script>
    <!-- custom js -->
    <script src="~/pluto/js/custom.js"></script>
    <script src="~/pluto/js/chart_custom_style2.js"></script>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" />
    <script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
