@using System.Text;
@using BusinessObjects.Models;

@{
    var listCategory = (IEnumerable<CategoriesArticle>)ViewBag.Category;

    var listCategoryRoot = listCategory.Where(c => c.ParentCategory == null).ToList();
    var listCategoryNotRoot = listCategory.Where(c => c.ParentCategory != null).ToList();

    string GenerateMenuHtml(IEnumerable<CategoriesArticle> categories)
    {
        StringBuilder sb = new StringBuilder();

        foreach (var category in categories)
        {
            var listChildren = listCategoryNotRoot.Where(c => c.ParentCategoryId.Equals(category.CategoryId)).ToList();
            if (listChildren != null && listChildren.Any())
            {
                sb.Append("<li class=\"menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-2015 element\">");
                sb.Append($"<a href=\"/Article/ArticleOfCategory/{category.CategoryId}.html\">{category.CategoryName}</a>");
            }
            else
            {
                sb.Append("<li class=\"menu-item menu-item-type-custom menu-item-object-custom menu-item-2015 element\">");
                sb.Append($"<a href=\"/Article/ArticleOfCategory/{category.CategoryId}.html\">{category.CategoryName}</a>");
            }

            if (listChildren != null && listChildren.Any())
            {
                sb.Append("<ul class=\"sub-menu wrapper\">");
                sb.Append(GenerateSubMenuHtml(listChildren));
                sb.Append("</ul>");
            }
            sb.Append("</li>");
        }

        return sb.ToString();
    }

    string GenerateSubMenuHtml(IEnumerable<CategoriesArticle> subCategories)
    {
        StringBuilder sb = new StringBuilder();

        foreach (var subCategory in subCategories)
        {
            var listChildren = listCategoryNotRoot.Where(c => c.ParentCategoryId.Equals(subCategory.CategoryId)).ToList();
            if (listChildren != null && listChildren.Any())
            {
                sb.Append("<li class=\"menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-2015 element\">");
                sb.Append($"<a href=\"/Article/ArticleOfCategory/{subCategory.CategoryId}.html\">{subCategory.CategoryName}</a>");
            }
            else
            {
                sb.Append("<li class=\"menu-item menu-item-type-custom menu-item-object-custom menu-item-2015 element\">");
                sb.Append($"<a href=\"/Article/ArticleOfCategory/{subCategory.CategoryId}.html\">{subCategory.CategoryName}</a>");
            }


            if (listChildren != null && listChildren.Any())
            {
                sb.Append("<ul class=\"sub-menu wrapper\">");
                sb.Append(GenerateSubMenuHtml(listChildren));
                sb.Append("</ul>");
            }

            sb.Append("</li>");
        }

        return sb.ToString();
    }
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" id="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no" />
    <meta property="og:description" content="Powerfully Simple WordPress News &amp; Magazine Theme" />
    <title>@ViewData["Title"]</title>
    <meta name='robots' content='max-image-preview:large' />
    <meta name="generator" content="WordPress 6.4.4" />
    <meta name="generator" content="WooCommerce 8.7.0" />

    <link rel="stylesheet" href="~/user-management-html/css/style1.css" />

    <link rel="alternate" type="application/rss+xml" title="RSS 2.0" href="feed/index.html" />
    <link rel="alternate" type="text/xml" title="RSS .92" href="feed/rss/index.html" />
    <link rel="alternate" type="application/atom+xml" title="Atom 0.3" href="feed/atom/index.html" />

    <link rel="pingback" href="~/template/mvpthemes.com/flexmag/xmlrpc.php" />
    <link rel='dns-prefetch' href='http://www.google.com/' />
    <link rel='dns-prefetch' href='http://netdna.bootstrapcdn.com/' />
    <link rel='dns-prefetch' href='http://fonts.googleapis.com/' />
    <link rel="alternate" type="application/rss+xml" title="Flex Mag &raquo; Feed" href="feed/index.html" />
    <link rel="alternate" type="application/rss+xml" title="Flex Mag &raquo; Comments Feed" href="comments/feed/index.html" />
    <link rel="alternate" type="application/rss+xml" title="Flex Mag &raquo; The selfie stick has taken over CES 2015 Comments Feed" href="feed/index.html" />
    <script type="text/javascript">

        window._wpemojiSettings = { "baseUrl": "https:\/\/s.w.org\/images\/core\/emoji\/14.0.0\/72x72\/", "ext": ".png", "svgUrl": "https:\/\/s.w.org\/images\/core\/emoji\/14.0.0\/svg\/", "svgExt": ".svg", "source": { "concatemoji": "https:\/\/mvpthemes.com\/flexmag\/wp-includes\/js\/wp-emoji-release.min.js?ver=6.4.4" } };
        !function (i, n) { var o, s, e; function c(e) { try { var t = { supportTests: e, timestamp: (new Date).valueOf() }; sessionStorage.setItem(o, JSON.stringify(t)) } catch (e) { } } function p(e, t, n) { e.clearRect(0, 0, e.canvas.width, e.canvas.height), e.fillText(t, 0, 0); var t = new Uint32Array(e.getImageData(0, 0, e.canvas.width, e.canvas.height).data), r = (e.clearRect(0, 0, e.canvas.width, e.canvas.height), e.fillText(n, 0, 0), new Uint32Array(e.getImageData(0, 0, e.canvas.width, e.canvas.height).data)); return t.every(function (e, t) { return e === r[t] }) } function u(e, t, n) { switch (t) { case "flag": return n(e, "\ud83c\udff3\ufe0f\u200d\u26a7\ufe0f", "\ud83c\udff3\ufe0f\u200b\u26a7\ufe0f") ? !1 : !n(e, "\ud83c\uddfa\ud83c\uddf3", "\ud83c\uddfa\u200b\ud83c\uddf3") && !n(e, "\ud83c\udff4\udb40\udc67\udb40\udc62\udb40\udc65\udb40\udc6e\udb40\udc67\udb40\udc7f", "\ud83c\udff4\u200b\udb40\udc67\u200b\udb40\udc62\u200b\udb40\udc65\u200b\udb40\udc6e\u200b\udb40\udc67\u200b\udb40\udc7f"); case "emoji": return !n(e, "\ud83e\udef1\ud83c\udffb\u200d\ud83e\udef2\ud83c\udfff", "\ud83e\udef1\ud83c\udffb\u200b\ud83e\udef2\ud83c\udfff") }return !1 } function f(e, t, n) { var r = "undefined" != typeof WorkerGlobalScope && self instanceof WorkerGlobalScope ? new OffscreenCanvas(300, 150) : i.createElement("canvas"), a = r.getContext("2d", { willReadFrequently: !0 }), o = (a.textBaseline = "top", a.font = "600 32px Arial", {}); return e.forEach(function (e) { o[e] = t(a, e, n) }), o } function t(e) { var t = i.createElement("script"); t.src = e, t.defer = !0, i.head.appendChild(t) } "undefined" != typeof Promise && (o = "wpEmojiSettingsSupports", s = ["flag", "emoji"], n.supports = { everything: !0, everythingExceptFlag: !0 }, e = new Promise(function (e) { i.addEventListener("DOMContentLoaded", e, { once: !0 }) }), new Promise(function (t) { var n = function () { try { var e = JSON.parse(sessionStorage.getItem(o)); if ("object" == typeof e && "number" == typeof e.timestamp && (new Date).valueOf() < e.timestamp + 604800 && "object" == typeof e.supportTests) return e.supportTests } catch (e) { } return null }(); if (!n) { if ("undefined" != typeof Worker && "undefined" != typeof OffscreenCanvas && "undefined" != typeof URL && URL.createObjectURL && "undefined" != typeof Blob) try { var e = "postMessage(" + f.toString() + "(" + [JSON.stringify(s), u.toString(), p.toString()].join(",") + "));", r = new Blob([e], { type: "text/javascript" }), a = new Worker(URL.createObjectURL(r), { name: "wpTestEmojiSupports" }); return void (a.onmessage = function (e) { c(n = e.data), a.terminate(), t(n) }) } catch (e) { } c(n = f(s, u, p)) } t(n) }).then(function (e) { for (var t in e) n.supports[t] = e[t], n.supports.everything = n.supports.everything && n.supports[t], "flag" !== t && (n.supports.everythingExceptFlag = n.supports.everythingExceptFlag && n.supports[t]); n.supports.everythingExceptFlag = n.supports.everythingExceptFlag && !n.supports.flag, n.DOMReady = !1, n.readyCallback = function () { n.DOMReady = !0 } }).then(function () { return e }).then(function () { var e; n.supports.everything || (n.readyCallback(), (e = n.source || {}).concatemoji ? t(e.concatemoji) : e.wpemoji && e.twemoji && (t(e.twemoji), t(e.wpemoji))) })) }((window, document), window._wpemojiSettings);

    </script>
    <script type="text/javascript" id="wc-add-to-cart-js-extra">
        var wc_add_to_cart_params = { "ajax_url": "\/flexmag\/wp-admin\/admin-ajax.php", "wc_ajax_url": "\/flexmag\/?wc-ajax=%%endpoint%%", "i18n_view_cart": "View cart", "cart_url": "https:\/\/mvpthemes.com\/flexmag\/cart\/", "is_cart": "", "cart_redirect_after_add": "no" };

    </script>

    <script type="text/javascript" id="woocommerce-js-extra">
        /* <![CDATA[ */
        var woocommerce_params = { "ajax_url": "\/flexmag\/wp-admin\/admin-ajax.php", "wc_ajax_url": "\/flexmag\/?wc-ajax=%%endpoint%%" };
        /* ]]> */
    </script>




    <link rel='stylesheet' id='wp-block-library-css' href='~/template/mvpthemes.com/flexmag/wp-includes/css/dist/block-library/style.min5352.css?ver=6.4.4' type='text/css' media='all' />
    <link rel='stylesheet' id='titan-adminbar-styles-css' href='~/template/mvpthemes.com/flexmag/wp-content/plugins/anti-spam/assets/css/admin-bara927.css?ver=7.3.5' type='text/css' media='all' />
    <link rel='stylesheet' id='mvp-score-style-css' href='~/template/mvpthemes.com/flexmag/wp-content/plugins/mvp-scoreboard/css/score-style5352.css?ver=6.4.4' type='text/css' media='all' />
    <link rel='stylesheet' id='woocommerce-layout-css' href='~/template/mvpthemes.com/flexmag/wp-content/plugins/woocommerce/assets/css/woocommerce-layout117a.css?ver=8.7.0' type='text/css' media='all' />
    <link rel='stylesheet' id='woocommerce-smallscreen-css' href='~/template/mvpthemes.com/flexmag/wp-content/plugins/woocommerce/assets/css/woocommerce-smallscreen117a.css?ver=8.7.0' type='text/css' media='only screen and (max-width: 768px)' />
    <link rel='stylesheet' id='woocommerce-general-css' href='~/template/mvpthemes.com/flexmag/wp-content/plugins/woocommerce/assets/css/woocommerce117a.css?ver=8.7.0' type='text/css' media='all' />

    <link rel='stylesheet' id='dashicons-css' href='~/template/mvpthemes.com/flexmag/wp-includes/css/dashicons.min5352.css?ver=6.4.4' type='text/css' media='all' />
    <link rel='stylesheet' id='reviewer-public-css' href='~/template/mvpthemes.com/flexmag/wp-content/plugins/reviewer/public/assets/css/reviewer-public7e2e.css?ver=3.8.1' type='text/css' media='all' />
    <link rel='stylesheet' id='mvp-reset-css' href='~/template/mvpthemes.com/flexmag/wp-content/themes/flex-mag/css/reset5352.css?ver=6.4.4' type='text/css' media='all' />


    <link href="~/fontawesome/css/fontawesome.css" rel="stylesheet" />
    <link href="~/fontawesome/css/brands.css" rel="stylesheet" />
    <link href="~/fontawesome/css/solid.css" rel="stylesheet" />


    <link rel='stylesheet' id='mvp-style-css' href='~/template/mvpthemes.com/flexmag/wp-content/themes/flex-mag/style5352.css?ver=6.4.4' type='text/css' media='all' />
    <!--[if lt IE 10]>
    <link rel='stylesheet' id='mvp-iecss-css' href='https://mvpthemes.com/flexmag/wp-content/themes/flex-mag/css/iecss.css?ver=6.4.4' type='text/css' media='all' />
    <![endif]-->
    <link crossorigin="anonymous" rel='stylesheet' id='mvp-fonts-css' href='http://fonts.googleapis.com/css?family=Oswald%3A400%2C700%7CLato%3A400%2C700%7CWork+Sans%3A900%7CMontserrat%3A400%2C700%7COpen+Sans%3A800%7CPlayfair+Display%3A400%2C700%2C900%7CQuicksand%7CRaleway%3A200%2C400%2C700%7CRoboto+Slab%3A400%2C700%7CWork+Sans%3A100%2C200%2C300%2C400%2C500%2C600%2C700%2C800%2C900%7CMontserrat%3A100%2C200%2C300%2C400%2C500%2C600%2C700%2C800%2C900%7CMontserrat%3A100%2C200%2C300%2C400%2C500%2C600%2C700%2C800%2C900%7CLato%3A100%2C200%2C300%2C400%2C500%2C600%2C700%2C800%2C900%7CMontserrat%3A100%2C200%2C300%2C400%2C500%2C600%2C700%2C800%2C900%26subset%3Dlatin%2Clatin-ext%2Ccyrillic%2Ccyrillic-ext%2Cgreek-ext%2Cgreek%2Cvietnamese' type='text/css' media='all' />
    <link rel='stylesheet' id='mvp-media-queries-css' href='~/template/mvpthemes.com/flexmag/wp-content/themes/flex-mag/css/media-queries5352.css?ver=6.4.4' type='text/css' media='all' />
    <script type="text/javascript" src="~/template/mvpthemes.com/flexmag/wp-includes/js/jquery/jquery.minf43b.js?ver=3.7.1" id="jquery-core-js"></script>
    <script type="text/javascript" src="~/template/mvpthemes.com/flexmag/wp-includes/js/jquery/jquery-migrate.min5589.js?ver=3.4.1" id="jquery-migrate-js"></script>
    <script type="text/javascript" src="~/template/mvpthemes.com/flexmag/wp-content/plugins/woocommerce/assets/js/jquery-blockui/jquery.blockUI.min71e5.js?ver=2.7.0-wc.8.7.0" id="jquery-blockui-js" defer="defer" data-wp-strategy="defer"></script>

    <script type="text/javascript" src="~/template/mvpthemes.com/flexmag/wp-content/plugins/woocommerce/assets/js/frontend/add-to-cart.min117a.js?ver=8.7.0" id="wc-add-to-cart-js" defer="defer" data-wp-strategy="defer"></script>
    <script type="text/javascript" src="~/template/mvpthemes.com/flexmag/wp-content/plugins/woocommerce/assets/js/js-cookie/js.cookie.min52f2.js?ver=2.1.4-wc.8.7.0" id="js-cookie-js" defer="defer" data-wp-strategy="defer"></script>
    <script type="text/javascript" src="~/template/mvpthemes.com/flexmag/wp-content/plugins/woocommerce/assets/js/frontend/woocommerce.min117a.js?ver=8.7.0" id="woocommerce-js" defer="defer" data-wp-strategy="defer"></script>
    <link rel="https://api.w.org/" href="~/template/mvpthemes.com/flexmag/wp-json/index.html" />
    <link rel="alternate" type="application/json" href="wp-json/wp/v2/pages/179.json" />
    <link rel="EditURI" type="application/rsd+xml" title="RSD" href="xmlrpc0db0.php?rsd" />

    <link rel="canonical" href="index.html" />
    <link rel='shortlink' href='index.html' />
    <link rel="alternate" type="application/json+oembed" href="~/template/mvpthemes.com/flexmag/wp-json/oembed/1.0/embed436e.json?url=https%3A%2F%2Fmvpthemes.com%2Fflexmag%2F" />
    <link rel="alternate" type="text/xml+oembed" href="~/template/mvpthemes.com/flexmag/wp-json/oembed/1.0/embedacbd?url=https%3A%2F%2Fmvpthemes.com%2Fflexmag%2F&amp;format=xml" />
    @*Import template*@

    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/mainHomeTemplate.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <style>
        .wrapper {
            position: relative;
        }

        .element {
            position: absolute;
            z-index: 1;
        }
    </style>
    @*<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/WebNewsClients.styles.css" asp-append-version="true" />*@
</head>
<body class="home page-template page-template-page-home page-template-page-home-php page page-id-179 custom-background wp-embed-responsive theme-flex-mag woocommerce-no-js">

    <div id="site" class="left relative">
        <div id="site-wrap" class="left relative">

            <div id="fly-wrap">
                <div class="fly-wrap-out">
                    <div class="fly-side-wrap">
                        <ul class="fly-bottom-soc left relative">
                            <li class="fb-soc">
                                <a href="https://www.facebook.com/huy.phanquang.9400/" target="_blank">
                                    <i class="fa-brands fa-square-facebook"></i>
                                </a>
                            </li>
                            <li class="twit-soc">
                                <a href="https://www.facebook.com/huy.phanquang.9400/" target="_blank">
                                    <i class="fa-brands fa-square-twitter"></i>
                                </a>
                            </li>
                            <li class="pin-soc">
                                <a href="https://www.facebook.com/huy.phanquang.9400/" target="_blank">
                                    <i class="fa-brands fa-square-pinterest"></i>
                                </a>
                            </li>
                            <li class="inst-soc">
                                <a href="https://www.facebook.com/huy.phanquang.9400/" target="_blank">
                                    <i class="fa-brands fa-square-instagram"></i>
                                </a>
                            </li>
                            <li class="yt-soc">
                                <a href="https://www.facebook.com/huy.phanquang.9400/" target="_blank">
                                    <i class="fa-brands fa-square-youtube"></i>
                                </a>
                            </li>
                            <li class="link-soc">
                                <a href="https://www.facebook.com/huy.phanquang.9400/" target="_blank">
                                    <i class="fa-brands fa-linkedin"></i>
                                </a>
                            </li>
                            <li class="tum-soc">
                                <a href="https://www.facebook.com/huy.phanquang.9400/" target="_blank">
                                    <i class="fa-brands fa-square-tumblr"></i>
                                </a>
                            </li>
                            <li class="rss-soc">
                                <a href="https://www.facebook.com/huy.phanquang.9400/" target="_blank">
                                    <i class="fa-solid fa-rss"></i>
                                </a>
                            </li>
                        </ul>
                    </div><!--fly-side-wrap-->

                    <div class="fly-wrap-in">
                        <div id="fly-menu-wrap">
                            <nav class="fly-nav-menu left relative">
                                <div class="menu-main-menu-container">
                                    <ul id="menu-main-menu" class="menu">
                                        <li id="menu-item-165" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-165">
                                            <a asp-controller="Home" asp-action="Index">Home</a>
                                        </li>

                                        @Html.Raw(GenerateMenuHtml(listCategory));

                                        <li id="menu-item-11" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-11"><a target="_blank" rel="noopener" href="http://themeforest.net/item/flex-mag-responsive-wordpress-news-theme/12772303?ref=mvpthemes">Buy Theme</a></li>
                                        <li id="menu-item-170" class="mega-dropdown menu-item menu-item-type-taxonomy menu-item-object-category menu-item-170"><a href="category/sports/index.html">Sports</a></li>
                                        <li id="menu-item-1836" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1836"><a href="videos/index.html">Videos</a></li>
                                        <li id="menu-item-240" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-240"><a href="shop/index.html">Shop</a></li>
                                        <li id="menu-item-1816" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-1816">
                                            <a href="#">More</a>
                                            <ul class="sub-menu">
                                                <li id="menu-item-166" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-166"><a href="category/business/index.html">Business</a></li>
                                                <li id="menu-item-167" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-167"><a href="category/entertainment/index.html">Entertainment</a></li>
                                                <li id="menu-item-169" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-169"><a href="category/fashion/index.html">Fashion</a></li>
                                                <li id="menu-item-168" class="mega-dropdown menu-item menu-item-type-taxonomy menu-item-object-category menu-item-168"><a href="category/tech/index.html">Tech</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                            </nav>
                        </div><!--fly-menu-wrap-->
                    </div><!--fly-wrap-in-->
                </div><!--fly-wrap-out-->
            </div><!--fly-wrap-->
            <div id="head-main-wrap" class="left relative">

                <div style="width:100%;" id="head-main-top" class="left relative">
                </div>
                <!--head-main-top-->
                <div id="main-nav-wrap">
                    <div class="nav-out">
                        <div class="nav-in">
                            <div id="main-nav-cont" class="left" itemscope itemtype="http://schema.org/Organization">
                                <div class="nav-logo-out">
                                    <div class="nav-left-wrap left relative">
                                        <div class="fly-but-wrap left relative">
                                            <span></span>
                                            <span></span>
                                            <span></span>
                                            <span></span>
                                        </div><!--fly-but-wrap-->
                                        <div class="nav-logo left">
                                            <a itemprop="url" href="index.html">
                                                <img itemprop="logo" src="~/template/mvpthemes.com/flexmag/wp-content/themes/flex-mag/images/logos/logo-nav.png" alt="Flex Mag" data-rjs="2" />
                                            </a>
                                            <h1 class="mvp-logo-title">Flex Mag</h1>
                                        </div><!--nav-logo-->
                                    </div><!--nav-left-wrap-->
                                    <div class="nav-logo-in">
                                        <div class="nav-menu-out">
                                            <div style="width:85%;" class="nav-menu-in">
                                                <nav class="main-menu-wrap left">
                                                    <div class="menu-main-menu-container">
                                                        <ul id="menu-main-menu-1" class="menu">
                                                            <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-165">
                                                                <a asp-controller="Home" asp-action="Index">Home</a>
                                                            </li>
                                                            @*fasdfa*@

                                                            @Html.Raw(GenerateMenuHtml(listCategoryRoot));
                                                            <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-165">
                                                                <div class="nav-search-wrap left relative">
                                                                    <span class="nav-search-but left"><i class="fa fa-search fa-2"></i></span>
                                                                    <div class="search-fly-wrap">
                                                                        <form method="get" id="searchform" action="https://mvpthemes.com/flexmag/">
                                                                            <input type="text" name="s" id="s" value="Type search term and press enter" onfocus='if (this.value == "Type search term and press enter") { this.value = ""; }' onblur='if (this.value == "") { this.value = "Type search term and press enter"; }' />
                                                                            <input type="hidden" id="searchsubmit" value="Search" />
                                                                        </form>
                                                                    </div><!--search-fly-wrap-->
                                                                </div><!--nav-search-wrap-->
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </nav>
                                            </div><!--nav-menu-in-->
                                            <div class="nav-right-wrap relative">

                                                @await Html.PartialAsync("_PartialLogin");


                                             

                                            </div><!--nav-right-wrap-->
                                        </div><!--nav-menu-out-->
                                    </div><!--nav-logo-in-->
                                </div><!--nav-logo-out-->
                            </div><!--main-nav-cont-->
                        </div><!--nav-in-->
                    </div><!--nav-out-->
                </div><!--main-nav-wrap-->
            </div>
            <!--head-main-wrap-->
            <div class="col-tabs-wrap left relative">
                <ul class="col-tabs">
                    <li class="feat-col-tab">
                        <a href="#tab-col1">Featured</a>
                    </li>
                    <li class="latest-col-tab non-feat-tab">
                        <a href="#tab-col2">Latest</a>
                    </li>
                    <li class="pop-col-tab non-feat-tab">
                        <a href="#tab-col3">Popular</a>
                    </li>
                </ul>
            </div>
            <!--head-main-->
            <main role="main">
                @RenderBody()
            </main>

            <footer id="foot-wrap" class="left relative">
                <div id="foot-top-wrap" class="left relative">
                    <div class="body-main-out relative">
                        <div class="body-main-in">
                            <div id="foot-widget-wrap" class="left relative">
                                <div class="foot-widget left relative">
                                    <div class="foot-logo left realtive">
                                        <img src="~/template/mvpthemes.com/flexmag/wp-content/themes/flex-mag/images/logos/logo-foot.png" alt="Flex Mag" data-rjs="2" />
                                    </div><!--foot-logo-->
                                    <div class="foot-info-text left relative">
                                        <p>Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem?</p><p>
                                            The theme is part of the best blog/magazine <a href="https://premiumcoding.com/colourful-wordpress-themes-blogs-magazines/">WordPress Themes</a> on PremiumCoding.
                                        </p>
                                    </div><!--footer-info-text-->

                                    <div class="foot-soc left relative">
                                        <ul class="foot-soc-list relative">
                                            <li class="foot-soc-fb">
                                                <a href="http://www.facebook.com/envato" target="_blank"><i class="fa-brands fa-square-facebook"></i></a>
                                            </li>
                                            <li class="foot-soc-twit">
                                                <a href="http://www.twitter.com/mvpthemes" target="_blank"><i class="fa-brands fa-square-twitter"></i></i></a>
                                            </li>
                                            <li class="foot-soc-pin">
                                                <a href="http://www.pinterest.com/envato" target="_blank"><i class="fa-brands fa-square-pinterest"></i></a>
                                            </li>
                                            <li class="foot-soc-inst">
                                                <a href="http://www.instagram.com/envato" target="_blank"><i class="fa-brands fa-square-instagram"></i></a>
                                            </li>
                                            <li class="foot-soc-yt">
                                                <a href="https://www.youtube.com/user/envato" target="_blank"><i class="fa-brands fa-square-youtube"></i></a>
                                            </li>
                                            <li class="foot-soc-link">
                                                <a href="https://www.linkedin.com/company/envato" target="_blank"><i class="fa-brands fa-linkedin"></i></a>
                                            </li>
                                            <li class="foot-soc-tumb">
                                                <a href="http://wonderfulworldofwebdesign.tumblr.com/" target="_blank"><i class="fa-brands fa-square-tumblr"></i></a>
                                            </li>
                                            <li class="foot-soc-rss">
                                                <a href="feed/rss/index.html" target="_blank"><i class="fa-solid fa-rss"></i></a>
                                            </li>
                                        </ul>
                                    </div><!--foot-soc-->
                                </div><!--foot-widget-->
                                <div id="mvp_catlist_widget-4" class="foot-widget left relative mvp_catlist_widget">
                                    <h3 class="foot-head">Latest News</h3>			<div class="blog-widget-wrap left relative">
                                        <ul class="blog-widget-list left relative">
                                            <li>

                                                <a href="flex-mag-powerfully-simple-wordpress-theme/index.html" rel="bookmark">
                                                    <div class="blog-widget-img left relative">
                                                        <img width="300" height="180" src="wp-content/uploads/2015/09/woman-beach2-300x180.jpg" class="widget-img-main wp-post-image" alt="" decoding="async" loading="lazy" srcset="https://mvpthemes.com/flexmag/wp-content/uploads/2015/09/woman-beach2-300x180.jpg 300w, https://mvpthemes.com/flexmag/wp-content/uploads/2015/09/woman-beach2-1024x614.jpg 1024w, https://mvpthemes.com/flexmag/wp-content/uploads/2015/09/woman-beach2-1000x600.jpg 1000w, https://mvpthemes.com/flexmag/wp-content/uploads/2015/09/woman-beach2-450x270.jpg 450w, https://mvpthemes.com/flexmag/wp-content/uploads/2015/09/woman-beach2.jpg 1600w" sizes="(max-width: 300px) 100vw, 300px" />									<img width="80" height="80" src="wp-content/uploads/2015/09/woman-beach2-80x80.jpg" class="widget-img-side wp-post-image" alt="" decoding="async" loading="lazy" srcset="https://mvpthemes.com/flexmag/wp-content/uploads/2015/09/woman-beach2-80x80.jpg 80w, https://mvpthemes.com/flexmag/wp-content/uploads/2015/09/woman-beach2-150x150.jpg 150w, https://mvpthemes.com/flexmag/wp-content/uploads/2015/09/woman-beach2-180x180.jpg 180w, https://mvpthemes.com/flexmag/wp-content/uploads/2015/09/woman-beach2-600x600.jpg 600w" sizes="(max-width: 80px) 100vw, 80px" />																		<div class="feat-info-wrap">
                                                            <div class="feat-info-views">
                                                                <i class="fa fa-eye fa-2"></i> <span class="feat-info-text">45.4K</span>
                                                            </div><!--feat-info-views-->
                                                            <div class="feat-info-comm">
                                                                <i class="fa fa-comment"></i> <span class="feat-info-text">29</span>
                                                            </div><!--feat-info-comm-->
                                                        </div><!--feat-info-wrap-->
                                                    </div><!--blog-widget-img-->
                                                    <div class="blog-widget-text left relative">
                                                        <span class="side-list-cat">Business</span>
                                                        <h2>Flex Mag: Powerfully simple WordPress theme</h2>
                                                        <p>Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et...</p>
                                                    </div><!--blog-widget-text-->
                                                </a>
                                            </li>
                                            <li>

                                                <a href="only-three-players-have-a-winning-record-against-rafael-nadal/index.html" rel="bookmark">
                                                    <div class="blog-widget-img left relative">
                                                        <img width="300" height="180" src="wp-content/uploads/2015/09/tennis1-300x180.jpg" class="widget-img-main wp-post-image" alt="" decoding="async" loading="lazy" srcset="https://mvpthemes.com/flexmag/wp-content/uploads/2015/09/tennis1-300x180.jpg 300w, https://mvpthemes.com/flexmag/wp-content/uploads/2015/09/tennis1-450x270.jpg 450w, https://mvpthemes.com/flexmag/wp-content/uploads/2015/09/tennis1.jpg 1000w" sizes="(max-width: 300px) 100vw, 300px" />									<img width="80" height="80" src="wp-content/uploads/2015/09/tennis1-80x80.jpg" class="widget-img-side wp-post-image" alt="" decoding="async" loading="lazy" srcset="https://mvpthemes.com/flexmag/wp-content/uploads/2015/09/tennis1-80x80.jpg 80w, https://mvpthemes.com/flexmag/wp-content/uploads/2015/09/tennis1-150x150.jpg 150w, https://mvpthemes.com/flexmag/wp-content/uploads/2015/09/tennis1-180x180.jpg 180w, https://mvpthemes.com/flexmag/wp-content/uploads/2015/09/tennis1-600x600.jpg 600w" sizes="(max-width: 80px) 100vw, 80px" />																		<div class="feat-info-wrap">
                                                            <div class="feat-info-views">
                                                                <i class="fa fa-eye fa-2"></i> <span class="feat-info-text">100.5K</span>
                                                            </div><!--feat-info-views-->
                                                            <div class="feat-info-comm">
                                                                <i class="fa fa-comment"></i> <span class="feat-info-text">19</span>
                                                            </div><!--feat-info-comm-->
                                                        </div><!--feat-info-wrap-->
                                                    </div><!--blog-widget-img-->
                                                    <div class="blog-widget-text left relative">
                                                        <span class="side-list-cat">Sports</span>
                                                        <h2>Only three players have a winning record against Rafael Nadal</h2>
                                                        <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia...</p>
                                                    </div><!--blog-widget-text-->
                                                </a>
                                            </li>
                                            <li>

                                                <a href="terrell-owens-says-he-doesnt-care-about-the-hall-of-fame/index.html" rel="bookmark">
                                                    <div class="blog-widget-img left relative">
                                                        <img width="300" height="180" src="wp-content/uploads/2015/07/football1-300x180.jpg" class="widget-img-main wp-post-image" alt="" decoding="async" loading="lazy" srcset="https://mvpthemes.com/flexmag/wp-content/uploads/2015/07/football1-300x180.jpg 300w, https://mvpthemes.com/flexmag/wp-content/uploads/2015/07/football1-450x270.jpg 450w, https://mvpthemes.com/flexmag/wp-content/uploads/2015/07/football1.jpg 1000w" sizes="(max-width: 300px) 100vw, 300px" />									<img width="80" height="80" src="wp-content/uploads/2015/07/football1-80x80.jpg" class="widget-img-side wp-post-image" alt="" decoding="async" loading="lazy" srcset="https://mvpthemes.com/flexmag/wp-content/uploads/2015/07/football1-80x80.jpg 80w, https://mvpthemes.com/flexmag/wp-content/uploads/2015/07/football1-150x150.jpg 150w, https://mvpthemes.com/flexmag/wp-content/uploads/2015/07/football1-180x180.jpg 180w, https://mvpthemes.com/flexmag/wp-content/uploads/2015/07/football1-600x600.jpg 600w" sizes="(max-width: 80px) 100vw, 80px" />																		<div class="feat-info-wrap">
                                                            <div class="feat-info-views">
                                                                <i class="fa fa-eye fa-2"></i> <span class="feat-info-text">118.0K</span>
                                                            </div><!--feat-info-views-->
                                                            <div class="feat-info-comm">
                                                                <i class="fa fa-comment"></i> <span class="feat-info-text">18</span>
                                                            </div><!--feat-info-comm-->
                                                        </div><!--feat-info-wrap-->
                                                        <div class="feat-vid-but">
                                                            <i class="fa fa-play fa-3"></i>
                                                        </div><!--feat-vid-but-->
                                                    </div><!--blog-widget-img-->
                                                    <div class="blog-widget-text left relative">
                                                        <span class="side-list-cat">Sports</span>
                                                        <h2>Terrell Owens says he doesn&#8217;t care about the Hall of Fame</h2>
                                                        <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia...</p>
                                                    </div><!--blog-widget-text-->
                                                </a>
                                            </li>
                                            <li>

                                                <a href="tesla-is-installing-rapid-charging-stations-in-manhattan-garages/index.html" rel="bookmark">
                                                    <div class="blog-widget-img left relative">
                                                        <img width="300" height="180" src="wp-content/uploads/2015/08/car2-300x180.jpg" class="widget-img-main wp-post-image" alt="" decoding="async" loading="lazy" srcset="https://mvpthemes.com/flexmag/wp-content/uploads/2015/08/car2-300x180.jpg 300w, https://mvpthemes.com/flexmag/wp-content/uploads/2015/08/car2-450x270.jpg 450w, https://mvpthemes.com/flexmag/wp-content/uploads/2015/08/car2.jpg 1000w" sizes="(max-width: 300px) 100vw, 300px" />									<img width="80" height="80" src="wp-content/uploads/2015/08/car2-80x80.jpg" class="widget-img-side wp-post-image" alt="" decoding="async" loading="lazy" srcset="https://mvpthemes.com/flexmag/wp-content/uploads/2015/08/car2-80x80.jpg 80w, https://mvpthemes.com/flexmag/wp-content/uploads/2015/08/car2-150x150.jpg 150w, https://mvpthemes.com/flexmag/wp-content/uploads/2015/08/car2-180x180.jpg 180w, https://mvpthemes.com/flexmag/wp-content/uploads/2015/08/car2-600x600.jpg 600w" sizes="(max-width: 80px) 100vw, 80px" />																		<div class="feat-info-wrap">
                                                            <div class="feat-info-views">
                                                                <i class="fa fa-eye fa-2"></i> <span class="feat-info-text">124.3K</span>
                                                            </div><!--feat-info-views-->
                                                            <div class="feat-info-comm">
                                                                <i class="fa fa-comment"></i> <span class="feat-info-text">9</span>
                                                            </div><!--feat-info-comm-->
                                                        </div><!--feat-info-wrap-->
                                                    </div><!--blog-widget-img-->
                                                    <div class="blog-widget-text left relative">
                                                        <span class="side-list-cat">Business</span>
                                                        <h2>Tesla is installing rapid charging stations in Manhattan garages</h2>
                                                        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam...</p>
                                                    </div><!--blog-widget-text-->
                                                </a>
                                            </li>
                                            <li>

                                                <a href="15-date-night-outfits-inspired-by-celebs/index.html" rel="bookmark">
                                                    <div class="blog-widget-img left relative">
                                                        <img width="300" height="180" src="wp-content/uploads/2015/08/couple-fashion-300x180.jpg" class="widget-img-main wp-post-image" alt="" decoding="async" loading="lazy" srcset="https://mvpthemes.com/flexmag/wp-content/uploads/2015/08/couple-fashion-300x180.jpg 300w, https://mvpthemes.com/flexmag/wp-content/uploads/2015/08/couple-fashion-1000x600.jpg 1000w, https://mvpthemes.com/flexmag/wp-content/uploads/2015/08/couple-fashion-450x270.jpg 450w" sizes="(max-width: 300px) 100vw, 300px" />									<img width="80" height="80" src="wp-content/uploads/2015/08/couple-fashion-80x80.jpg" class="widget-img-side wp-post-image" alt="" decoding="async" loading="lazy" srcset="https://mvpthemes.com/flexmag/wp-content/uploads/2015/08/couple-fashion-80x80.jpg 80w, https://mvpthemes.com/flexmag/wp-content/uploads/2015/08/couple-fashion-150x150.jpg 150w, https://mvpthemes.com/flexmag/wp-content/uploads/2015/08/couple-fashion-180x180.jpg 180w, https://mvpthemes.com/flexmag/wp-content/uploads/2015/08/couple-fashion-600x600.jpg 600w" sizes="(max-width: 80px) 100vw, 80px" />																		<div class="feat-info-wrap">
                                                            <div class="feat-info-views">
                                                                <i class="fa fa-eye fa-2"></i> <span class="feat-info-text">109.7K</span>
                                                            </div><!--feat-info-views-->
                                                            <div class="feat-info-comm">
                                                                <i class="fa fa-comment"></i> <span class="feat-info-text">9</span>
                                                            </div><!--feat-info-comm-->
                                                        </div><!--feat-info-wrap-->
                                                    </div><!--blog-widget-img-->
                                                    <div class="blog-widget-text left relative">
                                                        <span class="side-list-cat">Fashion</span>
                                                        <h2>15 Date Night Outfits Inspired by Celebs</h2>
                                                        <p>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit,...</p>
                                                    </div><!--blog-widget-text-->
                                                </a>
                                            </li>
                                        </ul>
                                    </div><!--blog-widget-wrap-->
                                </div><div id="mvp_tags_widget-2" class="foot-widget left relative mvp_tags_widget">
                                    <h3 class="foot-head">Popular Tags</h3>
                                    <div class="tag-cloud left relative">
                                        <a href="tag/gallery/index.html" class="tag-cloud-link tag-link-259 tag-link-position-1" style="font-size: 10px;">gallery</a>
                                        <a href="tag/sports/index.html" class="tag-cloud-link tag-link-86 tag-link-position-2" style="font-size: 10px;">Sports</a>
                                        <a href="tag/featured/index.html" class="tag-cloud-link tag-link-7 tag-link-position-3" style="font-size: 10px;">Featured</a>
                                        <a href="tag/business/index.html" class="tag-cloud-link tag-link-42 tag-link-position-4" style="font-size: 10px;">Business</a>
                                        <a href="tag/entertainment/index.html" class="tag-cloud-link tag-link-56 tag-link-position-5" style="font-size: 10px;">Entertainment</a>
                                        <a href="tag/fashion/index.html" class="tag-cloud-link tag-link-70 tag-link-position-6" style="font-size: 10px;">Fashion</a>
                                        <a href="tag/tech/index.html" class="tag-cloud-link tag-link-62 tag-link-position-7" style="font-size: 10px;">Tech</a>
                                        <a href="tag/movies/index.html" class="tag-cloud-link tag-link-54 tag-link-position-8" style="font-size: 10px;">Movies</a>
                                        <a href="tag/music/index.html" class="tag-cloud-link tag-link-57 tag-link-position-9" style="font-size: 10px;">Music</a>
                                        <a href="tag/featured2/index.html" class="tag-cloud-link tag-link-152 tag-link-position-10" style="font-size: 10px;">Featured2</a>
                                        <a href="tag/nfl/index.html" class="tag-cloud-link tag-link-10 tag-link-position-11" style="font-size: 10px;">NFL</a>
                                        <a href="tag/football/index.html" class="tag-cloud-link tag-link-11 tag-link-position-12" style="font-size: 10px;">Football</a>
                                        <a href="tag/google/index.html" class="tag-cloud-link tag-link-50 tag-link-position-13" style="font-size: 10px;">Google</a>
                                        <a href="tag/celebrities/index.html" class="tag-cloud-link tag-link-76 tag-link-position-14" style="font-size: 10px;">Celebrities</a>
                                        <a href="tag/amazon/index.html" class="tag-cloud-link tag-link-78 tag-link-position-15" style="font-size: 10px;">Amazon</a>
                                        <a href="tag/mlb/index.html" class="tag-cloud-link tag-link-4 tag-link-position-16" style="font-size: 10px;">MLB</a>
                                        <a href="tag/basketball/index.html" class="tag-cloud-link tag-link-25 tag-link-position-17" style="font-size: 10px;">Basketball</a>
                                        <a href="tag/nba/index.html" class="tag-cloud-link tag-link-26 tag-link-position-18" style="font-size: 10px;">NBA</a>
                                        <a href="tag/tennis/index.html" class="tag-cloud-link tag-link-34 tag-link-position-19" style="font-size: 10px;">Tennis</a>
                                        <a href="tag/cars/index.html" class="tag-cloud-link tag-link-40 tag-link-position-20" style="font-size: 10px;">Cars</a>
                                        <a href="tag/phones/index.html" class="tag-cloud-link tag-link-64 tag-link-position-21" style="font-size: 10px;">Phones</a>
                                        <a href="tag/outfits/index.html" class="tag-cloud-link tag-link-77 tag-link-position-22" style="font-size: 10px;">Outfits</a>
                                        <a href="tag/hot/index.html" class="tag-cloud-link tag-link-153 tag-link-position-23" style="font-size: 10px;">Hot</a>
                                        <a href="tag/baseball/index.html" class="tag-cloud-link tag-link-5 tag-link-position-24" style="font-size: 10px;">Baseball</a>
                                        <a href="tag/packages/index.html" class="tag-cloud-link tag-link-94 tag-link-position-25" style="font-size: 10px;">Packages</a>
                                        <a href="tag/trade/index.html" class="tag-cloud-link tag-link-6 tag-link-position-26" style="font-size: 10px;">Trade</a>
                                        <a href="tag/clothing/index.html" class="tag-cloud-link tag-link-92 tag-link-position-27" style="font-size: 10px;">Clothing</a>
                                        <a href="tag/madden-nfl-16/index.html" class="tag-cloud-link tag-link-9 tag-link-position-28" style="font-size: 10px;">Madden NFL 16</a>
                                        <a href="tag/players/index.html" class="tag-cloud-link tag-link-12 tag-link-position-29" style="font-size: 10px;">Players</a>
                                        <a href="tag/ratings/index.html" class="tag-cloud-link tag-link-13 tag-link-position-30" style="font-size: 10px;">Ratings</a>
                                    </div>

                                </div>
                            </div><!--foot-widget-wrap-->
                        </div><!--body-main-in-->
                    </div><!--body-main-out-->
                </div>
                <!--foot-top-->
                <div id="foot-bot-wrap" class="left relative">
                    <div class="body-main-out relative">
                        <div class="body-main-in">
                            <div id="foot-bot" class="left relative">
                                <div class="foot-menu relative">
                                    <div class="menu-footer-menu-container">
                                        <ul id="menu-footer-menu" class="menu">
                                            <li id="menu-item-1817" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1817"><a href="index.html">Home</a></li>
                                            <li id="menu-item-1818" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1818"><a href="http://themeforest.net/item/flex-mag-responsive-wordpress-news-theme/12772303?ref=mvpthemes">Buy Theme</a></li>
                                            <li id="menu-item-1819" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1819"><a href="shop/index.html">Shop</a></li>
                                            <li id="menu-item-1820" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1820"><a href="#">About</a></li>
                                        </ul>
                                    </div>
                                </div><!--foot-menu-->
                                <div class="foot-copy relative">
                                    <p>Copyright © 2017 Flex Mag Theme. Theme by MVP Themes, powered by Wordpress.</p>
                                </div><!--foot-copy-->
                            </div><!--foot-bot-->
                        </div><!--body-main-in-->
                    </div><!--body-main-out-->
                </div><!--foot-bot-->
            </footer>



        </div>
    </div>




    @*Import template*@
    <script type="text/javascript">
        jQuery(document).ready(function () {
            jQuery("#post-right-col,#post-sidebar-wrap,.home-mid-col,.home-right-col,#arch-right-col").theiaStickySidebar({ "containerSelector": "", "additionalMarginTop": "65", "additionalMarginBottom": "15", "updateSidebarHeight": false, "minWidth": "767", "sidebarBehavior": "modern" });
        });
    </script>

    <script type="text/javascript">
        jQuery(document).ready(function ($) {

            // Back to Top Button
            var duration = 500;
            $('.back-to-top').click(function (event) {
                event.preventDefault();
                $('html, body').animate({ scrollTop: 0 }, duration);
                return false;
            });

            // Main Menu Dropdown Toggle
            $('.menu-item-has-children a').click(function (event) {
                event.stopPropagation();
                location.href = this.href;
            });

            $('.menu-item-has-children').click(function () {
                $(this).addClass('toggled');
                if ($('.menu-item-has-children').hasClass('toggled')) {
                    $(this).children('ul').toggle();
                    $('.fly-nav-menu').getNiceScroll().resize();
                }
                $(this).toggleClass('tog-minus');
                return false;
            });

            // Main Menu Scroll
            $('.fly-nav-menu').niceScroll({ cursorcolor: "#888", cursorwidth: 7, cursorborder: 0, zindex: 999999 });

            // Main Menu Scroll
            $('.fly-nav-menu').niceScroll({ cursorcolor: "#888", cursorwidth: 7, cursorborder: 0, zindex: 999999 });

            $(".comment-click-156").on("click", function () {
                $(".com-click-id-156").show();
                $(".disqus-thread-156").show();
                $(".com-but-156").hide();
            });

            // Infinite Scroll
            $('.infinite-content').infinitescroll({
                navSelector: ".nav-links",
                nextSelector: ".nav-links a:first",
                itemSelector: ".infinite-post",
                loading: {
                    msgText: "Loading more posts...",
                    finishedMsg: "Sorry, no more posts"
                },
                errorCallback: function () { $(".inf-more-but").css("display", "none") }
            });
            $(window).unbind('.infscr');
            $(".inf-more-but").click(function () {
                $('.infinite-content').infinitescroll('retrieve');
                return false;
            });
            if ($('.nav-links a').length) {
                $('.inf-more-but').css('display', 'inline-block');
            } else {
                $('.inf-more-but').css('display', 'none');
            }

            // The slider being synced must be initialized first
            $('.post-gallery-bot').flexslider({
                animation: "slide",
                controlNav: false,
                animationLoop: true,
                slideshow: false,
                itemWidth: 80,
                itemMargin: 10,
                asNavFor: '.post-gallery-top'
            });

            $('.post-gallery-top').flexslider({
                animation: "fade",
                controlNav: false,
                animationLoop: true,
                slideshow: false,
                prevText: "&lt;",
                nextText: "&gt;",
                sync: ".post-gallery-bot"
            });

        });
    </script>

    <script type='text/javascript'>
        (function () {
            var c = document.body.className;
            c = c.replace(/woocommerce-no-js/, 'woocommerce-js');
            document.body.className = c;
        })();
    </script>
    <script type="text/javascript" id="wc-order-attribution-js-extra">
        /* <![CDATA[ */
        var wc_order_attribution = { "params": { "lifetime": 1.0000000000000000818030539140313095458623138256371021270751953125e-5, "session": 30, "ajaxurl": "https:\/\/mvpthemes.com\/flexmag\/wp-admin\/admin-ajax.php", "prefix": "wc_order_attribution_", "allowTracking": true }, "fields": { "source_type": "current.typ", "referrer": "current_add.rf", "utm_campaign": "current.cmp", "utm_source": "current.src", "utm_medium": "current.mdm", "utm_content": "current.cnt", "utm_id": "current.id", "utm_term": "current.trm", "session_entry": "current_add.ep", "session_start_time": "current_add.fd", "session_pages": "session.pgs", "session_count": "udata.vst", "user_agent": "udata.uag" } };
        /* ]]> */
    </script>
    <script type="text/javascript" id="reviewer-public-script-js-extra">
        /* <![CDATA[ */
        var reviewerRatingObj = { "ajax_nonce": "f2d15646c5", "ajax_url": "https:\/\/mvpthemes.com\/flexmag\/wp-admin\/admin-ajax.php", "action": "rwp_ajax_action_rating" };
        /* ]]> */
    </script>
    <script type="text/javascript" id="reviewer-reviews-boxes-script-js-extra">
        /* <![CDATA[ */
        var reviewerJudgeObj = { "ajax_nonce": "e55c172f9c", "ajax_url": "https:\/\/mvpthemes.com\/flexmag\/wp-admin\/admin-ajax.php", "action": "rwp_ajax_action_like" };
        var reviewerQueryURs = { "ajax_nonce": "f0091e8aee", "ajax_url": "https:\/\/mvpthemes.com\/flexmag\/wp-admin\/admin-ajax.php", "action": "rwp_reviews_box_query_users_reviews" };
        /* ]]> */
    </script>
    <script type="text/javascript" id="reviewer-widget-users-reviews-script-js-extra">

        var reviewerQueryAllURs = { "ajax_nonce": "a95ddd654d", "ajax_url": "https:\/\/mvpthemes.com\/flexmag\/wp-admin\/admin-ajax.php", "action": "rwp_reviews_box_query_all_users_reviews" };

    </script>

    <script type="text/javascript" src="~/template/mvpthemes.com/flexmag/wp-includes/js/comment-reply.min5352.js?ver=6.4.4" id="comment-reply-js" async="async" data-wp-strategy="async"></script>
    <script type="text/javascript" src="~/template/mvpthemes.com/flexmag/wp-content/plugins/mvp-scoreboard/js/score-script5352.js?ver=6.4.4" id="mvp-score-script-js"></script>
    <script type="text/javascript" src="~/template/mvpthemes.com/flexmag/wp-content/plugins/theia-sticky-sidebar/js/theia-sticky-sidebare7f0.js?ver=1.3.1" id="theia-sticky-sidebar.js-js"></script>
    <script type="text/javascript" src="~/template/mvpthemes.com/flexmag/wp-content/plugins/woocommerce/assets/js/sourcebuster/sourcebuster.min117a.js?ver=8.7.0" id="sourcebuster-js-js"></script>
    <script type="text/javascript" src="~/template/mvpthemes.com/flexmag/wp-content/plugins/anti-spam/assets/js/anti-spama927.js?ver=7.3.5" id="anti-spam-script-js"></script>

    <script type="text/javascript" src="~/template/mvpthemes.com/flexmag/wp-content/plugins/woocommerce/assets/js/frontend/order-attribution.min117a.js?ver=8.7.0" id="wc-order-attribution-js"></script>
    <script type="text/javascript" src="~/template/mvpthemes.com/www.google.com/recaptcha/api6c7d.js?onload=rwpReCaptchaLoad&amp;render=explicit&amp;ver=3.8.1" id="reviewer-recaptcha-js"></script>
    <script type="text/javascript" src="~/template/mvpthemes.com/flexmag/wp-content/plugins/reviewer/public/assets/js/jquery.nouislider.all.min7e2e.js?ver=3.8.1" id="reviewer-nouislider-plugin-js"></script>
    <script type="text/javascript" src="~/template/mvpthemes.com/flexmag/wp-content/plugins/reviewer/public/assets/js/jquery.knob7e2e.js?ver=3.8.1" id="reviewer-knob-plugin-js"></script>

    <script type="text/javascript" src="~/template/mvpthemes.com/flexmag/wp-content/plugins/reviewer/public/assets/js/reviewer.public.min7e2e.js?ver=3.8.1" id="reviewer-public-script-js"></script>

    <script type="text/javascript" src="~/template/mvpthemes.com/flexmag/wp-content/plugins/reviewer/public/assets/js/reviewer-reviews-boxes7e2e.js?ver=3.8.1" id="reviewer-reviews-boxes-script-js"></script>
    <script type="text/javascript" src="~/template/mvpthemes.com/flexmag/wp-content/plugins/reviewer/public/assets/js/reviewer-widget-users-reviews7e2e.js?ver=3.8.1" id="reviewer-widget-users-reviews-script-js"></script>
    <script type="text/javascript" src="~/template/mvpthemes.com/flexmag/wp-content/themes/flex-mag/js/scripts5352.js?ver=6.4.4" id="mvp-flexmag-js"></script>
    <script type="text/javascript" src="~/template/mvpthemes.com/flexmag/wp-content/themes/flex-mag/js/jquery.infinitescroll.min5352.js?ver=6.4.4" id="mvp-infinitescroll-js"></script>
    <script type="text/javascript" src="~/template/mvpthemes.com/flexmag/wp-content/themes/flex-mag/js/autoloadpost5352.js?ver=6.4.4" id="mvp-autoloadpost-js"></script>
    <script type="text/javascript" src="~/template/mvpthemes.com/flexmag/wp-content/themes/flex-mag/js/retina5352.js?ver=6.4.4" id="retina-js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    @*Import template*@

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    @*<script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/mainHomeTemplate.js" asp-append-version="true"></script>*@
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
