@using BusinessObjects.Models;
@using WebNewsAPIs.Common;
@using WebNewsAPIs.Dtos;
@using Newtonsoft.Json;
@using Microsoft.AspNetCore.Http;

@{
    ViewUserDto user = null;
    var userLogin = Context.Session.GetString(SaveKeySystem.userLogin);
    string pathImageDefault = "";
    if (userLogin != null)
    {
        user = JsonConvert.DeserializeObject<ViewUserDto>(userLogin);
        user.Image = new FinalProjectPRN231Context().Users.FirstOrDefault(c => c.UserId == user.UserId).Image;
    }
    if(user != null)
    {
        
        string pathImageMale = "/images/male_default.png";
        string pathImageFemale = "/images/female_default.png";
        string pathImageKhac = "/images/img_default.png";


        if (user.Gender != null)
        {
            if (user.Gender.Equals("Nam"))
            {
                pathImageDefault = pathImageMale;
            }
            else if (user.Gender.Equals("Nữ"))
            {
                pathImageDefault = pathImageFemale;
            }
            else if (user.Gender.Equals("Khác"))
            {
                pathImageDefault = pathImageKhac;
            }



            pathImageDefault = user.Image == null ? pathImageDefault : user.Image;
        }
        else
        {
            pathImageDefault = pathImageKhac;
        }
    }
    

}
@if (user == null)
{
    <div style="margin-right: 10px" class="d-flex justify-content-between align-items-center text-center">
        <div>
            <a class="text-white" asp-controller="User" asp-action="Login">
                <i style="font-size:30px;display:block;padding-top:10px" title="Login" class="fa-regular fa-user"></i>
                SignIn
            </a>
        </div>
        <div>
            <a class="text-white" asp-controller="User" asp-action="Register">
                <i style="font-size:30px;display:block;padding-top:10px" title="Login" class="fa-solid fa-user-plus"></i>

                SignUp
            </a>
        </div>
    </div>
}
else
{
    <div style="margin-right: 10px" class="d-flex justify-content-between align-items-center text-center">
        <div>
            <a class="text-white" asp-controller="PersonalInformation" asp-action="PersonalInformationOfUser">
                <img style="object-fit:cover;width:50px;height:50px" class="img-responsive rounded-circle" src="@pathImageDefault" alt="#" />
            </a>
        </div>
        <div>
            <a class="text-white" asp-controller="User" asp-action="Logout">

                <i style="font-size:30px;display:block;padding-top:10px" title="Logout" class="fa-solid fa-right-to-bracket"></i>
                Logout
            </a>
        </div>
    </div>
}

